Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

@azure/identity readme changes
  sdk/identity/identity/README.md
Due: none

.
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/models/options.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updating to include generating a queue as well.
  sdk/servicebus/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Also, allow sendMessages to run
  sdk/servicebus/service-bus/package.json
Due: none

Add pagination for chat participants & read receipts (#12735)
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/models/options.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix test-resources.json
  sdk/attestation/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Attestation] Adding minimal testing infrastructure (#12833)
  sdk/attestation/attestation/api-extractor.json
  sdk/attestation/attestation/karma.conf.js
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/rollup.config.js
  sdk/attestation/attestation/test/public/AttestationTests.spec.ts
  sdk/attestation/attestation/test/public/PolicyGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/TokenCertTests.spec.ts
  sdk/attestation/attestation/test/utils/base64.browser.ts
  sdk/attestation/attestation/test/utils/base64.ts
  sdk/attestation/attestation/test/utils/recordedClient.ts
  sdk/attestation/ci.yml
  sdk/attestation/test-resources.json
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

The live tests and the samples use differently named variables. This doesn't have to be permanently this way but let's see if we can preserve this for a moment...
  sdk/servicebus/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Whitelist some more samples - they're self contained and don't have ordering dependencies so it's fine to run them during the smoke test.
  sdk/servicebus/service-bus/package.json
Due: none

Fix synapse versions
  sdk/synapse/synapse-access-control/src/accessControlClientContext.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-monitoring/src/monitoringClientContext.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix synapse versions (#12840)
  sdk/synapse/synapse-access-control/src/accessControlClientContext.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-monitoring/src/monitoringClientContext.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-synapse-monitoring
  sdk/synapse/synapse-monitoring/CHANGELOG.md
  sdk/synapse/synapse-monitoring/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-synapse-managed-private-endpoints
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-managed-private-endpoints/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-synapse-access-control
  sdk/synapse/synapse-access-control/CHANGELOG.md
  sdk/synapse/synapse-access-control/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-synapse-spark
  sdk/synapse/synapse-spark/CHANGELOG.md
  sdk/synapse/synapse-spark/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-synapse-artifacts
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Synapse] Add back missing Spark example
  sdk/synapse/synapse-spark/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Change namespace back to @azure
  sdk/monitor/ci.yml
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/review/opentelemetry-exporter-azure-monitor.api.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/tracing.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/src/tracing.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/index.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/tracer.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/tracer.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/swagger/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

UNDO this at some point - just dumping a teeny bit more information into the thrown exception. Something interesting is happening with the keyvault samples when it runs in the smoketest pipeline.
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-blob
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
Due: none

Fix Recordings
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete/recording_can_create_read_and_delete_a_certificate_issuer.json
Due: none

Initial release prototy[e
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-external.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-file-datalake
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-file-share
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Increment package version after release of azure-storage-queue
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: none

Add missing params
  eng/pipelines/templates/stages/archetype-sdk-external.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for storage releases (#12846)
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update invalid sample products
  sdk/communication/communication-administration/samples/javascript/README.md
  sdk/communication/communication-administration/samples/typescript/README.md
  sdk/communication/communication-sms/samples/javascript/README.md
  sdk/communication/communication-sms/samples/typescript/README.md
  sdk/eventgrid/eventgrid/samples/javascript/README.md
  sdk/eventgrid/eventgrid/samples/typescript/README.md
  sdk/tables/data-tables/samples/javascript/readme.md
  sdk/tables/data-tables/samples/typescript/readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

parse sas permission from raw object
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-blob/src/sas/BlobSASPermissions.ts
  sdk/storage/storage-blob/src/sas/ContainerSASPermissions.ts
Due: none

[test-utils-recorder] Refactor to separate node/browser codepaths (#12796)
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
  sdk/template/template/package.json
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/test-utils/recorder/rollup.config.js
  sdk/test-utils/recorder/rollup.test.config.js
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/basekarma.conf.browser.ts
  sdk/test-utils/recorder/src/createRecorder.browser.ts
  sdk/test-utils/recorder/src/createRecorder.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/recordingPath.ts
  sdk/test-utils/recorder/src/utils/recordings.browser.ts
  sdk/test-utils/recorder/src/utils/recordings.ts
  sdk/test-utils/recorder/src/utils/windowLens.ts
  sdk/test-utils/recorder/test/browser/recorder.spec.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
  sdk/test-utils/recorder/test/node/recorder.spec.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
  sdk/test-utils/recorder/test/utils.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix cosmos sample
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/Worker.ts
Due: none

[Cosmos] Fix a strictness issues in utils/encode (#12765)
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
  sdk/cosmosdb/cosmos/src/utils/encode.ts
Due: none

New common script to create API review request from artifact
  eng/common/scripts/Create-APIReview.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added common pipeline to triger API review creation
  eng/common/pipelines/templates/steps/create_apireview.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Review comment fixes
  eng/common/scripts/Create-APIReview.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Change API View URI to variable
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
