Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

remove .only
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Generated from 7513465279f4e8b897a9c582336033b185ee848e
  sdk/storage/arm-storage/src/models/blobServicesMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/managementPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage/src/models/parameters.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/operations/fileShares.ts
  sdk/storage/arm-storage/src/operations/index.ts
  sdk/storage/arm-storage/src/operations/objectReplicationPoliciesOperations.ts
  sdk/storage/arm-storage/src/storageManagementClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Harshan/sb/issue/fix test failures (#28)
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Batch receiver is taken care of.
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
Due: none

[Cosmos] Support browser crypto in Internet Explorer (#8769)
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/utils/digest.browser.ts
  sdk/cosmosdb/cosmos/src/utils/globalCrypto.ts
  sdk/cosmosdb/cosmos/src/utils/hmac.browser.ts
Due: none

Remove comment since api-extractor doesn't support type imports
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/pipeline.ts
Due: none

Generated from 31dd6c2247aabcee3f641f39ba233bedaf2bab29
  sdk/frontdoor/arm-frontdoor/src/frontDoorManagementClient.ts
  sdk/frontdoor/arm-frontdoor/src/models/frontDoorNameAvailabilityMappers.ts
  sdk/frontdoor/arm-frontdoor/src/models/frontDoorNameAvailabilityWithSubscriptionMappers.ts
  sdk/frontdoor/arm-frontdoor/src/models/index.ts
  sdk/frontdoor/arm-frontdoor/src/models/mappers.ts
  sdk/frontdoor/arm-frontdoor/src/models/parameters.ts
  sdk/frontdoor/arm-frontdoor/src/operations/frontDoorNameAvailability.ts
  sdk/frontdoor/arm-frontdoor/src/operations/frontDoorNameAvailabilityWithSubscription.ts
  sdk/frontdoor/arm-frontdoor/src/operations/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds autopilot header support
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/Container/ContainerRequest.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
Due: none

"latest" to "^1.1.6"
  sdk/servicebus/service-bus/samples-v1/javascript/package.json
  sdk/servicebus/service-bus/samples-v1/typescript/package.json
Due: none

Bump changelog date for core-http patch
  sdk/core/core-http/CHANGELOG.md
Due: none

Adds changelog and db request and create code
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/client/Database/DatabaseRequest.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/utils/offers.ts
Due: none

Improve doc comments for the various overloads.
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Bump changelog date for core-http patch (#8777)
  sdk/core/core-http/CHANGELOG.md
Due: none

Address feedback
  sdk/core/core-https/test/pipeline.spec.ts
Due: none

bug fix from draft 1 and minor improvements
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
Due: none

Update documentation to reflect what the mode the user has chosen actually does.
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Meant to propagate the receiveMode to the deadLetterReceivers as well.
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

[Service Bus] atomManagement API - Fix test failures (#8773)
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Increment package version after release of azure-core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

[Service Bus] Adding track 1 samples in the master branch (#8607)
  eng/.docsettings.yml
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples-v1/browserSample.html
  sdk/servicebus/service-bus/samples-v1/javascript/README.md
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples-v1/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/interactiveLogin.js
  sdk/servicebus/service-bus/samples-v1/javascript/package.json
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples-v1/javascript/sample.env
  sdk/servicebus/service-bus/samples-v1/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples-v1/javascript/session.js
  sdk/servicebus/service-bus/samples-v1/javascript/useProxy.js
  sdk/servicebus/service-bus/samples-v1/tsconfig.json
  sdk/servicebus/service-bus/samples-v1/typescript/README.md
  sdk/servicebus/service-bus/samples-v1/typescript/package.json
  sdk/servicebus/service-bus/samples-v1/typescript/sample.env
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/interactiveLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/session.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples-v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7b979641fd7f464632d9608bbfb6701fa3c60f1b
  sdk/search/arm-search/LICENSE.txt
  sdk/search/arm-search/README.md
  sdk/search/arm-search/package.json
  sdk/search/arm-search/rollup.config.js
  sdk/search/arm-search/src/models/adminKeysMappers.ts
  sdk/search/arm-search/src/models/index.ts
  sdk/search/arm-search/src/models/mappers.ts
  sdk/search/arm-search/src/models/operationsMappers.ts
  sdk/search/arm-search/src/models/queryKeysMappers.ts
  sdk/search/arm-search/src/models/servicesMappers.ts
  sdk/search/arm-search/src/operations/adminKeys.ts
  sdk/search/arm-search/src/operations/queryKeys.ts
  sdk/search/arm-search/src/operations/services.ts
  sdk/search/arm-search/src/searchManagementClientContext.ts
  sdk/search/arm-search/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Porting test fixes from master
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Updated with similar text to Ramya's suggestion
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Let's try this one out.
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

We've got those entity specific names!
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Updated with Ramya's addition to mention the dead letter queue and improve cross-advertising of features. :)
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Porting test fixes from master (#8781)
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Increment package version after release of azure-core-http (#8779)
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

We don't need this comment.
  sdk/keyvault/keyvault-certificates/test/challengeBasedAuthenticationPolicy.test.ts
Due: none

recorder from 0f63ba749be6cb204baafa4099477874099b4ca9
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

making sure things build again
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-certificates/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Whoops, should have committed with the previous commit. This is the "clear the context.streamingReceiver value if it just comes back invalid" commit.
  sdk/servicebus/service-bus/src/receiver.ts
Due: none

challenge based auth hotfix to keyvault-certificates
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/core/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-certificates/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/core/utils/constants.ts
  sdk/keyvault/keyvault-certificates/test/challengeBasedAuthenticationPolicy.test.ts
Due: none

Generated from e4079bae282770b1dcba84ef10d51d0f97d7e4e5
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/parameters.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/privateLinkResourcesMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/accounts.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/privateEndpointConnections.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/privateLinkResources.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 87bda288a13ceddb8bc764e7c3bc8fa60a6ba3c4
  sdk/consumption/arm-consumption/LICENSE.txt
  sdk/consumption/arm-consumption/README.md
  sdk/consumption/arm-consumption/package.json
  sdk/consumption/arm-consumption/rollup.config.js
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
  sdk/consumption/arm-consumption/src/consumptionManagementClientContext.ts
  sdk/consumption/arm-consumption/src/models/balancesMappers.ts
  sdk/consumption/arm-consumption/src/models/budgetsMappers.ts
  sdk/consumption/arm-consumption/src/models/chargesMappers.ts
  sdk/consumption/arm-consumption/src/models/creditsMappers.ts
  sdk/consumption/arm-consumption/src/models/eventsOperationsMappers.ts
  sdk/consumption/arm-consumption/src/models/forecastsMappers.ts
  sdk/consumption/arm-consumption/src/models/index.ts
  sdk/consumption/arm-consumption/src/models/lotsOperationsMappers.ts
  sdk/consumption/arm-consumption/src/models/mappers.ts
  sdk/consumption/arm-consumption/src/models/marketplacesMappers.ts
  sdk/consumption/arm-consumption/src/models/operationsMappers.ts
  sdk/consumption/arm-consumption/src/models/parameters.ts
  sdk/consumption/arm-consumption/src/models/priceSheetMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationRecommendationsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationTransactionsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationsDetailsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationsSummariesMappers.ts
  sdk/consumption/arm-consumption/src/models/tagsMappers.ts
  sdk/consumption/arm-consumption/src/models/usageDetailsMappers.ts
  sdk/consumption/arm-consumption/src/operations/budgets.ts
  sdk/consumption/arm-consumption/src/operations/charges.ts
  sdk/consumption/arm-consumption/src/operations/credits.ts
  sdk/consumption/arm-consumption/src/operations/eventsOperations.ts
  sdk/consumption/arm-consumption/src/operations/index.ts
  sdk/consumption/arm-consumption/src/operations/lotsOperations.ts
  sdk/consumption/arm-consumption/src/operations/marketplaces.ts
  sdk/consumption/arm-consumption/src/operations/reservationRecommendations.ts
  sdk/consumption/arm-consumption/src/operations/reservationTransactions.ts
  sdk/consumption/arm-consumption/src/operations/reservationsDetails.ts
  sdk/consumption/arm-consumption/src/operations/reservationsSummaries.ts
  sdk/consumption/arm-consumption/src/operations/tags.ts
  sdk/consumption/arm-consumption/src/operations/usageDetails.ts
  sdk/consumption/arm-consumption/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

dependency testing
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/tools/dependency-testing/index.js
  eng/tools/dependency-testing/package.json
  eng/tools/dependency-testing/templates/package.json
  eng/tools/dependency-testing/templates/tsconfig.json
  eng/tools/dependency-testing/templates/tsconfig.tests.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

edit tsconfig
  eng/tools/dependency-testing/templates/tsconfig.tests.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
