Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

Remove deprecated option for prettier (#6156)
  .vscode/settings.json
  package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update pnpm
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update KeyVault API Review files
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
Due: none

[keyvault-certificates] Shortened the names of the LRO recordings
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__certificate_operation/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__certificate_operation/recording_can_wait_until_a_certificate_is_created_by_getting_the_poller_from_getcertificateoperation.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__create/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__create/recording_can_wait_until_a_certificate_is_created.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__delete/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__delete/recording_can_wait_until_a_certificate_is_deleted.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__recoverdelete/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__recoverdelete/recording_can_wait_until_a_certificate_is_recovered.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__certificate_operation/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__certificate_operation/recording_can_wait_until_a_certificate_is_created_by_getting_the_poller_from_getcertificateoperation.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__create/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__create/recording_can_wait_until_a_certificate_is_created.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__delete/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__delete/recording_can_wait_until_a_certificate_is_deleted.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_recover_a_deleted_certificate_with_requestoptions_timeout.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_wait_until_a_certificate_is_recovered.js
  sdk/keyvault/keyvault-certificates/test/lro.create.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.delete.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.operation.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.recover.test.ts
Due: none

React to breaking OT changes
  sdk/core/core-tracing/lib/tracers/noop/noOpSpan.ts
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/lib/tracers/test/testSpan.ts
  sdk/core/core-tracing/review/core-tracing.api.md
Due: none

[KeyVault-Certificates] Fixed build warnings
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
Due: none

Fix tests
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Address comments
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
Due: none

Get API to match the checkpoint manager / ownership manager split
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/inMemoryPartitionManager.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

api review
  event-hubs.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add async await on getChecks and put inside main function
  eng/tools/generate-static-index/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[keyvault-certificates] Shortened the names of the LRO recordings (#6163)
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__certificate_operation/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__certificate_operation/recording_can_wait_until_a_certificate_is_created_by_getting_the_poller_from_getcertificateoperation.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__create/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__create/recording_can_wait_until_a_certificate_is_created.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__delete/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__delete/recording_can_wait_until_a_certificate_is_deleted.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__recoverdelete/recording_can_resume_from_a_stopped_poller.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__lro__recoverdelete/recording_can_wait_until_a_certificate_is_recovered.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__certificate_operation/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__certificate_operation/recording_can_wait_until_a_certificate_is_created_by_getting_the_poller_from_getcertificateoperation.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__create/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__create/recording_can_wait_until_a_certificate_is_created.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__delete/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__delete/recording_can_wait_until_a_certificate_is_deleted.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_recover_a_deleted_certificate_with_requestoptions_timeout.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_resume_from_a_stopped_poller.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_wait_until_a_certificate_is_recovered.js
  sdk/keyvault/keyvault-certificates/test/lro.create.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.delete.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.operation.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.recover.test.ts
Due: none

make it a single event at a time handler
  event-hubs.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add list tests
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Remove skip tag
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

[KeyVault-Certificates] Fixed build warnings (#6164)
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
Due: none

add async await on getChecks and put inside main function (#6166)
  eng/tools/generate-static-index/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-lro] More documentation (#6158)
  sdk/core/core-lro/README.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/samples/typescript/samplesClient.ts
  sdk/core/core-lro/tsconfig.samples.json
Due: none

[app-configuration] Add missing dev dependencies
  sdk/appconfiguration/app-configuration/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

build fixes on keys
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/tests-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

cleaned up unrelated changes
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/tests-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Pipe through logic to disable unit tests.
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/eventhub/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Tweak parameters.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] fix issue where stale receiver references were not cleaned up
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
Due: none

update changelog
  sdk/eventhub/event-hubs/changelog.md
Due: none

Fix sort order of dev dependency @rollup/plugin-replace
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Add code owner for appconfiguration
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-lro] Add missing dev dependencies
  sdk/core/core-lro/package.json
Due: none

Add code owner for core-lro
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add code owner for test-utils
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[test-utils-recorder] Add missing dev dependencies
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[eventhubs-checkpointstore-blob] Add missing dev dependencies
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Due: none

Add code owner for test-utils (#6174)
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[storage] Use @azure/logger in storage README (#6142)
  sdk/storage/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[storage-file-share] "name" and "shareName" consistency (#6135)
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_verify_directoryclient_name_matches_file_name.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_verify_fileclient_name_matches_file_name.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_verify_directoryclient_name_matches_file_name.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_verify_fileclient_name_matches_file_name.js
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_throws_error_if_constructor_sharename_parameter_is_empty.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

remove duplicated transformation
  sdk/storage/storage-file-share/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Rename .getProperties in the top level client classes (EventHubConsumerClient and EventHubProducerClient) to be getEventHubProperties.
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/index.ts
Due: none

Make EventDataBatch an interface
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/sender.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
Due: none

Make isRunning a property instead of a method
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
Due: none

Swagger transform - Retain XStore swagger behavior - Revert file permissions content-type to "application/xml" from "application/json"(unified swagger)
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml
