Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

Fix issues from link verification
  sdk/eventhub/README.md
  sdk/keyvault/README.md
  sdk/servicebus/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 11405 in Azure/azure-rest-api-specs Swagger Correctness for Cognitive Services (#11405)
  sdk/cognitiveservices/arm-cognitiveservices/README.md
  sdk/cognitiveservices/arm-cognitiveservices/rollup.config.js
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/accountsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/operationsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/parameters.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/privateLinkResourcesMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/resourceSkusMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/accounts.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/operations.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/privateEndpointConnections.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/privateLinkResources.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/operations/resourceSkus.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 11668 in Azure/azure-rest-api-specs Microsoft.Capacity 2020-10-01-preview update (#11668)
  sdk/reservations/arm-reservations/README.md
  sdk/reservations/arm-reservations/rollup.config.js
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
  sdk/reservations/arm-reservations/src/azureReservationAPIContext.ts
  sdk/reservations/arm-reservations/src/models/autoQuotaIncreaseMappers.ts
  sdk/reservations/arm-reservations/src/models/calculateExchangeMappers.ts
  sdk/reservations/arm-reservations/src/models/exchangeMappers.ts
  sdk/reservations/arm-reservations/src/models/index.ts
  sdk/reservations/arm-reservations/src/models/mappers.ts
  sdk/reservations/arm-reservations/src/models/operationMappers.ts
  sdk/reservations/arm-reservations/src/models/parameters.ts
  sdk/reservations/arm-reservations/src/models/quotaMappers.ts
  sdk/reservations/arm-reservations/src/models/quotaRequestStatusMappers.ts
  sdk/reservations/arm-reservations/src/models/reservationMappers.ts
  sdk/reservations/arm-reservations/src/models/reservationOrderMappers.ts
  sdk/reservations/arm-reservations/src/operations/autoQuotaIncrease.ts
  sdk/reservations/arm-reservations/src/operations/calculateExchange.ts
  sdk/reservations/arm-reservations/src/operations/exchange.ts
  sdk/reservations/arm-reservations/src/operations/index.ts
  sdk/reservations/arm-reservations/src/operations/operation.ts
  sdk/reservations/arm-reservations/src/operations/quota.ts
  sdk/reservations/arm-reservations/src/operations/quotaRequestStatus.ts
  sdk/reservations/arm-reservations/src/operations/reservation.ts
  sdk/reservations/arm-reservations/src/operations/reservationOrder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools for PR 1203 (#12618)
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

regenerate blob
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
Due: none

improve samples
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/analyzeSentimentWithOpinionMining.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyze.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcare.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/analyzeSentimentWithOpinionMining.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyze.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcare.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeLinkedEntities.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

segregate tests into folders
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/error.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/tracing.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/util.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

init synapse monitoring
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/synapse/synapse-monitoring/CHANGELOG.md
  sdk/synapse/synapse-monitoring/LICENSE
  sdk/synapse/synapse-monitoring/README.md
  sdk/synapse/synapse-monitoring/api-extractor.json
  sdk/synapse/synapse-monitoring/karma.conf.js
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-monitoring/recordings/browsers/synapse_monitoring_client/recording_successfully_list_spark_jobs.json
  sdk/synapse/synapse-monitoring/recordings/node/synapse_monitoring_client/recording_successfully_list_spark_jobs.js
  sdk/synapse/synapse-monitoring/review/synapse-monitoring.api.md
  sdk/synapse/synapse-monitoring/rollup.base.config.js
  sdk/synapse/synapse-monitoring/rollup.config.js
  sdk/synapse/synapse-monitoring/rollup.test.config.js
  sdk/synapse/synapse-monitoring/sample.env
  sdk/synapse/synapse-monitoring/src/MonitoringClient.ts
  sdk/synapse/synapse-monitoring/src/constants.ts
  sdk/synapse/synapse-monitoring/src/generated/index.ts
  sdk/synapse/synapse-monitoring/src/generated/models/index.ts
  sdk/synapse/synapse-monitoring/src/generated/models/mappers.ts
  sdk/synapse/synapse-monitoring/src/generated/models/parameters.ts
  sdk/synapse/synapse-monitoring/src/generated/operations/index.ts
  sdk/synapse/synapse-monitoring/src/generated/operations/monitoring.ts
  sdk/synapse/synapse-monitoring/src/generated/synapseMonitoring.ts
  sdk/synapse/synapse-monitoring/src/generated/synapseMonitoringContext.ts
  sdk/synapse/synapse-monitoring/src/index.ts
  sdk/synapse/synapse-monitoring/src/logger.ts
  sdk/synapse/synapse-monitoring/src/models.ts
  sdk/synapse/synapse-monitoring/src/tracing.ts
  sdk/synapse/synapse-monitoring/test/monitoring.spec.ts
  sdk/synapse/synapse-monitoring/test/utils/recorderUtils.ts
  sdk/synapse/synapse-monitoring/test/utils/testAuthentication.ts
  sdk/synapse/synapse-monitoring/test/utils/utils.common.ts
  sdk/synapse/synapse-monitoring/tsconfig.json
  sdk/synapse/synapse-monitoring/typedoc.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

revert removal of support for dev/preview versioning
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-versioning-semver.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-versioning-semver.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ESLint plugin] Deprecate support for preview and dev versions (#12606)
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-versioning-semver.md
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-versioning-semver.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-versioning-semver.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

share squash root test
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient_premium/recording_share_enable_protocol__share_squash_root.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient_premium/recording_share_enable_protocol__share_squash_root.js
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

fix link errors
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix lint issues
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/poller.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

no karma timeout
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix release date in changelog
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

increase karma timeout
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update references
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/error.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/tracing.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

wip admin
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/keyVaultAdminPoller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/keyVaultCertificatePoller.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

builds and the review changes seem reasonable
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/keyVaultAdminPoller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/models.ts
Due: none

Update api.md
  sdk/core/core-client/review/core-client.api.md
Due: none

formating on certificates
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/keyVaultCertificatePoller.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/poller.ts
Due: none

add http undefined alias, remove nooppersist
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/noopPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/export.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

mv export.test.ts trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/trace.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update references
  sdk/textanalytics/ai-text-analytics/test/internal/util.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

enable min max for form recognizer
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Final round of API feedback before GA (#12608)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Due: none

moved textanalytics tests from internal to public
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Show eslint result to investigate pipeline failure
  sdk/core/core-tracing/package.json
Due: none

certificates fix
  sdk/keyvault/keyvault-certificates/src/lro/operation/poller.ts
Due: none

[Monitor] harden async try/catch (#12563)
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

incorporate test assets
  eng/tools/dependency-testing/templates/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add support for singular addParticipant
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/src/models/requests.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add unit test
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Swtich back to smoke-test before doc publishing error gets fixed.
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add Jonathan as Synapse owner
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
