Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Fix initial exports
  sdk/search/ai-search/review/ai-search.api.md
  sdk/search/ai-search/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[amqp-common] improves bundler support
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/rollup.base.config.js
  sdk/core/amqp-common/src/retry.ts
  sdk/core/amqp-common/src/util/checkNetworkConnection.browser.ts
  sdk/core/amqp-common/src/util/checkNetworkConnection.ts
Due: none

update rhea in other packages
  sdk/eventhub/testhub/package.json
  sdk/servicebus/service-bus/package.json
Due: none

the lockfile took its time showing up...
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add security policy
  SECURITY.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[amqp-common] improves bundler support (#7323)
  common/config/rush/pnpm-lock.yaml
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/rollup.base.config.js
  sdk/core/amqp-common/src/retry.ts
  sdk/core/amqp-common/src/util/checkNetworkConnection.browser.ts
  sdk/core/amqp-common/src/util/checkNetworkConnection.ts
  sdk/eventhub/testhub/package.json
  sdk/servicebus/service-bus/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixup CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-text-analytics] repo docs update for preview 2 (#7297)
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/src/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add security policy (#7324)
  SECURITY.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8c8e4b7eeaed403a2e68b9799441493694704d8e
  sdk/hanaonazure/arm-hanaonazure/src/models/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added strict, alwaysStrict to TA sample tsconfig
  sdk/textanalytics/ai-text-analytics/samples/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

WIP
  sdk/cosmosdb/cosmos/test/functional/conflict.spec.ts
Due: none

[service-bus] update amqp-common dep
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

external dep edges
  eng/tools/analyze-deps/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] update changelog date
  sdk/eventhub/event-hubs/CHANGELOG.md
Due: none

use real date
  sdk/eventhub/event-hubs/CHANGELOG.md
Due: none

[service-bus] update amqp-common dep (#7328)
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove edges for external deps
  eng/tools/analyze-deps/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] update changelog date (#7330)
  sdk/eventhub/event-hubs/CHANGELOG.md
Due: none

spacing in badges
  README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Cosmos] Prevent queryIterator from creating execution context except for item resource
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/functional/conflict.spec.ts
Due: none

Cleanup
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/functional/conflict.spec.ts
Due: none

Rename numberOfHandlesFailedToClose to closeFailureCount in CloseHandlesInfo
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_forcecloseallhandles_return_correct_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_forceclosehandle_could_return_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_forcecloseallhandles_return_correct_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_forceclosehandle_could_return_closefailurecount.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_forcecloseallhandles_return_correct_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_forceclosehandle_could_return_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_forcecloseallhandles_return_correct_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_forceclosehandle_could_return_closefailurecount.js
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] Bump up queue API version to 2019-07-07
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Due: none

[Storage] Update datalake API version to 2019-07-07
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

API extract
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Change log
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

typo and doc hash headers in Readme
  sdk/storage/storage-blob/CHANGELOG.md
Due: none

[Storage] API and change log (#7335)
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_forcecloseallhandles_return_correct_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_forceclosehandle_could_return_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_forcecloseallhandles_return_correct_closefailurecount.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_forceclosehandle_could_return_closefailurecount.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_forcecloseallhandles_return_correct_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_forceclosehandle_could_return_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_forcecloseallhandles_return_correct_closefailurecount.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_forceclosehandle_could_return_closefailurecount.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] Update API version to 2019-07-07 for queue & datalake (#7334)
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage-blob] update service and package version
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
Due: none

Increment package version after release of azure-service-bus
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Due: none

[Cosmos] Fix bug in QueryIterator for non-item resources (#7333)
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/functional/conflict.spec.ts
Due: none

Remove console.log
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
Due: none

Add support for spatial indexing, bounding boxes, and geospatial configuration
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/client/Container/ContainerDefinition.ts
  sdk/cosmosdb/cosmos/src/documents/GeospatialType.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
Due: none

Update changelog
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

pnpm updated
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
