Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

Updated changelog for appconfig for AAD support.
  sdk/appconfiguration/app-configuration/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Fixing log messages in test
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/utils/logHelpers.ts
Due: none

[amqp-common] treat ETIMEOUT error from dns.resolve as network disconnected (#6335)
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/abort-controller/package.json
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/src/retry.ts
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add in a test for when multiple subscribe() calls are used to do a "logical" read for all partitions.
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
Due: none

[service bus] forward detached errors to user error handler (#6336)
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Due: none

[app-config] Adding in TokenAuthentication support for App Configuration (#6329)
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/sample.env
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/test/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/samples.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Reject batch receive when connection fails
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Due: none

[Storage] passing package versions to build:autorest script
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[storage] log documentation changes (#6328)
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-queue/ChangeLog.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[CODEOWNERS] Fix issue where api review file owner rule not mat… (#5893)
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update to amqp-common preview version 8
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix merge issues
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/utils/fakeSubscriptionEventHandlers.ts
Due: none

Make it a bit more clear what's going on my magic constants in the tests.
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

WIP: Noop sync token support has been added (no tokens are yet being added to the map)
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/synctokenpolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Simplified messaging for 5757
  sdk/servicebus/service-bus/changelog.md
Due: none

Rerecord import certificate
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.js
Due: none

[service bus] Update amqp-common in service bus (#6330)
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update date for changelog
  sdk/servicebus/service-bus/changelog.md
Due: none

Change date for 1.1.1
  sdk/servicebus/service-bus/changelog.md
Due: none

browser version of Buffer.from
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/mergeAndImport.test.ts
Due: none

format
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
Due: none

[Service Bus] Update changelog for 1.1.1 release (#6331)
  sdk/servicebus/service-bus/changelog.md
Due: none

Fixing issue where the InMemoryCheckpointStore wasn't respecting immutability (for returned data or for incoming data)
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Address feedback
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
Due: none

Address feedback
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
Due: none

[KeyVault-Certificate] Merge in API alignment changes (#6334)
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.js
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/samples/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-certificates/samples/javascript/contacts.js
  sdk/keyvault/keyvault-certificates/samples/javascript/helloWorld.js
  sdk/keyvault/keyvault-certificates/samples/javascript/issuers.js
  sdk/keyvault/keyvault-certificates/samples/javascript/listCertificates.js
  sdk/keyvault/keyvault-certificates/samples/typescript/backupAndRestore.ts
  sdk/keyvault/keyvault-certificates/samples/typescript/contacts.ts
  sdk/keyvault/keyvault-certificates/samples/typescript/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/typescript/issuers.ts
  sdk/keyvault/keyvault-certificates/samples/typescript/listCertificates.ts
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/test/CRUD.test.ts
  sdk/keyvault/keyvault-certificates/test/list.test.ts
  sdk/keyvault/keyvault-certificates/test/mergeAndImport.test.ts
  sdk/keyvault/keyvault-certificates/test/recoverBackupRestore.test.ts
Due: none

Replaced azure.github.io links with corresponding docs.microsoft.com links in README files
  sdk/identity/identity/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-queue/README.md
Due: none

Added a test to make sure that InMemoryCheckpointStore always returns copies.and doesn't modify passed in parameters.
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Grab sub folders when testing as well
  sdk/appconfiguration/app-configuration/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] handle ownerId of "" (both claiming and abandoning) (#6333)
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/utils/fakeSubscriptionEventHandlers.ts
Due: none

Update API per comments
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

changed /// to // in aborter.ts
  sdk/core/abort-controller/src/aborter.ts
Due: none

[recorder] Improve getUniqueName
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Fix test issue - wasn't awaiting on the .close() for the subscription which caused a race with the underlying consumerClient.close().
  sdk/eventhub/event-hubs/test/misc.spec.ts
Due: none

[KeyVault] Changelogs for Keys and Secrets
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Due: none

Update CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Due: none

ConsumerClient takes a consumer group as the first parameter.
  sdk/eventhub/event-hubs/README.md
Due: none

Replaced azure.github.io links with corresponding docs.microsoft.com links in README files (#6340)
  sdk/identity/identity/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-queue/README.md
Due: none

[Storage] Rename the build:js-samples NPM script
  sdk/storage/storage-blob/.vscode/launch.json
  sdk/storage/storage-blob/execute-samples.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/.vscode/launch.json
  sdk/storage/storage-file-share/execute-samples.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/.vscode/launch.json
  sdk/storage/storage-queue/execute-samples.js
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Experiment: allow for more time for partition initialization
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none
