Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

arm-storage-release
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/models/blobContainersMappers.ts
  sdk/storage/arm-storage/src/models/blobInventoryPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/blobServicesMappers.ts
  sdk/storage/arm-storage/src/models/deletedAccountsMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/managementPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/queueMappers.ts
  sdk/storage/arm-storage/src/models/queueServicesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/models/tableOperationsMappers.ts
  sdk/storage/arm-storage/src/models/tableServicesMappers.ts
  sdk/storage/arm-storage/src/storageManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

readyToRefresh -> isReadyToRefresh
  sdk/core/core-https/src/accessTokenCache.ts
  sdk/core/core-https/src/policies/bearerTokenAuthenticationPolicy.ts
Due: none

better test errors
  sdk/core/core-https/test/bearerTokenAuthenticationPolicy.spec.ts
Due: none

fix
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add a linter rule to prevent usage of `window`
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-no-window.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-no-window.ts
  sdk/core/core-http/src/policies/msRestUserAgentPolicy.browser.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update docs
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-no-window.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Lint] fixing warnings
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/credential/clientArguments.ts
  sdk/communication/communication-common/src/identifierModelSerializer.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

fix new linter errors
  sdk/core/core-https/src/util/userAgentPlatform.browser.ts
Due: none

lint fix
  sdk/core/core-https/src/policies/bearerTokenAuthenticationPolicy.ts
Due: none

Additional Changes
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generatedModels.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/swagger/README.md
Due: none

rush lint
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-no-window.ts
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/shims.d.ts
  sdk/core/core-amqp/src/util/checkNetworkConnection.browser.ts
  sdk/identity/identity/src/credentials/msalBrowser/msalAuthCode.ts
  sdk/identity/identity/src/credentials/msalBrowser/msalImplicit.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Minor change
  sdk/storage/storage-queue/review/storage-queue.api.md
Due: none

wip
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keyVaultCryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/localCryptographyClient.ts
Due: none

Trim off the target branch
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update get-markdown-files-from-changed-files.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update eng/common/scripts/get-markdown-files-from-changed-files.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Trim the slash
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Only run eng/common check when target branch is master (#13831)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update docs
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/index.ts
Due: none

[eventhubs-checkpointstore-blob] Updates CheckpointStore methods to support cancellation (#13862)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/review/eventhubs-checkpointstore-blob.api.md
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1425 (#13857)
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix the links of API Reference Documentation
  sdk/anomalydetector/ai-anomaly-detector/README.md
  sdk/eventgrid/eventgrid/README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/mixedreality/mixedreality-authentication/README.md
  sdk/search/search-documents/README.md
  sdk/tables/data-tables/README.md
  sdk/textanalytics/ai-text-analytics/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Move eng/common workflow check to end of analyze stage
  eng/pipelines/templates/steps/analyze.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add working job matrix example pipeline and common matrix generation pipeline.
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update job matrix tests path
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add job matrix generation scripts
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/test-import-matrix.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Parameterize matrix generation job path
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update readme matrix pipeline example to match sample file
  eng/common/scripts/job-matrix/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add global variable to override nuget security checks to sample matrix pipeline
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update api.md
  sdk/core/core-https/review/core-https.api.md
Due: none

Update sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Event Hub] Ignore test/perf/track-1 when linting (#13865)
  sdk/.eslintrc.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

OpenTelemetry Exporter updating to latest dependencies (#13854)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/config.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/connectionStringParser.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/eventhub.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix the links of API Reference Documentation (#13878)
  sdk/anomalydetector/ai-anomaly-detector/README.md
  sdk/eventgrid/eventgrid/README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/mixedreality/mixedreality-authentication/README.md
  sdk/search/search-documents/README.md
  sdk/tables/data-tables/README.md
  sdk/textanalytics/ai-text-analytics/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Centralize createSpan code into core-tracing, update the minimum needed for core-tracing to compile and test
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/createSpan.ts
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/test/createSpan.spec.ts
Due: none

Formatting
  sdk/core/core-tracing/test/createSpan.spec.ts
Due: none

[Event Hubs] Fix remaining lint errors
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/test/perf/track-2/receive.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-2/send.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
Due: none

Updating the package reference to be the new core-tracing version (which will shortly have a new OT)
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formatting
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/src/index.ts
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: eng/common, sdk/anomalydetector/ai-anomaly-detector, sdk/appconfiguration/app-configuration, sdk/communication/communication-administration, sdk/communication/communication-chat, sdk/communication/communication-common, sdk/communication/communication-sms, sdk/core/abort-controller, sdk/core/core-amqp, sdk/core/core-asynciterator-polyfill, sdk/core/core-auth, sdk/core/core-client, sdk/core/core-http, sdk/core/core-https, sdk/core/core-lro, sdk/core/core-paging, sdk/core/core-tracing, sdk/core/core-xml, sdk/core/logger, sdk/cosmosdb/cosmos, sdk/digitaltwins/digital-twins-core, sdk/eventgrid/eventgrid, sdk/eventhub/event-hubs, sdk/eventhub/event-processor-host, sdk/eventhub/eventhubs-checkpointstore-blob, sdk/formrecognizer/ai-form-recognizer, sdk/identity/identity, sdk/keyvault/keyvault-admin, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/metricsadvisor/ai-metrics-advisor, sdk/monitor/monitor-opentelemetry-exporter, sdk/schemaregistry/schema-registry, sdk/schemaregistry/schema-registry-avro, sdk/search/search-documents, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-blob-changefeed, sdk/storage/storage-file-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/tables/data-tables, sdk/template/template, sdk/test-utils/recorder, sdk/textanalytics/ai-text-analytics
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
