Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

[event-hubs] fixes issue where subscription.close doesn't stop reading events
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Changed endpoint replacement to absolute URI
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix homepage in package.json
  sdk/cognitiveservices/cognitiveservices-qnamaker-runtime/package.json
  sdk/cognitiveservices/cognitiveservices-qnamaker/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-http] add support to parse username:password@ in urls
  sdk/core/core-http/lib/url.ts
  sdk/core/core-http/test/urlTests.ts
Due: none

[KeyVault] Fixed typo on the ARM template
  sdk/keyvault/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from c52ab5b54ab97b572170746f27ef05ce412911f2
  sdk/reservations/arm-reservations/LICENSE.txt
  sdk/reservations/arm-reservations/README.md
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
  sdk/reservations/arm-reservations/src/azureReservationAPIContext.ts
  sdk/reservations/arm-reservations/src/models/autoQuotaIncreaseMappers.ts
  sdk/reservations/arm-reservations/src/models/index.ts
  sdk/reservations/arm-reservations/src/models/mappers.ts
  sdk/reservations/arm-reservations/src/models/parameters.ts
  sdk/reservations/arm-reservations/src/models/quotaMappers.ts
  sdk/reservations/arm-reservations/src/models/quotaRequestMappers.ts
  sdk/reservations/arm-reservations/src/models/quotaRequestsMappers.ts
  sdk/reservations/arm-reservations/src/models/quotasMappers.ts
  sdk/reservations/arm-reservations/src/models/reservationMappers.ts
  sdk/reservations/arm-reservations/src/operations/autoQuotaIncrease.ts
  sdk/reservations/arm-reservations/src/operations/index.ts
  sdk/reservations/arm-reservations/src/operations/operation.ts
  sdk/reservations/arm-reservations/src/operations/quota.ts
  sdk/reservations/arm-reservations/src/operations/quotaRequest.ts
  sdk/reservations/arm-reservations/src/operations/quotaRequests.ts
  sdk/reservations/arm-reservations/src/operations/quotas.ts
  sdk/reservations/arm-reservations/src/operations/reservation.ts
  sdk/reservations/arm-reservations/src/operations/reservationOrder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Throw separate errors for invalid host and invalid port
  sdk/core/core-http/lib/proxyAgent.ts
  sdk/core/core-http/test/proxyAgent.node.ts
Due: none

Add Code and Message properties to error to make it back-compatible
  sdk/core/core-http/lib/policies/deserializationPolicy.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
Due: none

Update CHANGELOG.md files
  sdk/core/core-http/CHANGELOG.md
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

WIP: autocomplete
  sdk/search/ai-search/.vscode/launch.json
  sdk/search/ai-search/package.json
  sdk/search/ai-search/review/ai-search.api.md
  sdk/search/ai-search/samples/testing.ts
  sdk/search/ai-search/src/searchIndexClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix issue with RestError typing being inaccurate
  sdk/core/core-http/lib/policies/deserializationPolicy.ts
Due: none

[Storage] Fix api-extractor related issues
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix api-extractor `ae-forgotten-export` warnings
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md files
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-file-s… (#6865)
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-blob (#6866)
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
Due: none

Increment package version after release of azure-storage-queue (#6867)
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: none

Increment package version after release of azure-storage-file-d… (#6868)
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

added fix and the changelog
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix issue where storage error message contains the original XML… (#7107)
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/lib/policies/deserializationPolicy.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_report_error_with_correct_code_and_message.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_report_error_with_correct_code_and_message.js
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

WIP autocomplete
  sdk/search/ai-search/samples/testing.ts
  sdk/search/ai-search/src/searchIndexClient.ts
  sdk/search/ai-search/src/util.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

rename content and updatedContent
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixup
  sdk/core/core-http/lib/policies/deserializationPolicy.ts
Due: none

Generated from 5d782b0929ca5ff0a010d07d0a4186ac77eab0e4
  sdk/keyvault/arm-keyvault/LICENSE.txt
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/rollup.config.js
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClientContext.ts
  sdk/keyvault/arm-keyvault/src/models/index.ts
  sdk/keyvault/arm-keyvault/src/models/mappers.ts
  sdk/keyvault/arm-keyvault/src/models/parameters.ts
  sdk/keyvault/arm-keyvault/src/models/privateEndpointConnectionsMappers.ts
  sdk/keyvault/arm-keyvault/src/models/privateLinkResourcesMappers.ts
  sdk/keyvault/arm-keyvault/src/operations/index.ts
  sdk/keyvault/arm-keyvault/src/operations/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operations/privateLinkResources.ts
  sdk/keyvault/arm-keyvault/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update existing tests
  sdk/test-utils/recorder/test/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage-blob][doc] describe beginCopyFromURL() onProgess behavior (#7094)
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
Due: none

move around dependencies and devDependencies
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

adds karma.conf for the browser tests
  sdk/test-utils/recorder/karma.conf.js
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

make env an attribute to pass on
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/test/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

document the error
  sdk/core/core-http/lib/webResource.ts
Due: none

added changelog
  sdk/core/core-http/CHANGELOG.md
Due: none

update changelog
  sdk/core/core-http/CHANGELOG.md
Due: none

Added one last resort to find any secrets
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

added some tests
  sdk/test-utils/recorder/test/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

* Removing EventHubProducer (older public facing client that never actually saw the light of day) * Removing non-batch related paths in production
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/impl/amqpContextHelpers.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/util/operationOptions.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/misc.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/sendHelpers.ts
  sdk/eventhub/event-hubs/test/utils/subscriptionHandlerForTests.ts
Due: none

* Found some more code to delete * Deleting sender.ts again
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/sender.ts
Due: none

Import reduction
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Due: none

[Recorder] Bug Fix - Filter secrets from JSON (#7175)
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/utils.ts
  sdk/test-utils/recorder/test/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
