Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

API Report
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

Adding in more checks before we use the connection to make sure it's not in a restarting state (and more unit tests for it).
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Due: none

remove removable props
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
Due: none

fix helper methods
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
Due: none

Add details for running tests locally
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/integration/tableserviceclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

defaults to true filter if none specified
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
Due: none

[Anomaly Detector] Fix missing types in package (#10916)
  sdk/anomalydetector/ai-anomaly-detector/api-extractor.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/package.json
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/package.json
  sdk/anomalydetector/ai-anomaly-detector/src/AnomalyDetectorClient.ts
  sdk/anomalydetector/ai-anomaly-detector/test/anomalydetector.spec.ts
  sdk/anomalydetector/ai-anomaly-detector/test/testData.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

comment
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
Due: none

Since those are the only ones supported
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
Due: none

Allow CI Analyze when there are lint errors
  sdk/template/template/package.json
Due: none

Fix build failures
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

fix tests
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Fix types
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
Due: none

Make _response non-enumerable
  sdk/tables/data-tables/src/TableClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add another prop
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Due: none

[dev-tool] Abstract rollup config factory
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/ambient.d.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/rollup.base.config.js
  sdk/formrecognizer/ai-form-recognizer/rollup.test.config.js
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
  sdk/template/template/rollup.config.js
  sdk/template/template/test/browser/sampleBrowser.spec.ts
  sdk/textanalytics/ai-text-analytics/]
  sdk/textanalytics/ai-text-analytics/karma.conf.js
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/rollup.base.config.js
  sdk/textanalytics/ai-text-analytics/rollup.config.js
  sdk/textanalytics/ai-text-analytics/rollup.test.config.js
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix lint errors
  sdk/tables/data-tables/api-extractor.json
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.browser.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/unit/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix test issues
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Due: none

[service-bus] Allow initLink() and closeLink() to lock, preventing reentrancy/concurrency issues (#10807)
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

fix typo
  common/tools/dev-tool/src/config/rollup.base.config.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update api view
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

Allow CI Analyze when there are lint errors (#10920)
  sdk/template/template/package.json
Due: none

Generated from 35cd807ca0ac87478fd566229772118ef5ae05a3
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClient.ts
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClientContext.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/index.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/machineExtensionsMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/machinesMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/mappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/operationsMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 935
  eng/common/scripts/SemVer.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

javascript example for anomaly detector
  sdk/anomalydetector/ai-anomaly-detector/samples/example-data/request-data.csv
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/basic.js
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/package.json
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/sample.env
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/src/sample_detect_change_point.js
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/src/sample_detect_entire_series_anomaly.js
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/src/sample_detect_last_point_anomaly.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

javascript samples
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/README.md
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/package.json
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/sample.env
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/sample_detect_change_point.js
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/sample_detect_entire_series_anomaly.js
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/sample_detect_last_point_anomaly.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update
  sdk/anomalydetector/ai-anomaly-detector/samples/javascript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from fbd1645dde1f7da7e42eb29d16168e7be312897f
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from fbd1645dde1f7da7e42eb29d16168e7be312897f
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from fbd1645dde1f7da7e42eb29d16168e7be312897f
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from fbd1645dde1f7da7e42eb29d16168e7be312897f
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from fbd1645dde1f7da7e42eb29d16168e7be312897f
  sdk/policy/arm-policy/src/models/index.ts
  sdk/policy/arm-policy/src/models/mappers.ts
  sdk/policy/arm-policy/src/models/parameters.ts
  sdk/policy/arm-policy/src/models/policyAssignmentsMappers.ts
  sdk/policy/arm-policy/src/models/policyDefinitionsMappers.ts
  sdk/policy/arm-policy/src/models/policySetDefinitionsMappers.ts
  sdk/policy/arm-policy/src/operations/policyAssignments.ts
  sdk/policy/arm-policy/src/operations/policyDefinitions.ts
  sdk/policy/arm-policy/src/operations/policySetDefinitions.ts
  sdk/policy/arm-policy/src/policyClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from f97e160dc610db89490de5b25ed10b82ed1fce63
  sdk/databox/arm-databox/src/dataBoxManagementClientContext.ts
  sdk/databox/arm-databox/src/models/index.ts
  sdk/databox/arm-databox/src/models/jobsMappers.ts
  sdk/databox/arm-databox/src/models/mappers.ts
  sdk/databox/arm-databox/src/models/operationsMappers.ts
  sdk/databox/arm-databox/src/models/serviceMappers.ts
  sdk/databox/arm-databox/src/operations/jobs.ts
  sdk/databox/arm-databox/src/operations/operations.ts
  sdk/databox/arm-databox/src/operations/service.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ee8928444c22954332a2420801fb7a79a0c9406b
  sdk/iothub/arm-iothub/LICENSE.txt
  sdk/iothub/arm-iothub/README.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/rollup.config.js
  sdk/iothub/arm-iothub/src/iotHubClient.ts
  sdk/iothub/arm-iothub/src/iotHubClientContext.ts
  sdk/iothub/arm-iothub/src/models/certificatesMappers.ts
  sdk/iothub/arm-iothub/src/models/index.ts
  sdk/iothub/arm-iothub/src/models/mappers.ts
  sdk/iothub/arm-iothub/src/models/parameters.ts
  sdk/iothub/arm-iothub/src/models/privateEndpointConnectionsMappers.ts
  sdk/iothub/arm-iothub/src/models/privateLinkResourcesOperationsMappers.ts
  sdk/iothub/arm-iothub/src/operations/certificates.ts
  sdk/iothub/arm-iothub/src/operations/index.ts
  sdk/iothub/arm-iothub/src/operations/iotHub.ts
  sdk/iothub/arm-iothub/src/operations/iotHubResource.ts
  sdk/iothub/arm-iothub/src/operations/privateEndpointConnections.ts
  sdk/iothub/arm-iothub/src/operations/privateLinkResourcesOperations.ts
  sdk/iothub/arm-iothub/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

version 4.0.0
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
