Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

Address PR comments
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByValueEndpointComponent.ts
  sdk/cosmosdb/cosmos/test/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/integration/aggregates/groupBy.spec.ts
Due: none

rush update
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add fs: false to storage-blob package.json
  sdk/storage/storage-blob/package.json
Due: none

[Storage] Remove outdated download instruction for browser mode (#5813)
  sdk/storage/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update policy names for file-share
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/BrowserPolicyFactory.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/RetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/policies/RetryPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update leftover jsdocs with Storage prefix
  sdk/storage/storage-blob/src/RetryPolicyFactory.ts
Due: none

[Cosmos] Cross Partition Group By (#5749)
  common/config/rush/pnpm-lock.yaml
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  sdk/cosmosdb/cosmos/.vscode/settings.json
  sdk/cosmosdb/cosmos/__snapshots__/groupBy.spec.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/Aggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/AverageAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/CountAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/MaxAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/MinAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/StaticValueAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/SumAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/AggregateEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByValueEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/UnorderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/emptyGroup.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/src/utils/hashObject.ts
  sdk/cosmosdb/cosmos/test/functional/databaseaccount.spec.ts
  sdk/cosmosdb/cosmos/test/functional/offer.spec.ts
  sdk/cosmosdb/cosmos/test/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/integration/aggregates/groupBy.spec.ts
  sdk/cosmosdb/cosmos/test/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/tslint.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update api review files for blob & queues
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-queue/review/storage-queue.api.md
Due: none

3.4.0
  sdk/cosmosdb/cosmos/package.json
Due: none

Update changelog
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Port over jsdocs updates from #5791
  sdk/storage/storage-blob/src/BlobClient.ts
Due: none

Updated changelog for pipeline options changes
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Due: none

Update changelog
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Due: none

update changelog
  sdk/storage/storage-blob/ChangeLog.md
Due: none

fix changelog
  sdk/storage/storage-blob/ChangeLog.md
Due: none

Remove universal-user-agent
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/utils/user-agent.browser.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.ts
Due: none

Add to package.json
  sdk/cosmosdb/cosmos/package.json
Due: none

Update pnpm lock
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fully remove lib
  sdk/cosmosdb/cosmos/rollup.config.js
  sdk/cosmosdb/cosmos/src/common/platform.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.browser.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.ts
Due: none

Updated api extractor output in Keyvault & Storage
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/storage/storage-blob/review/storage-blob.api.md
Due: none

Updated api extractor output in Keyvault & Storage (#5871)
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/storage/storage-blob/review/storage-blob.api.md
Due: none

Update tracing options per #5778
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/utils/tracing.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
Due: none

Update queues as well
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Due: none

fix createSpan for queues
  sdk/storage/storage-queue/src/utils/tracing.ts
Due: none

Update tracing options for files
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/StorageClient.ts
  sdk/storage/storage-file-share/src/utils/tracing.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

update changelog queue
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Due: none

Changelog for file shares
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage File] Add note on package rename in readme (#5856)
  sdk/storage/storage-file-share/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] Remove circular dependencies - storage-blob (#5767)
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/internal.ts
  sdk/storage/storage-blob/test/specialnaming.spec.ts
  sdk/storage/storage-blob/test/utils/assert.ts
  sdk/storage/storage-file-share/ChangeLog.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Incrementing core and identity.
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Updated changelog to not refer getDefaultProxySettings()
  sdk/storage/storage-queue/ChangeLog.md
Due: none

Updated breakingchanges.md to not refer getDefaultProxySettings()
  sdk/storage/storage-queue/BreakingChanges.md
Due: none

Increment package version after release azure-template
  sdk/template/template/package.json
Due: none

Update changelog to not refer to getDefaultProxySettings
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage Queue] Pipeline alignment with core-http & storage-blob (#5831)
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/javascript/customPipeline.js
  sdk/storage/storage-blob/samples/typescript/advanced.ts
  sdk/storage/storage-blob/samples/typescript/customPipeline.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/samples/javascript/customPipeline.js
  sdk/storage/storage-queue/samples/typescript/customPipeline.ts
  sdk/storage/storage-queue/src/KeepAlivePolicyFactory.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-queue/src/UniqueRequestIDPolicyFactory.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/policies/KeepAlivePolicy.ts
  sdk/storage/storage-queue/src/policies/UniqueRequestIDPolicy.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
Due: none

add fs: false to storage-blob package.json (#5866)
  sdk/storage/storage-blob/package.json
Due: none

Rename browser policy files
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/policies/StorageBrowserPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Rename retry policy files
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/policies/StorageRetryPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Updated api reports
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-queue/review/storage-queue.api.md
Due: none
