Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

fix tests and samples, update README, and bump version
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

OpenTelemetry Azure exporter dependency update (#13596)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/spanUtils.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

export new types
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Initial readme for Azure Quantum Jobs client
  sdk/quantum/quantum-jobs/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-iotcentral-relaese
  sdk/iotcentral/arm-iotcentral/src/iotCentralClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Grid] Fix Live Test Pipeline (#13618)
  sdk/eventgrid/eventgrid/tests.yml
  sdk/eventgrid/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-streamanalytics-release
  sdk/streamanalytics/arm-streamanalytics/LICENSE.txt
  sdk/streamanalytics/arm-streamanalytics/README.md
  sdk/streamanalytics/arm-streamanalytics/package.json
  sdk/streamanalytics/arm-streamanalytics/rollup.config.js
  sdk/streamanalytics/arm-streamanalytics/src/models/clustersMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/functionsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/mappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/operationsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/outputsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/parameters.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/privateEndpointsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/streamingJobsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/subscriptionsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/transformationsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/clusters.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/functions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/inputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/operations.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/outputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/privateEndpoints.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/streamingJobs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/subscriptions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/transformations.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClient.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-streamanalytics-release
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

brearerTokenChallengeAuthenticationPolicy, but still wip
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/CAE/index.ts
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/policies/bearerTokenChallengeAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/CAE.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix a bug in combineSucceededAndErredActions and add unit tests
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

address feedback
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix more bugs in combineSucceededAndErredActions and adding more unit tests
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

adding a test case
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_action_failures_are_returned.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_action_failures_are_returned.js
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/test/internal/util.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/quantum/quantum-jobs/README.md
  sdk/quantum/quantum-jobs/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Feature/quantum jobs readme (#13622)
  sdk/quantum/quantum-jobs/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update new template with CORS instructions
  samples/cors/ts/README.md
  sdk/cosmosdb/cosmos/README.md
  sdk/template/template/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added suppression rules for JS
  eng/CredScanSuppression.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

response with object
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/eventhub/eventhubs-checkpointstore-blob/test/internal/parseIntOrThrow.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/internal/parseIntOrThrow.spec.ts
Due: none

Revert "[Metrics Advisor] Create functions modified to return id with… (#13567)
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/metricFeedback.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix reference
  sdk/servicebus/service-bus/test/internal/managementClient.spec.ts
Due: none

[core-amqp] update changelog for release
  sdk/core/core-amqp/CHANGELOG.md
Due: none

Fixing merge issue
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-quantum-jobs
  sdk/quantum/quantum-jobs/CHANGELOG.md
  sdk/quantum/quantum-jobs/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

removed unwanted lines
  sdk/eventhub/eventhubs-checkpointstore-blob/test/internal/parseIntOrThrow.spec.ts
Due: none

Update sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for quantum releases (#13630)
  sdk/quantum/quantum-jobs/CHANGELOG.md
  sdk/quantum/quantum-jobs/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

packageInfo console.log removed
  sdk/servicebus/service-bus/test/internal/node/packageInfo.spec.ts
Due: none

removed opentelemetry purpose
  sdk/servicebus/service-bus/test/internal/node/packageInfo.spec.ts
Due: none

update list method
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_acquired_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_by_page.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_skip_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_acquired_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_by_page.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_skip_a_phone_number.js
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/mappers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/list.spec.ts
  sdk/communication/communication-phone-numbers/test/utils/mockHttpClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

check the error without lib
  sdk/eventhub/eventhubs-checkpointstore-blob/tsconfig.json
Due: none

[core-amqp] update changelog for release (#13629)
  sdk/core/core-amqp/CHANGELOG.md
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
