Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Modify storage-blob/README.md (#10430)
  sdk/storage/storage-blob/README.md
Due: none

Modify storage-file-datalake/README.md (#10431)
  sdk/storage/storage-file-datalake/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-service-bus (#10563)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Due: none

Review feedback from https://github.com/Azure/azure-sdk-tools/pull/850
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Due: none

update CHANGELOG
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix the hook (#10558)
  common/git-hooks/pre-commit
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] Fix strongly typed model sample
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-ai-form-recognizer
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault] Spotted a remaining reference to 7.1-preview on the READMES
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Due: none

also, apiVersion to serviceVersion
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Due: none

library mode
  eng/tools/generate-doc/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Copy the swagger file
  sdk/servicebus/service-bus/swagger/servicebus-swagger.json
Due: none

swagger/Readme and a command in package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/swagger/README.md
Due: none

Check-in generated code
  sdk/servicebus/service-bus/src/generated/src/models/index.ts
  sdk/servicebus/service-bus/src/generated/src/models/mappers.ts
  sdk/servicebus/service-bus/src/generated/src/models/parameters.ts
  sdk/servicebus/service-bus/src/generated/src/operations/entity.ts
  sdk/servicebus/service-bus/src/generated/src/operations/index.ts
  sdk/servicebus/service-bus/src/generated/src/operations/namespace.ts
  sdk/servicebus/service-bus/src/generated/src/operations/rule.ts
  sdk/servicebus/service-bus/src/generated/src/operations/subscription.ts
  sdk/servicebus/service-bus/src/generated/src/serviceBusManagementClientInternal.ts
  sdk/servicebus/service-bus/src/generated/src/serviceBusManagementClientInternalContext.ts
Due: none

Wraps URL with checkURL function
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/utils/url.browser.ts
  sdk/cosmosdb/cosmos/src/utils/url.ts
Due: none

spotted one issue with the keys README samples
  sdk/keyvault/keyvault-keys/README.md
Due: none

[ai-form-recognizer] Fix strongly typed model sample (#10570)
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds changelog bugfix
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

monitor: add eventhub span processing
  sdk/monitor/opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/span/azAttributes.ts
  sdk/monitor/opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter/test/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter/test/utils/spanUtils.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault] Spotted a remaining reference to 7.1-preview and apiVersion on the READMEs (#10572)
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Due: none

Uniting all the "link" related entities (mgmt link, receiver, sender).
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
Due: none

[Cosmos] Wraps URL with checkURL function for browser (#10574)
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/utils/url.browser.ts
  sdk/cosmosdb/cosmos/src/utils/url.ts
Due: none

Fixing any lingering compile issues from my rebase/merge.
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

fixing the bad dist-esm folders on the resulting artifacts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Due: none

SDK_VERSION and packageVersion should match in the browsers too
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Due: none

formatting
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Due: none

Update CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

temporary command for local testing since api-extractor doesn't work for codegen
  sdk/servicebus/service-bus/package.json
Due: none

Refactorings based on PR Comments
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formatting Changes
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updating closeLink() to also have the option to only close the link but still allow the link to be reopened.
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
Due: none

Manually override the apiVersion
  sdk/servicebus/service-bus/src/generated/src/models/parameters.ts
Due: none

testing the generated API
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

using path instead of concatenations
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Due: none

Removing the optional qualifier for 'options' in the createRheaLink override in child classes.
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

[Key Vault] Fixing bad dist-esm folders on the resulting artifacts (#10576)
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Due: none

[Key Vault] Release date to 2020-08-12
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
