Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

scenarioRenewSessionLock
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

fix naming, and minor issues and add readme entry for sessionLock renewal
  sdk/servicebus/service-bus/test/stress-test-track-2/README.md
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts
Due: none

Update TODOs
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

considering EHOSTDOWN
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
Due: none

[Identity] Changelog entry for the recent DeviceCodeCredential change (#11475)
  sdk/identity/identity/CHANGELOG.md
Due: none

Ignore tslint errors for fixing murmurHash unit test
  sdk/cosmosdb/cosmos/src/utils/hashing/murmurHash.ts
Due: none

Generated from 3affc2835888c593673eb86546d4726822e545d7
  sdk/eventgrid/eventgrid/LICENSE.txt
  sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/rollup.config.js
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/eventGridClientContext.ts
  sdk/eventgrid/eventgrid/src/models/index.ts
  sdk/eventgrid/eventgrid/src/models/mappers.ts
  sdk/eventgrid/eventgrid/src/models/parameters.ts
  sdk/eventgrid/eventgrid/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1056 (#11557)
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1059 (#11558)
  eng/common/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

The right construct here was > (blockquote) vs what I was doing (continuing the code block!)
  sdk/servicebus/service-bus/README.md
Due: none

Add approval env
  eng/pipelines/npm-tasks.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add more test + elim OperationOptions
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.mocked.spec.ts
  sdk/communication/communication-administration/test/utils/mockHttpClients.ts
  sdk/communication/communication-administration/test/utils/testPhoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Make linter happy
  sdk/core/core-paging/.eslintrc.json
  sdk/core/core-paging/package.json
  sdk/core/core-paging/tsconfig.es.json
Due: none

Prepare CHANGELOG for release
  sdk/core/core-paging/CHANGELOG.md
Due: none

[service-bus] Update readme to contain an actual snippet of code showing the constructor (#11559)
  sdk/servicebus/service-bus/README.md
Due: none

[core-paging] Include esm version too in addition to CommonJS (#11563)
  sdk/core/core-paging/.eslintrc.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/tsconfig.es.json
  sdk/core/core-paging/tsconfig.json
Due: none

Update uuid dependency version to v8.3.0
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

snapshot options and fix some TODOs
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

Set version artificially for the test template runs
  eng/common/scripts/logging.ps1
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/build.yml
  eng/scripts/SetTestPipelineVersion.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1032
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix readme linting
  sdk/monitor/monitor-opentelemetry-exporter/samples/@azure/storage-blob/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/@azure/storage-blob/typescript/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/grpc/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/https/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1061
  eng/common/scripts/logging.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1032 (#11364)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-http] Update CHANGELOG for Oct. 2020 release (#11553)
  sdk/core/core-http/CHANGELOG.md
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1061 (#11572)
  eng/common/scripts/logging.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.mocked.spec.ts
  sdk/communication/communication-administration/test/utils/mockHttpClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.
  sdk/communication/communication-administration/test/utils/testPhoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Canary support for SB
  sdk/servicebus/service-bus/tests.yml
Due: none

address feedback
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

address more feedback
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

make requiredPatterns constant for extra safety
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[communication] update TNM types and interfaces (#11570)
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/common/models.ts
  sdk/communication/communication-administration/src/communicationIdentity/communicationIdentityClient.ts
  sdk/communication/communication-administration/src/communicationIdentity/models.ts
  sdk/communication/communication-administration/src/index.ts
  sdk/communication/communication-administration/src/phoneNumber/generated/src/operations/phoneNumberAdministration.ts
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/swagger/PhoneNumber.json
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.mocked.spec.ts
  sdk/communication/communication-administration/test/utils/mockHttpClients.ts
  sdk/communication/communication-administration/test/utils/testPhoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update uuid dependency version to v8.3.0 (#11573)
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

Increment package version after release of azure-core-paging
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
Due: none

autoLockRenewal - sessions
  sdk/servicebus/service-bus/test/stress-test-track-2/README.md
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts
Due: none

Formatting
  sdk/tables/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added in tests. Did some small refactors to make things a bit easier to read.
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/internal/autoLockRenewer.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
