Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

update CODEOWNERS links to point to sync documentation
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

update documentation link, add EngSys config, add commented catch all and example configs
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

update engsys entries in CODEOWNERS
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

add track 2 sdk locations
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

move EngSys section down so that its rules match LAST
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

cjs plugin
  sdk/test-utils/recorder/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

remove extra documentation link
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

tsconfig setup properly
  samples/SmokeTest/package.json
  samples/SmokeTest/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml

Types fixes
  samples/SmokeTest/BlobStorage.ts
  samples/SmokeTest/CosmosDB.ts
  samples/SmokeTest/EventHubsTest.ts
  samples/SmokeTest/KeyVaultTest.ts
  samples/SmokeTest/app.ts
Due: .azure-pipelines/js-mgmt-ci.yml

update CODEOWNERS links to point to sync documentation (#4263)
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml

[Template] Update "template" with karma and a sample browser test-suite (#4297)
  sdk/template/template/karma.conf.js
  sdk/template/template/package.json
  sdk/template/template/rollup.base.config.js
  sdk/template/template/src/index.ts
  sdk/template/template/test/browser/sampleBrowser.spec.ts
  sdk/template/template/test/node/index.spec.ts
Due: none

Extract common steps
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/common.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Update test naming scheme
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/tests-common.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Add integration step to Cosmos CI config
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/jobs/node6-test-sdk-client.yml
  eng/pipelines/templates/steps/cosmos-integration-nightly.yml
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  eng/pipelines/templates/steps/integration-npm.yml
  eng/pipelines/templates/steps/integration-rush.yml
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Prepare integration archetype for merge with the tests archetype
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/steps/integration-npm.yml
  eng/pipelines/templates/steps/integration-rush.yml
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Set shallow clone depth to 20
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Also publish browser test results in client archetype
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Replace tests archetype with integration archetype
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/tests-common.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/archetype-sdk-tests-storage.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Use standard tests template for cosmos
  sdk/cosmosdb/cosmos/.azure-pipelines/cosmos.test.nightly.emulator.yml
  sdk/cosmosdb/cosmos/.azure-pipelines/cosmos.test.public.emulator.yml
  sdk/cosmosdb/cosmos/tests.yml
Due: none

Improve OSName detection in tests archetype
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Remove the Prepare build step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/common.yml
  eng/pipelines/templates/steps/select-packages.yml
  eng/tools/select-packages/index.js
Due: .azure-pipelines/js-mgmt-ci.yml

Add verify agent OS to common.yml
  eng/pipelines/templates/steps/common.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Use the verify_agent_os script to set the OSName
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/steps/common.yml
  eng/pipelines/templates/variables/globals.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Allow warnings in integration tests too
  common/config/rush/command-line.json
Due: .azure-pipelines/js-mgmt-ci.yml

Make batchMessage property as private
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
Due: none

run npm audit on management plane lib
  .azure-pipelines/js-mgmt-ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml

indentation
  .azure-pipelines/js-mgmt-ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml

Fix build errors
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/session/sessionManager.ts
Due: none

Fix build error
  sdk/servicebus/service-bus/src/session/sessionManager.ts
Due: none

Update sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
Due: none

Update sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubClient.ts
Due: none

Update sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Due: none

Merge tryAdd() and getEventBatchSize() in eventDataBatch
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/sender.ts
Due: none

Sample update on keyvault-keys readme
  sdk/keyvault/keyvault-keys/README.md
Due: none

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml

generated kusto and updated deps to 2.x.x version of ms-rest-js and ms-rest-azure-js
  sdk/kusto/arm-kusto/README.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClientContext.ts
  sdk/kusto/arm-kusto/src/models/dataConnectionsMappers.ts
  sdk/kusto/arm-kusto/src/models/index.ts
  sdk/kusto/arm-kusto/src/models/mappers.ts
  sdk/kusto/arm-kusto/src/operations/dataConnections.ts
  sdk/kusto/arm-kusto/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

generated appservice and updated deps to 2.x.x version of ms-rest-js and ms-rest-azure-js
  sdk/appservice/arm-appservice/LICENSE.txt
  sdk/appservice/arm-appservice/README.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/rollup.config.js
  sdk/appservice/arm-appservice/src/models/appServiceCertificateOrdersMappers.ts
  sdk/appservice/arm-appservice/src/models/appServiceEnvironmentsMappers.ts
  sdk/appservice/arm-appservice/src/models/appServicePlansMappers.ts
  sdk/appservice/arm-appservice/src/models/certificateRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice/src/models/certificatesMappers.ts
  sdk/appservice/arm-appservice/src/models/deletedWebAppsMappers.ts
  sdk/appservice/arm-appservice/src/models/diagnosticsMappers.ts
  sdk/appservice/arm-appservice/src/models/domainRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice/src/models/domainsMappers.ts
  sdk/appservice/arm-appservice/src/models/index.ts
  sdk/appservice/arm-appservice/src/models/mappers.ts
  sdk/appservice/arm-appservice/src/models/parameters.ts
  sdk/appservice/arm-appservice/src/models/providerMappers.ts
  sdk/appservice/arm-appservice/src/models/recommendationsMappers.ts
  sdk/appservice/arm-appservice/src/models/resourceHealthMetadataOperationsMappers.ts
  sdk/appservice/arm-appservice/src/models/topLevelDomainsMappers.ts
  sdk/appservice/arm-appservice/src/models/webAppsMappers.ts
  sdk/appservice/arm-appservice/src/operations/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice/src/operations/appServiceEnvironments.ts
  sdk/appservice/arm-appservice/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice/src/operations/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/certificates.ts
  sdk/appservice/arm-appservice/src/operations/deletedWebApps.ts
  sdk/appservice/arm-appservice/src/operations/diagnostics.ts
  sdk/appservice/arm-appservice/src/operations/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/domains.ts
  sdk/appservice/arm-appservice/src/operations/provider.ts
  sdk/appservice/arm-appservice/src/operations/recommendations.ts
  sdk/appservice/arm-appservice/src/operations/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice/src/operations/topLevelDomains.ts
  sdk/appservice/arm-appservice/src/operations/webApps.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClientContext.ts
  sdk/appservice/arm-appservice/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update pnpm-lock.yaml (#4308)
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
