Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

use the unrolledup type declarations
  sdk/core/abort-controller/package.json
Due: none

do not lint package.json
  sdk/core/abort-controller/package.json
Due: none

edits
  sdk/core/core-asynciterator-polyfill/package.json
Due: none

[Text Analytics] Ignore Document Index
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResultArray.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

adding a test
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Bug Fix: Incorrect connection-config in the token credential path (#11250)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Due: none

[Cosmos] Switches back to universal-user-agent (#11299)
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/rollup.config.js
  sdk/cosmosdb/cosmos/src/common/platform.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.browser.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add trigger to ESLint plugin in template package
  sdk/template/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from eae218d4a24277d0c855bb088a6492d4b356c79e
  sdk/cognitiveservices/cognitiveservices-anomalydetector/README.md
  sdk/cognitiveservices/cognitiveservices-anomalydetector/src/anomalyDetectorClient.ts
  sdk/cognitiveservices/cognitiveservices-anomalydetector/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-anomalydetector/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 4bb5b76cb8401896b15f1be3fdaac6bd5d299b17
  sdk/eventgrid/eventgrid/LICENSE.txt
  sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/rollup.config.js
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/eventGridClientContext.ts
  sdk/eventgrid/eventgrid/src/models/index.ts
  sdk/eventgrid/eventgrid/src/models/mappers.ts
  sdk/eventgrid/eventgrid/src/models/parameters.ts
  sdk/eventgrid/eventgrid/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

move under sas/
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASResourceTypes.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASServices.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/FileSystemSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/SASQueryParameters.ts
  sdk/storage/storage-file-datalake/src/sas/SasIPRange.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 968
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ee9f2c0af7a5b9317b3196e62abd0ba47fc764c5
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/configServersMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/monitoringSettingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/runtimeVersionsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/runtimeVersions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

v2.0.0
  sdk/hybridcompute/arm-hybridcompute/package.json
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sdk automation/@azure arm operationalinsights (#10935)
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationalinsights/arm-operationalinsights/src/models/index.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/mappers.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/parameters.ts
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClientContext.ts
  sdk/operationalinsights/arm-operationalinsights/src/operations/linkedStorageAccounts.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 5489260413b96feea985b0b9e5f8d4658ece83df
  sdk/streamanalytics/arm-streamanalytics/LICENSE.txt
  sdk/streamanalytics/arm-streamanalytics/README.md
  sdk/streamanalytics/arm-streamanalytics/package.json
  sdk/streamanalytics/arm-streamanalytics/rollup.config.js
  sdk/streamanalytics/arm-streamanalytics/src/models/clustersMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/functionsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/inputsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/mappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/outputsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/parameters.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/privateEndpointsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/streamingJobsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/transformationsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/clusters.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/functions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/inputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/operations.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/outputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/privateEndpoints.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/streamingJobs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/subscriptions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/transformations.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClient.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

wip
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DirectorySASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/SASQueryParameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 2c0e73fdb2f16319907c9bd5eb01985d19d007e7
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClient.ts
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClientContext.ts
  sdk/netapp/arm-netapp/src/models/accountBackupsMappers.ts
  sdk/netapp/arm-netapp/src/models/accountsMappers.ts
  sdk/netapp/arm-netapp/src/models/backupPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/backupsMappers.ts
  sdk/netapp/arm-netapp/src/models/index.ts
  sdk/netapp/arm-netapp/src/models/mappers.ts
  sdk/netapp/arm-netapp/src/models/netAppResourceMappers.ts
  sdk/netapp/arm-netapp/src/models/parameters.ts
  sdk/netapp/arm-netapp/src/models/poolsMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotsMappers.ts
  sdk/netapp/arm-netapp/src/models/vaultsMappers.ts
  sdk/netapp/arm-netapp/src/operations/accountBackups.ts
  sdk/netapp/arm-netapp/src/operations/backupPolicies.ts
  sdk/netapp/arm-netapp/src/operations/backups.ts
  sdk/netapp/arm-netapp/src/operations/index.ts
  sdk/netapp/arm-netapp/src/operations/netAppResource.ts
  sdk/netapp/arm-netapp/src/operations/snapshotPolicies.ts
  sdk/netapp/arm-netapp/src/operations/vaults.ts
  sdk/netapp/arm-netapp/src/operations/volumes.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-cosmos
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Due: none

Increment package version after release of azure-cosmos (#11311)
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Due: none

update tests
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Apply changes to core-client
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-client/test/testMappers.ts
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Due: none

[Text Analytics] Update release date for 5.1.0-beta.1
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

format
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

integrate with generated client
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/functional/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/export.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Text Analytics] Update release date (#11313)
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address comments
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/test/serviceClientTests.ts
Due: none

Increment package version after release of azure-ai-text-analytics
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add mock tests
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/policies/challengeBasedAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/challengeBasedAuthenticationPolicyTests.ts
Due: none

Add mock tests
  sdk/core/core-http/test/policies/challengeBasedAuthenticationPolicyTests.ts
Due: none

canary support for event-hubs live tests
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/eventhub/event-hubs/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

run tests on serialized payloads
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/functional/trace.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

prettier update
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update pto beta
  sdk/anomalydetector/ai-anomaly-detector/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update changelog
  sdk/anomalydetector/ai-anomaly-detector/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
