Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

CodeGen from PR 11462 in Azure/azure-rest-api-specs Fix Swagger Linting issues reported (#11462)
  sdk/timeseriesinsights/arm-timeseriesinsights/README.md
  sdk/timeseriesinsights/arm-timeseriesinsights/rollup.config.js
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/accessPoliciesMappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/environmentsMappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/eventSourcesMappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/index.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/mappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/operationsMappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/parameters.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/models/referenceDataSetsMappers.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/accessPolicies.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/environments.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/eventSources.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/index.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/operations.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/operations/referenceDataSets.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/timeSeriesInsightsClient.ts
  sdk/timeseriesinsights/arm-timeseriesinsights/src/timeSeriesInsightsClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 11678 in Azure/azure-rest-api-specs Amend error response to indicate that we return additional error info. (#11678)
  sdk/appconfiguration/arm-appconfiguration/README.md
  sdk/appconfiguration/arm-appconfiguration/rollup.config.js
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClientContext.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/index.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/keyValuesMappers.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/mappers.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/operationsMappers.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/parameters.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/privateEndpointConnectionsMappers.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/privateLinkResourcesMappers.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/configurationStores.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/index.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/keyValues.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/operations.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/privateEndpointConnections.ts
  sdk/appconfiguration/arm-appconfiguration/src/operations/privateLinkResources.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add node.js support matrix in readme
  sdk/core/core-amqp/README.md
Due: none

Add node.js support matrix in readme (#12554)
  sdk/core/core-amqp/README.md
Due: none

[Service Bus] Remove ReceiveMode from public API surface
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

[Service Bus] autoComplete -> autoCompleteMessages
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none

CodeGen from PR 11646 in Azure/azure-rest-api-specs Adding Identity to Patch Vault (#11646)
  sdk/recoveryservices/arm-recoveryservices/README.md
  sdk/recoveryservices/arm-recoveryservices/rollup.config.js
  sdk/recoveryservices/arm-recoveryservices/src/models/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/mappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/operationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/parameters.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/privateLinkResourcesOperationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/recoveryServicesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/registeredIdentitiesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/replicationUsagesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/usagesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultCertificatesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultExtendedInfoOperationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/operations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/privateLinkResourcesOperations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/recoveryServices.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/registeredIdentities.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/replicationUsages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/usages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultCertificates.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultExtendedInfoOperations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaults.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added a test for selection mark values, updated test-resources.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressed more feedback
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
  sdk/formrecognizer/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed typo in test-resources
  sdk/formrecognizer/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updated test-resources to use new container
  sdk/formrecognizer/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Use build Number to fix race condition (#12456)
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/build.yml
  eng/scripts/SetTestPipelineVersion.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update LanguageSetting.ps1 (#12549)
  eng/scripts/Language-Settings.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

The REST specs are no longer in github but we have proper documentation for AD roles now. Changing over.
  sdk/appconfiguration/app-configuration/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Oops, don't put the language in there!
  sdk/appconfiguration/app-configuration/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Remove ReceiveMode from public API surface (#12557)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

[ai-form-recognizer] Selection mark and other new output fields in 2.1-preview.1 (#12540)
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_content_analysis/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_content_analysis/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/assets/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test-assets/forms/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/test/internal/transforms.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
  sdk/formrecognizer/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

monitor: harden async try/catch
  sdk/monitor/monitor-opentelemetry-exporter/src/export/exporter.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/noopPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[app-configuration] Fix URL that was pointing to outdated documentation for AAD roles (#12562)
  sdk/appconfiguration/app-configuration/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] Implement beginCreateComposedModel
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Compose samples
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/createComposedModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/sample.env
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/createComposedModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Made test skipping for AAD compose more robust
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updated a test to use the correct property name
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Recorded test for compose model
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient/recording_compose_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formtrainingclient/recording_compose_model.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Re-recorded compose/selection mark tests
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/aad_formtrainingclient/recording_compose_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/api_key_formtrainingclient/recording_compose_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient/recording_compose_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formtrainingclient/recording_compose_model.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added a test for compose
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed a small bug in the samples showing 'null'
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/createComposedModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/createComposedModel.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed poller to remove 'client' & ran eslint
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CHANGELOG
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

linting and formatting
  sdk/keyvault/keyvault-keys/src/lro/keyVaultKeyPoller.ts
  sdk/keyvault/keyvault-keys/src/tracing.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
Due: none

Disable eslint rule no-invalid-this in formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed a playback-mode replacement
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed a .only
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-client] address pr feedback
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/urlHelpers.spec.ts
Due: none

patch as committed by @jbmarvin24
  sdk/storage/storage-blob/README.md
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1210 (#12545)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

KeyVaultKeyPollOperationOptions
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/keyVaultKeyPoller.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
Due: none

Increment package version after release of azure-communication-common
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-communication-administration
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
