Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

better changelog entry, I believe
  sdk/identity/identity/CHANGELOG.md
Due: none

undid unnecessary change
  sdk/identity/identity/src/util/logging.ts
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
Due: none

formatting
  sdk/communication/communication-sms/samples/v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update package json check-format
  sdk/communication/communication-sms/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

separate section for breaking changes from 2.0.0-beta.1
  sdk/identity/identity/CHANGELOG.md
Due: none

change error logging for other files
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/usingAadAuth.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update and republish
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1/javascript/README.md
  sdk/communication/communication-sms/samples/v1/javascript/sendSmsWithOptions.js
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/typescript/README.md
  sdk/communication/communication-sms/samples/v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

nit spacing
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update app config to latest identity
  sdk/appconfiguration/app-configuration/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools for PR 1551 (#14846)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: .azure-pipelines/js-mgmt-ci.yml

clossure test
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
Due: none

identity versions
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml

Update eng/common dev version template. (#14849)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Due: .azure-pipelines/js-mgmt-ci.yml

app config
  sdk/appconfiguration/app-configuration/recordings/node/authentication/recording_invalid_connection_string_gives_a_decent_error_message.js
  sdk/appconfiguration/app-configuration/recordings/node/authentication/recording_token_authentication_works.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[communication] sms migrate samples v2 (#14737)
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples-dev/sendSms.ts
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
  sdk/communication/communication-sms/samples/.gitignore
  sdk/communication/communication-sms/samples/javascript/README.md
  sdk/communication/communication-sms/samples/javascript/sample.env
  sdk/communication/communication-sms/samples/tsconfig.json
  sdk/communication/communication-sms/samples/typescript/README.md
  sdk/communication/communication-sms/samples/typescript/sample.env
  sdk/communication/communication-sms/samples/v1/javascript/README.md
  sdk/communication/communication-sms/samples/v1/javascript/package.json
  sdk/communication/communication-sms/samples/v1/javascript/sample.env
  sdk/communication/communication-sms/samples/v1/javascript/sendSms.js
  sdk/communication/communication-sms/samples/v1/javascript/sendSmsWithOptions.js
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/typescript/README.md
  sdk/communication/communication-sms/samples/v1/typescript/package.json
  sdk/communication/communication-sms/samples/v1/typescript/sample.env
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSms.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-sms/test.env
  sdk/communication/communication-sms/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Revise stage condition.
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml

first cut separate tests into internal/public
  sdk/communication/communication-sms/test/internal/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.spec.ts
  sdk/communication/communication-sms/test/internal/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

linter fix
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting, output fixes
  sdk/communication/communication-sms/test/internal/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.spec.ts
  sdk/communication/communication-sms/test/internal/smsClientWithToken.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update test names
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/smsClientWithToken.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

fix rollup, further restructure tests
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/communication/communication-sms/test/internal/node/smsClientWithToken.internal.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.mocked.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

tidy up tests, update configs
  sdk/communication/communication-sms/.vscode/launch.json
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

re-record tests
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_live/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_live/recording_can_send_an_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbackrecord/recording_can_send_an_sms_when_url_and_token_credential_are_provided.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

first cut, refactor common test suite logic
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClientSuites.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

refactor mock tests
  sdk/communication/communication-sms/test/internal/smsClient.internal.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/utils/fakeHttpClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClientSuites.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/utils/fakeHttpClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

more refactoring, renames and revert test break
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/communication/communication-sms/test/internal/node/smsClientWithToken.internal.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

workaround min/max test http client import
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

change test paths to import from src exports
  sdk/communication/communication-sms/test/public/node/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

remove filter to enable min/max tests
  sdk/communication/communication-sms/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

refactor rename, add license
  sdk/communication/communication-sms/test/internal/smsClient.internal.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
  sdk/communication/communication-sms/test/public/utils/mockHttpClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update package json node test command
  sdk/communication/communication-sms/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

re-record and lint fixes
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
