Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: eng/common, sdk/anomalydetector/ai-anomaly-detector, sdk/appconfiguration/app-configuration, sdk/communication/communication-administration, sdk/communication/communication-chat, sdk/communication/communication-common, sdk/communication/communication-sms, sdk/core/abort-controller, sdk/core/core-amqp, sdk/core/core-asynciterator-polyfill, sdk/core/core-auth, sdk/core/core-client, sdk/core/core-http, sdk/core/core-core-pipeline, sdk/core/core-lro, sdk/core/core-paging, sdk/core/core-tracing, sdk/core/core-xml, sdk/core/logger, sdk/cosmosdb/cosmos, sdk/digitaltwins/digital-twins-core, sdk/eventgrid/eventgrid, sdk/eventhub/event-hubs, sdk/eventhub/event-processor-host, sdk/eventhub/eventhubs-checkpointstore-blob, sdk/formrecognizer/ai-form-recognizer, sdk/identity/identity, sdk/keyvault/keyvault-admin, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/metricsadvisor/ai-metrics-advisor, sdk/monitor/monitor-opentelemetry-exporter, sdk/schemaregistry/schema-registry, sdk/schemaregistry/schema-registry-avro, sdk/search/search-documents, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-blob-changefeed, sdk/storage/storage-file-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/tables/data-tables, sdk/template/template, sdk/test-utils/recorder, sdk/textanalytics/ai-text-analytics
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

update changelog && readme
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update README.md
  sdk/communication/communication-chat/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

replace hard coded phone number with faker number
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_can_send_a_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/test/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/smsClient.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Communication] Update changelogs for release (#14193)
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-sms/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

unit-test:node command
  sdk/test-utils/perfstress/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

new script to run all tests with default params
  sdk/test-utils/perfstress/runAllTests.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-event-hubs
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

Common spot to declare all the tests
  sdk/test-utils/perfstress/test/declareTests.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

import test names from declare tests
  sdk/test-utils/perfstress/test/index.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update @azure/cosmos README
  sdk/cosmosdb/cosmos/README.md
Due: none

split testsRequiringAdditionalParams
  sdk/test-utils/perfstress/runAllTests.ts
  sdk/test-utils/perfstress/test/declareTests.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Import allTestClasses in index
  sdk/test-utils/perfstress/test/index.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fixup
  sdk/cosmosdb/cosmos/src/client/SasToken/SasToken.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
Due: none

SAS Token feature
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/SasToken/PermissionScopeValues.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasToken.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenAuthorizationHelper.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenPartitionKeyValueRange.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenPartitionKeyValueRangeInterface.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenProperties.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
Due: none

Updates
  sdk/cosmosdb/cosmos/README.md
Due: none

fix test failures
  sdk/test-utils/perfstress/test/options.spec.ts
  sdk/test-utils/perfstress/test/setupCleanup.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

SaS Token fixup
  sdk/cosmosdb/cosmos/src/client/SasToken/SasToken.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenAuthorizationHelper.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenPartitionKeyValueRange.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenProperties.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
Due: none

SaS Token Fixup
  sdk/cosmosdb/cosmos/src/client/SasToken/SasToken.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenAuthorizationHelper.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
Due: none

Increment version for keyvault releases (#14200)
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
Due: none

[Tables] Update changelog (#14197)
  sdk/tables/data-tables/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Setting dev version is failing for Keyvault packages
  eng/tools/versioning/set-dev.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add ts-node as devDep
  sdk/test-utils/perfstress/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

make warmup 0
  sdk/test-utils/perfstress/runAllTests.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

if (state.wasConnectionCloseCalled) - Do Nothing
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

move in sender code as well
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

Use latest pipeline generator. (#14192)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md
  sdk/communication/communication-chat/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

merge terminate call with messagesession.close()
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

Update Communication-Chat Readme && Changelog (#14203)
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

NonSessionReceiverType
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
Due: none

rebuild
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

activate phone number tests
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_an_acquired_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_acquired_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_by_page.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_skip_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_cancel_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_cancel_an_update.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_an_acquired_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_acquired_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_by_page.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_skip_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_cancel_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_multiple_available_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_cancel_an_update.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/index.ts
  sdk/communication/communication-phone-numbers/src/utils/mappers.ts
  sdk/communication/communication-phone-numbers/test/get.spec.ts
  sdk/communication/communication-phone-numbers/test/list.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

apply arch review renames
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_an_acquired_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_acquired_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_skip_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_by_page.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_skip_a_phone_number.js
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/test/get.spec.ts
  sdk/communication/communication-phone-numbers/test/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/list.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix browser test
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_cancel_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

readd comment
  sdk/communication/communication-phone-numbers/test/list.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
