Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: eng/common, sdk/anomalydetector/ai-anomaly-detector, sdk/appconfiguration/app-configuration, sdk/communication/communication-administration, sdk/communication/communication-chat, sdk/communication/communication-common, sdk/communication/communication-sms, sdk/core/abort-controller, sdk/core/core-amqp, sdk/core/core-asynciterator-polyfill, sdk/core/core-auth, sdk/core/core-client, sdk/core/core-http, sdk/core/core-core-pipeline, sdk/core/core-lro, sdk/core/core-paging, sdk/core/core-tracing, sdk/core/core-xml, sdk/core/logger, sdk/cosmosdb/cosmos, sdk/digitaltwins/digital-twins-core, sdk/eventgrid/eventgrid, sdk/eventhub/event-hubs, sdk/eventhub/event-processor-host, sdk/eventhub/eventhubs-checkpointstore-blob, sdk/formrecognizer/ai-form-recognizer, sdk/identity/identity, sdk/keyvault/keyvault-admin, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/metricsadvisor/ai-metrics-advisor, sdk/monitor/monitor-opentelemetry-exporter, sdk/schemaregistry/schema-registry, sdk/schemaregistry/schema-registry-avro, sdk/search/search-documents, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-blob-changefeed, sdk/storage/storage-file-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/tables/data-tables, sdk/template/template, sdk/test-utils/recorder, sdk/textanalytics/ai-text-analytics
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

[KeyVault] - README and samples review (#14394)
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/samples/javascript/accessControlHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/javascript/backupRestoreHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/javascript/backupSelectiveRestore.js
  sdk/keyvault/keyvault-admin/samples/typescript/package.json
  sdk/keyvault/keyvault-admin/samples/typescript/src/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/typescript/src/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/typescript/src/backupSelectiveRestore.ts
  sdk/keyvault/keyvault-keys/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Jeff feedback
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/tokenCache/TokenCachePersistence.ts
  sdk/identity/identity/src/tokenCache/node8.ts
  sdk/identity/identity/src/tokenCache/nodeVersion.ts
  sdk/identity/identity/src/tokenCache/persistencePlatforms.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
Due: none

[Communication] tsconfig.json files need not be linted (#14398)
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Mark some more required properties
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/swagger/containerregistry.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regenerate text analytics samples
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/samples-dev/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/analyzeSentimentWithOpinionMining.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/authenticationMethods.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/alternativeDocumentInput.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/analyzeSentimentWithOpinionMining.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/authenticationMethods.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/analyzeSentimentWithOpinionMining.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/authenticationMethods.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

recorded the Node 15 error test
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_persistence_throws_on_node_15_as_expected.js
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
Due: none

node 15 CI workaround while we wait for MSAL
  sdk/identity/identity/src/tokenCache/nodeVersion.ts
Due: none

Regenerate text analytics samples
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Regenerate template samples
  sdk/template/template/samples/v1/typescript/package.json
Due: none

fix service-bus and event-hubs
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/servicebus/service-bus/src/util/typeGuards.ts
Due: none

fix test
  sdk/appconfiguration/app-configuration/recordings/node/authentication/recording_token_authentication_works.js
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Fix bug in TA samples
  sdk/textanalytics/ai-text-analytics/samples-dev/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeBatchActions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Add manifest list and adjust nullability
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/swagger/containerregistry.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove internal properties
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/swagger/containerregistry.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Identity] 2.0.0-beta.1 release date
  sdk/identity/identity/CHANGELOG.md
Due: none

Fix typescript sample
  sdk/containerregistry/container-registry/samples/typescript/src/containerRepositoryClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add MatrixReplace parameter to tests, only run single test case for canary.
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove customizationsOnRecordings
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
Due: none

re-record "Authentication should work for parallel requests" test for both node and browser
  sdk/keyvault/keyvault-keys/recordings/browsers/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.json
  sdk/keyvault/keyvault-keys/recordings/node/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.js
Due: none

Fix compilation issue
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Cleanup eng\scripts\Language-Settings.ps1 (#14391)
  eng/scripts/Language-Settings.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix linting
  sdk/core/core-amqp/src/util/typeGuards.ts
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/servicebus/service-bus/src/util/typeGuards.ts
Due: none

comment out the line causing out of memory heap errors
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-client/karma.conf.js
  sdk/core/core-xml/karma.conf.js
  sdk/digitaltwins/digital-twins-core/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/metricsadvisor/ai-metrics-advisor/karma.conf.js
  sdk/template/template/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update changelog for release
  sdk/communication/communication-common/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

update changelog for common release
  sdk/communication/communication-common/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

comment out the line causing out of memory heap errors
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-client/karma.conf.js
  sdk/core/core-xml/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/metricsadvisor/ai-metrics-advisor/karma.conf.js
  sdk/template/template/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

comment out the line causing out of memory heap errors
  sdk/communication/communication-common/karma.conf.js
  sdk/containerregistry/container-registry/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/storage/storage-internal-avro/karma.conf.js
  sdk/test-utils/perfstress/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Change package version
  sdk/communication/communication-common/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

comment out the line causing out of memory heap errors
  sdk/communication/communication-common/karma.conf.js
  sdk/containerregistry/container-registry/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/test-utils/perfstress/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix linting error
  sdk/containerregistry/container-registry/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update common dependency version
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Replace use of `child_process.exec` with `execFile`.
  sdk/identity/identity/src/credentials/azureCliCredential.ts
Due: none

update linter deps versions
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

comment out the line causing out of memory heap errors
  sdk/core/core-util/karma.conf.js
Due: eng/pipelines/mgmt-ci.yml
