Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

add release lro
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/lro/release/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/release/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/utils.ts
  sdk/communication/communication-administration/src/phoneNumber/lroModels.ts
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.mocked.spec.ts
  sdk/communication/communication-administration/test/utils/mockHttpClients.ts
  sdk/communication/communication-administration/test/utils/testPhoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update pnpm-lock
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

setting name has changed.
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
Due: none

rename directory
  dataplane.code-workspace
  rush.json
  sdk/api-learn/design-tutorial/.eslintrc.json
  sdk/api-learn/design-tutorial/.nycrc
  sdk/api-learn/design-tutorial/CHANGELOG.md
  sdk/api-learn/design-tutorial/LICENSE
  sdk/api-learn/design-tutorial/README.md
  sdk/api-learn/design-tutorial/api-extractor.json
  sdk/api-learn/design-tutorial/karma.conf.js
  sdk/api-learn/design-tutorial/package.json
  sdk/api-learn/design-tutorial/review/design-tutorial.api.md
  sdk/api-learn/design-tutorial/rollup.base.config.js
  sdk/api-learn/design-tutorial/rollup.config.js
  sdk/api-learn/design-tutorial/rollup.test.config.js
  sdk/api-learn/design-tutorial/sample.env
  sdk/api-learn/design-tutorial/samples/javascript/README.md
  sdk/api-learn/design-tutorial/samples/javascript/helloWorld.js
  sdk/api-learn/design-tutorial/samples/javascript/package.json
  sdk/api-learn/design-tutorial/samples/javascript/sample.env
  sdk/api-learn/design-tutorial/samples/tsconfig.json
  sdk/api-learn/design-tutorial/samples/typescript/README.md
  sdk/api-learn/design-tutorial/samples/typescript/package.json
  sdk/api-learn/design-tutorial/samples/typescript/sample.env
  sdk/api-learn/design-tutorial/samples/typescript/src/helloWorld.ts
  sdk/api-learn/design-tutorial/samples/typescript/tsconfig.json
  sdk/api-learn/design-tutorial/src/generated/generatedClient.ts
  sdk/api-learn/design-tutorial/src/generated/generatedClientContext.ts
  sdk/api-learn/design-tutorial/src/generated/index.ts
  sdk/api-learn/design-tutorial/src/generated/models/index.ts
  sdk/api-learn/design-tutorial/src/generated/models/mappers.ts
  sdk/api-learn/design-tutorial/src/generated/models/parameters.ts
  sdk/api-learn/design-tutorial/src/index.ts
  sdk/api-learn/design-tutorial/swagger/README.md
  sdk/api-learn/design-tutorial/swagger/appconfiguration.json
  sdk/api-learn/design-tutorial/test/example.spec.ts
  sdk/api-learn/design-tutorial/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for textanalytics releases (#11676)
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updating name in all sorts of places for consistency with other SDKs.
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
Due: none

[schema registry] Update to latest swagger (#11650)
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/src/generated/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

renaming field for consistency with .net
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
Due: none

API file has also changed
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

Generated from abb78dda7ac54264150a3230ca147800d998ec38
  sdk/servicebus/arm-servicebus/README.md
  sdk/servicebus/arm-servicebus/src/models/disasterRecoveryConfigsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/index.ts
  sdk/servicebus/arm-servicebus/src/models/mappers.ts
  sdk/servicebus/arm-servicebus/src/models/migrationConfigsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/namespacesMappers.ts
  sdk/servicebus/arm-servicebus/src/models/parameters.ts
  sdk/servicebus/arm-servicebus/src/models/premiumMessagingRegionsOperationsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/privateEndpointConnectionsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/privateLinkResourcesMappers.ts
  sdk/servicebus/arm-servicebus/src/models/queuesMappers.ts
  sdk/servicebus/arm-servicebus/src/models/regionsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/rulesMappers.ts
  sdk/servicebus/arm-servicebus/src/models/subscriptionsMappers.ts
  sdk/servicebus/arm-servicebus/src/models/topicsMappers.ts
  sdk/servicebus/arm-servicebus/src/operations/disasterRecoveryConfigs.ts
  sdk/servicebus/arm-servicebus/src/operations/eventHubs.ts
  sdk/servicebus/arm-servicebus/src/operations/index.ts
  sdk/servicebus/arm-servicebus/src/operations/migrationConfigs.ts
  sdk/servicebus/arm-servicebus/src/operations/namespaces.ts
  sdk/servicebus/arm-servicebus/src/operations/operations.ts
  sdk/servicebus/arm-servicebus/src/operations/premiumMessagingRegionsOperations.ts
  sdk/servicebus/arm-servicebus/src/operations/privateEndpointConnections.ts
  sdk/servicebus/arm-servicebus/src/operations/privateLinkResources.ts
  sdk/servicebus/arm-servicebus/src/operations/queues.ts
  sdk/servicebus/arm-servicebus/src/operations/regions.ts
  sdk/servicebus/arm-servicebus/src/operations/rules.ts
  sdk/servicebus/arm-servicebus/src/operations/subscriptions.ts
  sdk/servicebus/arm-servicebus/src/operations/topics.ts
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClient.ts
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/scripts/logging.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

FIX ServiceBusMessage validations tests
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Due: none

changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Update sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
Due: none

release prep
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault Keys] Changelog release date (#11677)
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Due: none

add reserve lro
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/index.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/release/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/reserve/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/reserve/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lroModels.ts
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1062
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/logging.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release prep (#11680)
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[EventGrid] Prepare for release (#11638)
  sdk/eventgrid/eventgrid/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-data-tables
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[service-bus] Automatically renew message locks when using receiveMessages or getMessageIterator (#11658)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

sender link close - cleaning up new link - bug fix
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

let -> const
  sdk/servicebus/service-bus/src/sender.ts
Due: none

createSendSpan -> models shared with event-hubs
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/sender.ts
Due: none

Tweak to swagger
  sdk/api-learn/design-tutorial/src/generated/generatedClient.ts
  sdk/api-learn/design-tutorial/src/generated/models/index.ts
  sdk/api-learn/design-tutorial/src/generated/models/parameters.ts
  sdk/api-learn/design-tutorial/swagger/appconfiguration.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Due: none

Add some changes in eng/common to test things
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update location of patch files
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Change workflow to use upstream branches
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Switch to pushing to upstream
  eng/common/scripts/git-branch-push.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Scaffold implementation project
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/api-learn/implementation-tutorial/.eslintrc.json
  sdk/api-learn/implementation-tutorial/.nycrc
  sdk/api-learn/implementation-tutorial/CHANGELOG.md
  sdk/api-learn/implementation-tutorial/LICENSE
  sdk/api-learn/implementation-tutorial/README.md
  sdk/api-learn/implementation-tutorial/api-extractor.json
  sdk/api-learn/implementation-tutorial/karma.conf.js
  sdk/api-learn/implementation-tutorial/package.json
  sdk/api-learn/implementation-tutorial/review/implementation-tutorial.api.md
  sdk/api-learn/implementation-tutorial/rollup.base.config.js
  sdk/api-learn/implementation-tutorial/rollup.config.js
  sdk/api-learn/implementation-tutorial/rollup.test.config.js
  sdk/api-learn/implementation-tutorial/sample.env
  sdk/api-learn/implementation-tutorial/samples/javascript/README.md
  sdk/api-learn/implementation-tutorial/samples/javascript/helloWorld.js
  sdk/api-learn/implementation-tutorial/samples/javascript/package.json
  sdk/api-learn/implementation-tutorial/samples/javascript/sample.env
  sdk/api-learn/implementation-tutorial/samples/tsconfig.json
  sdk/api-learn/implementation-tutorial/samples/typescript/README.md
  sdk/api-learn/implementation-tutorial/samples/typescript/package.json
  sdk/api-learn/implementation-tutorial/samples/typescript/sample.env
  sdk/api-learn/implementation-tutorial/samples/typescript/src/helloWorld.ts
  sdk/api-learn/implementation-tutorial/samples/typescript/tsconfig.json
  sdk/api-learn/implementation-tutorial/src/generated/generatedClient.ts
  sdk/api-learn/implementation-tutorial/src/generated/generatedClientContext.ts
  sdk/api-learn/implementation-tutorial/src/generated/index.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/index.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/mappers.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/parameters.ts
  sdk/api-learn/implementation-tutorial/src/index.ts
  sdk/api-learn/implementation-tutorial/swagger/README.md
  sdk/api-learn/implementation-tutorial/swagger/appconfiguration.json
  sdk/api-learn/implementation-tutorial/test/example.spec.ts
  sdk/api-learn/implementation-tutorial/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for communication releases
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/src/communicationIdentity/generated/src/generatedCommunicationIdentityClientContext.ts
  sdk/communication/communication-administration/swagger/CommunicationIdentity.md
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/generated/src/smsApiClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-keyvault-keys
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
Due: none

Completed design tutorial
  sdk/api-learn/implementation-tutorial/review/implementation-tutorial.api.md
  sdk/api-learn/implementation-tutorial/src/configurationClient.ts
  sdk/api-learn/implementation-tutorial/src/generated/generatedClient.ts
  sdk/api-learn/implementation-tutorial/src/generated/generatedClientContext.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/index.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/mappers.ts
  sdk/api-learn/implementation-tutorial/src/generated/models/parameters.ts
  sdk/api-learn/implementation-tutorial/src/index.ts
  sdk/api-learn/implementation-tutorial/swagger/README.md
  sdk/api-learn/implementation-tutorial/test/example.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Add release date, re-order features in changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Increment version for communication releases (#11686)
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/src/communicationIdentity/generated/src/generatedCommunicationIdentityClientContext.ts
  sdk/communication/communication-administration/swagger/CommunicationIdentity.md
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/generated/src/smsApiClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add release date, re-order features in changelog (#11689)
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Generated from d4c6676c1337f154dd9152eabb99b442b9d12ec0
  sdk/storagesync/arm-storagesync/src/models/cloudEndpointsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/index.ts
  sdk/storagesync/arm-storagesync/src/models/mappers.ts
  sdk/storagesync/arm-storagesync/src/models/operationStatusOperationsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/operationsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/parameters.ts
  sdk/storagesync/arm-storagesync/src/models/privateEndpointConnectionsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/privateLinkResourcesMappers.ts
  sdk/storagesync/arm-storagesync/src/models/registeredServersMappers.ts
  sdk/storagesync/arm-storagesync/src/models/serverEndpointsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/syncGroupsMappers.ts
  sdk/storagesync/arm-storagesync/src/models/workflowsMappers.ts
  sdk/storagesync/arm-storagesync/src/operations/cloudEndpoints.ts
  sdk/storagesync/arm-storagesync/src/operations/index.ts
  sdk/storagesync/arm-storagesync/src/operations/operationStatusOperations.ts
  sdk/storagesync/arm-storagesync/src/operations/operations.ts
  sdk/storagesync/arm-storagesync/src/operations/privateEndpointConnections.ts
  sdk/storagesync/arm-storagesync/src/operations/privateLinkResources.ts
  sdk/storagesync/arm-storagesync/src/operations/registeredServers.ts
  sdk/storagesync/arm-storagesync/src/operations/serverEndpoints.ts
  sdk/storagesync/arm-storagesync/src/operations/storageSyncServices.ts
  sdk/storagesync/arm-storagesync/src/operations/syncGroups.ts
  sdk/storagesync/arm-storagesync/src/operations/workflows.ts
  sdk/storagesync/arm-storagesync/src/storageSyncManagementClient.ts
  sdk/storagesync/arm-storagesync/src/storageSyncManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
