Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

[core-auth] Upgraded ESLint
  sdk/core/core-auth/.eslintrc.json
  sdk/core/core-auth/package.json
  sdk/core/core-auth/src/azureKeyCredential.ts
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-auth/test/index.spec.ts
Due: none

[core-amqp] Upgraded ESLint
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/auth/iotSas.ts
  sdk/core/core-amqp/src/auth/sas.ts
  sdk/core/core-amqp/src/auth/token.ts
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/eventhubConnectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/iothubConnectionConfig.ts
  sdk/core/core-amqp/src/dataTransformer.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/log.ts
  sdk/core/core-amqp/src/messageHeader.ts
  sdk/core/core-amqp/src/messageProperties.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/src/shims.d.ts
  sdk/core/core-amqp/src/util/checkNetworkConnection.browser.ts
  sdk/core/core-amqp/src/util/checkNetworkConnection.ts
  sdk/core/core-amqp/src/util/constants.ts
  sdk/core/core-amqp/src/util/runtimeInfo.browser.ts
  sdk/core/core-amqp/src/util/runtimeInfo.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/core/core-amqp/test/dataTransformer.spec.ts
  sdk/core/core-amqp/test/errors.spec.ts
  sdk/core/core-amqp/test/message.spec.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
  sdk/core/core-amqp/test/retry.spec.ts
  sdk/core/core-amqp/test/tokenProvider.spec.ts
Due: none

update service name for form recognizer. ensure github.io reflects nicely
  eng/tools/generate-static-index/service-mapper.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG for may release
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove --exit flag
  sdk/servicebus/service-bus/package.json
Due: none

Generated from 8c42d4a417b4b86cb82dc4c786d6d506a06ad2f7
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/README.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/index.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/operations/operations.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/operations/sourceControlConfigurations.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Troubleshooting an interesting failure - it's possible that we're seeing leakage from other tests (that involve tracing).
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Use sequenceNumber, which is an absolute starting point, rather than date (which can be relative and affected by clock skew)
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Due: none

Make the entry a list
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[FormRecognizer] Call out targeted service API version in README (#8665)
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

_init is being retried properly but the send call is not honoring the timeout
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Due: none

[FormRecognizer] Fix package version in build:autorest script
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix tsconfig in cosmos samples
  sdk/cosmosdb/cosmos/samples/tsconfig.json
Due: none

Let's check all the properties
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

createSessionReceiver() is async
  sdk/servicebus/service-bus/samples/javascript/session.js
Due: none

Fixing the tests
  sdk/core/core-http/test/defaultHttpClientTests.ts
Due: none

formatting
  sdk/core/core-http/package.json
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.ts
  sdk/core/core-http/src/policies/keepAlivePolicy.ts
  sdk/core/core-http/src/policies/userAgentPolicy.ts
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/test/mockHttp.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.node.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/utilsTests.ts
Due: none

Jeffs feedback
  sdk/core/core-tracing/.eslintrc.json
  sdk/core/core-tracing/src/interfaces.ts
Due: none

I was misquoted.
  sdk/servicebus/service-bus/README.md
Due: none

[service-bus] Minor fixes prior to preview.2 release (#8688)
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples/javascript/session.js
Due: none

disable automatic addition of browser and samples testing to cosmos public CI pipeline
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

undo unnecessary whitespace changes
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix cosmos public CI pipeline (#8689)
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Scaffold out the new pipeline
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/pipeline.ts
Due: none

Something something global variables are bad...
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Add tests for everything but ordering
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/test/pipeline.spec.ts
Due: none

These ESLint rules cant be applied in this repo
  sdk/core/core-http/.eslintrc.json
  sdk/core/core-http/package.json
Due: none

Missed a few more get/setTracer pairings.
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Eradicating _all_ setTracer() calls in favor of just using the helper which makes it a bit more obvious when you've failed to clean it up (ie, resetTracer() will show up as unused)
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Due: none

Generated from 713f03322ef76dabbe2ff84b346be7ee866e880f
  sdk/iothub/arm-iothub/LICENSE.txt
  sdk/iothub/arm-iothub/README.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/rollup.config.js
  sdk/iothub/arm-iothub/src/iotHubClient.ts
  sdk/iothub/arm-iothub/src/iotHubClientContext.ts
  sdk/iothub/arm-iothub/src/models/index.ts
  sdk/iothub/arm-iothub/src/models/iotHubResourceMappers.ts
  sdk/iothub/arm-iothub/src/models/mappers.ts
  sdk/iothub/arm-iothub/src/models/parameters.ts
  sdk/iothub/arm-iothub/src/models/privateEndpointConnectionsMappers.ts
  sdk/iothub/arm-iothub/src/models/privateLinkResourcesOperationsMappers.ts
  sdk/iothub/arm-iothub/src/operations/index.ts
  sdk/iothub/arm-iothub/src/operations/iotHub.ts
  sdk/iothub/arm-iothub/src/operations/privateEndpointConnections.ts
  sdk/iothub/arm-iothub/src/operations/privateLinkResourcesOperations.ts
  sdk/iothub/arm-iothub/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

some of the feedback by Jeff
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/src/xhrHttpClient.ts
  sdk/core/core-http/test/expiringAccessTokenCacheTests.ts
  sdk/core/core-http/test/mockHttp.ts
Due: none

formatting
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/test/expiringAccessTokenCacheTests.ts
  sdk/core/core-http/test/mockHttp.ts
Due: none

[event-hubs] Fixing flaky tests. (#8684)
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Due: none

undoing this review API change
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/util/utils.ts
Due: none

Fixing broken sample
  sdk/eventhub/event-hubs/README.md
Due: none

[event-hubs] Fixing broken sample (#8695)
  sdk/eventhub/event-hubs/README.md
Due: none

Check 1
  sdk/servicebus/service-bus/test/abortSignal.spec.ts
Due: none

Check 2
  sdk/servicebus/service-bus/test/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none
