Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Cast buffer to any
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Due: none

[Graph] Add service deprecation notice
  sdk/graphrbac/graph/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update versions
  sdk/graphrbac/graph/package.json
  sdk/graphrbac/graph/src/graphRbacManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update file-share test for Node 15
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Add comment
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Due: none

Remove trailing whitespace
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Rvert set dev version code (#14298)
  eng/tools/versioning/set-dev.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update to share common logic
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

clean the users being passed into Submit-PullRequest.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add a trim to ensure that the split up arrays remain clean
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1478
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update format
  sdk/storage/storage-blob/samples/storage-blob-resize-function/package.json
Due: none

fixing import statement
  sdk/mediaservices/media-analytics-edge/samples/javascript/lvaInvokeModules.js
  sdk/mediaservices/media-analytics-edge/samples/typescript/src/lvaInvokeModuleSample.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regenerated Cognitive Services SDK Face API (#14240)
  sdk/cognitiveservices/cognitiveservices-face/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-face/package.json
  sdk/cognitiveservices/cognitiveservices-face/src/faceClientContext.ts
  sdk/cognitiveservices/cognitiveservices-face/src/models/faceMappers.ts
  sdk/cognitiveservices/cognitiveservices-face/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-face/src/models/mappers.ts
  sdk/cognitiveservices/cognitiveservices-face/src/models/parameters.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/face.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/faceListOperations.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/largeFaceListOperations.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/largePersonGroupOperations.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/largePersonGroupPerson.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/personGroupOperations.ts
  sdk/cognitiveservices/cognitiveservices-face/src/operations/personGroupPerson.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools for PR 1418 (#14047)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

mocking fakeReceiver and remove a console.log that had been present since eternity
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
Due: none

fix session tests as well
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
Due: none

mock it properly - the getter from rhea-promise
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
Due: none

update assertion messages to explain why the assertions failed
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
Due: none

Eventgrid arm package is not packaged due to matching service and dataplane folder name
  .scripts/common.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename: Draft[Pr] -> OpenAsDraft
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update docs
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove unsupported lro options (#14244)
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/lroModels.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/test/lro.purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[communication] add phone number samples (#14243)
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/samples/javascript/README.md
  sdk/communication/communication-phone-numbers/samples/javascript/getPurchasedPhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/javascript/getPurchasedPhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/javascript/purchasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/javascript/releasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/javascript/updatePhoneNumberCapabilities.js
  sdk/communication/communication-phone-numbers/samples/typescript/README.md
  sdk/communication/communication-phone-numbers/samples/typescript/src/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/typescript/src/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples/typescript/src/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/typescript/src/updatePhoneNumberCapabilities.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: eng/common, sdk/anomalydetector/ai-anomaly-detector, sdk/appconfiguration/app-configuration, sdk/communication/communication-administration, sdk/communication/communication-chat, sdk/communication/communication-common, sdk/communication/communication-sms, sdk/core/abort-controller, sdk/core/core-amqp, sdk/core/core-asynciterator-polyfill, sdk/core/core-auth, sdk/core/core-client, sdk/core/core-http, sdk/core/core-core-pipeline, sdk/core/core-lro, sdk/core/core-paging, sdk/core/core-tracing, sdk/core/core-xml, sdk/core/logger, sdk/cosmosdb/cosmos, sdk/digitaltwins/digital-twins-core, sdk/eventgrid/eventgrid, sdk/eventhub/event-hubs, sdk/eventhub/event-processor-host, sdk/eventhub/eventhubs-checkpointstore-blob, sdk/formrecognizer/ai-form-recognizer, sdk/identity/identity, sdk/keyvault/keyvault-admin, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/metricsadvisor/ai-metrics-advisor, sdk/monitor/monitor-opentelemetry-exporter, sdk/schemaregistry/schema-registry, sdk/schemaregistry/schema-registry-avro, sdk/search/search-documents, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-blob-changefeed, sdk/storage/storage-file-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/tables/data-tables, sdk/template/template, sdk/test-utils/recorder, sdk/textanalytics/ai-text-analytics
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
