Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Align receipt data types with api design
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModelWithLabels.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModelWithLabels.ts
  sdk/formrecognizer/ai-form-recognizer/src/common.ts
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Feedback that we should consistently call 'customers' our "users" instead.
  sessionmanager.md
  settlement-methods-location.md
  settling_messages_when_receiver_is_closing.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sessionmanager.md
  sessionmanager.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Identity] Correctly pass through the options (#8343)
  sdk/identity/identity/src/credentials/vscodeCredential.ts
  sdk/identity/identity/test/identityClient.spec.ts
Due: none

Update README snippets and samples
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeLabeledForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledFormFromUrl.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

define `CloudType` at a higher scope so it doesn't have to be inserted in each matrix entry
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/appconfiguration/app-configuration/tests.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/keyvault/keyvault-certificates/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/search/search-documents/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/archetype-sdk-tests-storage.yml
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
  sdk/textanalytics/ai-text-analytics/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

default matrix does not require CloudType definitions either
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update receipt samples
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

- Make _trySend() the only place that actually explicitly calls open() - Fix some spelling mistakes in an unrelated doc comment
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
Due: none

remove the test since we are not overriding
  sdk/core/core-amqp/test/config.spec.ts
Due: none

Generated from 73c79ce81980fa55bdf4b1b75f5541c4e65bcf36
  sdk/consumption/arm-consumption/LICENSE.txt
  sdk/consumption/arm-consumption/README.md
  sdk/consumption/arm-consumption/package.json
  sdk/consumption/arm-consumption/rollup.config.js
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
  sdk/consumption/arm-consumption/src/consumptionManagementClientContext.ts
  sdk/consumption/arm-consumption/src/models/balancesMappers.ts
  sdk/consumption/arm-consumption/src/models/budgetsMappers.ts
  sdk/consumption/arm-consumption/src/models/chargesMappers.ts
  sdk/consumption/arm-consumption/src/models/creditsMappers.ts
  sdk/consumption/arm-consumption/src/models/eventsOperationsMappers.ts
  sdk/consumption/arm-consumption/src/models/forecastsMappers.ts
  sdk/consumption/arm-consumption/src/models/index.ts
  sdk/consumption/arm-consumption/src/models/lotsOperationsMappers.ts
  sdk/consumption/arm-consumption/src/models/mappers.ts
  sdk/consumption/arm-consumption/src/models/marketplacesMappers.ts
  sdk/consumption/arm-consumption/src/models/operationsMappers.ts
  sdk/consumption/arm-consumption/src/models/parameters.ts
  sdk/consumption/arm-consumption/src/models/priceSheetMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationRecommendationsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationTransactionsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationsDetailsMappers.ts
  sdk/consumption/arm-consumption/src/models/reservationsSummariesMappers.ts
  sdk/consumption/arm-consumption/src/models/tagsMappers.ts
  sdk/consumption/arm-consumption/src/models/usageDetailsMappers.ts
  sdk/consumption/arm-consumption/src/operations/budgets.ts
  sdk/consumption/arm-consumption/src/operations/charges.ts
  sdk/consumption/arm-consumption/src/operations/credits.ts
  sdk/consumption/arm-consumption/src/operations/eventsOperations.ts
  sdk/consumption/arm-consumption/src/operations/index.ts
  sdk/consumption/arm-consumption/src/operations/lotsOperations.ts
  sdk/consumption/arm-consumption/src/operations/marketplaces.ts
  sdk/consumption/arm-consumption/src/operations/reservationRecommendations.ts
  sdk/consumption/arm-consumption/src/operations/reservationTransactions.ts
  sdk/consumption/arm-consumption/src/operations/reservationsDetails.ts
  sdk/consumption/arm-consumption/src/operations/reservationsSummaries.ts
  sdk/consumption/arm-consumption/src/operations/tags.ts
  sdk/consumption/arm-consumption/src/operations/usageDetails.ts
  sdk/consumption/arm-consumption/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Allows partitionKey as string
  sdk/cosmosdb/cosmos/src/client/Container/ContainerRequest.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/orderByDocumentProducerComparator.ts
  sdk/cosmosdb/cosmos/src/request/ResourceResponse.ts
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
Due: none

use a static cloud type
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 075c74a646560722f0984e09cbe0fb18a089342a
  sdk/peering/arm-peering/LICENSE.txt
  sdk/peering/arm-peering/README.md
  sdk/peering/arm-peering/src/models/index.ts
  sdk/peering/arm-peering/src/models/mappers.ts
  sdk/peering/arm-peering/src/models/parameters.ts
  sdk/peering/arm-peering/src/models/peerAsnsMappers.ts
  sdk/peering/arm-peering/src/models/peeringLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceCountriesMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceProvidersMappers.ts
  sdk/peering/arm-peering/src/models/peeringServicesMappers.ts
  sdk/peering/arm-peering/src/models/peeringsMappers.ts
  sdk/peering/arm-peering/src/models/prefixesMappers.ts
  sdk/peering/arm-peering/src/models/registeredAsnsMappers.ts
  sdk/peering/arm-peering/src/models/registeredPrefixesMappers.ts
  sdk/peering/arm-peering/src/operations/index.ts
  sdk/peering/arm-peering/src/operations/legacyPeerings.ts
  sdk/peering/arm-peering/src/operations/peeringServiceCountries.ts
  sdk/peering/arm-peering/src/operations/peeringServicePrefixes.ts
  sdk/peering/arm-peering/src/operations/prefixes.ts
  sdk/peering/arm-peering/src/operations/registeredAsns.ts
  sdk/peering/arm-peering/src/operations/registeredPrefixes.ts
  sdk/peering/arm-peering/src/peeringManagementClient.ts
  sdk/peering/arm-peering/src/peeringManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove RunInBrowser in service-bus tests
  sdk/servicebus/service-bus/karma.conf.js
  sdk/servicebus/service-bus/test/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/track2.samples.spec.ts
Due: none

remove RunnableInBrowserfrom event-hubs tests
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventPosition.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/iothub.spec.ts
  sdk/eventhub/event-hubs/test/misc.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Tweak how to return receipts with locales
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledFormFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 31c793fbcf1c66e412a28c5db8c0744a9a50713c
  sdk/databricks/arm-databricks/LICENSE.txt
  sdk/databricks/arm-databricks/README.md
  sdk/databricks/arm-databricks/package.json
  sdk/databricks/arm-databricks/rollup.config.js
  sdk/databricks/arm-databricks/src/databricksClientContext.ts
  sdk/databricks/arm-databricks/src/models/index.ts
  sdk/databricks/arm-databricks/src/models/mappers.ts
  sdk/databricks/arm-databricks/src/models/operationsMappers.ts
  sdk/databricks/arm-databricks/src/models/workspacesMappers.ts
  sdk/databricks/arm-databricks/src/operations/workspaces.ts
  sdk/databricks/arm-databricks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 835784b6c38a69a2bb9c9eb0e6ab0e896ee22061
  sdk/machinelearningservices/arm-machinelearningservices/LICENSE.txt
  sdk/machinelearningservices/arm-machinelearningservices/README.md
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/rollup.config.js
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/mappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/parameters.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateLinkResourcesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/quotasMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspaceFeaturesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspacesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateEndpointConnections.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateLinkResources.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/quotas.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaceFeatures.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/appconfiguration/app-configuration/test/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/package.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
  sdk/appconfiguration/app-configuration/test/throwOrNotThrow.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Due: none

[FormRecognizer] Add CHANGELOG
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Fix broken link for TS sample in Readme (#8363)
  sdk/servicebus/service-bus/samples/typescript/README.md
Due: none

[Service Bus] Fix broken link for JS sample in Readme (#8258)
  sdk/servicebus/service-bus/samples/javascript/README.md
Due: none

tried the browser, but this is not ready or browser tests
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add integration test tasks to eslint plugin
  common/tools/eslint-plugin-azure-sdk/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix Review Files
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-queue/review/storage-queue.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 35ff09c1c441391543e9595c878d5478b4cfc64a
  sdk/eventhub/arm-eventhub/LICENSE.txt
  sdk/eventhub/arm-eventhub/README.md
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/rollup.config.js
  sdk/eventhub/arm-eventhub/src/models/index.ts
  sdk/eventhub/arm-eventhub/src/models/mappers.ts
  sdk/eventhub/arm-eventhub/src/models/namespacesMappers.ts
  sdk/eventhub/arm-eventhub/src/models/parameters.ts
  sdk/eventhub/arm-eventhub/src/operations/eventHubs.ts
  sdk/eventhub/arm-eventhub/src/operations/namespaces.ts
  sdk/eventhub/arm-eventhub/tsconfig.json
Due: none

Generated from a5268c58c615774eee6d4b8714e806ed74bad4a4
  sdk/keyvault/arm-keyvault/LICENSE.txt
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/rollup.config.js
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClientContext.ts
  sdk/keyvault/arm-keyvault/src/models/index.ts
  sdk/keyvault/arm-keyvault/src/models/mappers.ts
  sdk/keyvault/arm-keyvault/src/models/parameters.ts
  sdk/keyvault/arm-keyvault/src/models/privateEndpointConnectionsMappers.ts
  sdk/keyvault/arm-keyvault/src/models/privateLinkResourcesMappers.ts
  sdk/keyvault/arm-keyvault/src/operations/index.ts
  sdk/keyvault/arm-keyvault/src/operations/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operations/privateLinkResources.ts
  sdk/keyvault/arm-keyvault/src/operations/vaults.ts
  sdk/keyvault/arm-keyvault/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7d36862eb495034ab93d34e60e9116b24d3da204
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 79b081ace1a89974b771830f1320280ae40d817b
  sdk/monitor/arm-monitor/LICENSE.txt
  sdk/monitor/arm-monitor/README.md
  sdk/monitor/arm-monitor/src/models/index.ts
  sdk/monitor/arm-monitor/src/models/mappers.ts
  sdk/monitor/arm-monitor/src/monitorManagementClientContext.ts
  sdk/monitor/arm-monitor/src/operations/alertRules.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7d36862eb495034ab93d34e60e9116b24d3da204
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7d36862eb495034ab93d34e60e9116b24d3da204
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7d36862eb495034ab93d34e60e9116b24d3da204
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7d36862eb495034ab93d34e60e9116b24d3da204
  sdk/resources/arm-resources/LICENSE.txt
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/models/providersMappers.ts
  sdk/resources/arm-resources/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources/src/models/resourcesMappers.ts
  sdk/resources/arm-resources/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/index.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from cc306aedeb3ee50ad1772ca89e4e6e5f29381d7c
  sdk/storage/arm-storage/src/models/blobContainersMappers.ts
  sdk/storage/arm-storage/src/models/blobServicesMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage/src/models/parameters.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/operations/index.ts
  sdk/storage/arm-storage/src/operations/objectReplicationPoliciesOperations.ts
  sdk/storage/arm-storage/src/storageManagementClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from b037ddf8e15792238d9708044a8ea502a80f916d
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/sshPublicKeysMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryApplicationVersions.ts
  sdk/compute/arm-compute/src/operations/galleryApplications.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/index.ts
  sdk/compute/arm-compute/src/operations/sshPublicKeys.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
  sdk/compute/arm-compute/src/operations/virtualMachines.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

- Fixing issue where the promise rejection was unhandled. The internal async function _must_ call reject() explicitly. - Updating readme with some wording changes from Ramya.
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
