Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Swagger changes
  sdk/communication/communication-sms/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Exporting SendSmsResult
  sdk/communication/communication-sms/review/communication-sms.api.md
  sdk/communication/communication-sms/src/smsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Samples
  sdk/communication/communication-sms/samples/javascript/sendSms.js
  sdk/communication/communication-sms/samples/typescript/src/sendSms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formatting
  sdk/communication/communication-sms/samples/javascript/sendSms.js
  sdk/communication/communication-sms/samples/typescript/src/sendSms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove Interface Soe Search Indexing Buffer
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/src/geographyPoint.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
  sdk/search/search-documents/test/internal/geographyPoint.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[EventHubs] Helper function to parse connection string
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/test/connectionStringUtils.spec.ts
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
Due: none

fixup! [EventHubs] Helper function to parse connection string
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
Due: none

Mark fields as readonly
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
Due: none

better description
  sdk/eventhub/event-hubs/test/connectionStringUtils.spec.ts
Due: none

Address feedback
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
Due: none

feedback
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
Due: none

Update sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
Due: none

feedback
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/connectionContext.ts
Due: none

[communication-identity] remove user from IssueTokenResponse
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/src/models.ts
  sdk/communication/communication-identity/test/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-identity/test/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/communicationIdentityClientWithToken.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Suppress credscan for dake secrets (#13352)
  eng/CredScanSuppression.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add option to deprecate all packages in npm admin task (#12874)
  eng/scripts/npm-admin-tasks.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove unneeded type (we can just "follow" the type from the actual property of receiver options)
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
Due: none

rename to CommunicationAccessToken and fix chat test
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/src/models.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-identity/test/utils/mockHttpClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

re-record chat live tests
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_adds_members.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_members.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_threads.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_remove_a_member.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_adds_members.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_members.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_threads.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_remove_a_member.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_typing_notification.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

don't return body and parsedBody
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updated the Sample Code block for AMS to use Service Principal and list assets (#13354)
  sdk/mediaservices/arm-mediaservices/README.md
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServicesContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault] Remove unused fs-extra dependency
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

added mapping type for metric name to metric id
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Mapping
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update review file and test
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update review file and test
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

initial commit for tutorial
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/learn/api-learn/.nycrc
  sdk/learn/api-learn/CHANGELOG.md
  sdk/learn/api-learn/LICENSE
  sdk/learn/api-learn/README-TEMPLATE.md
  sdk/learn/api-learn/README.md
  sdk/learn/api-learn/api-extractor.json
  sdk/learn/api-learn/karma.conf.js
  sdk/learn/api-learn/package.json
  sdk/learn/api-learn/review/api-learn.api.md
  sdk/learn/api-learn/review/template.api.md
  sdk/learn/api-learn/rollup.config.js
  sdk/learn/api-learn/sample.env
  sdk/learn/api-learn/samples/javascript/README.md
  sdk/learn/api-learn/samples/javascript/package.json
  sdk/learn/api-learn/samples/javascript/sample.env
  sdk/learn/api-learn/samples/javascript/sampleTemplate.js
  sdk/learn/api-learn/samples/tsconfig.json
  sdk/learn/api-learn/samples/typescript/README.md
  sdk/learn/api-learn/samples/typescript/package.json
  sdk/learn/api-learn/samples/typescript/sample.env
  sdk/learn/api-learn/samples/typescript/src/sampleTemplate.ts
  sdk/learn/api-learn/samples/typescript/tsconfig.json
  sdk/learn/api-learn/src/index.ts
  sdk/learn/api-learn/test/example.spec.ts
  sdk/learn/api-learn/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

saving progress
  rush.json
  sdk/learn/api-learn/CHANGELOG.md
  sdk/learn/api-learn/README-TEMPLATE.md
  sdk/learn/api-learn/README.md
  sdk/learn/api-learn/samples/javascript/README.md
  sdk/learn/api-learn/samples/typescript/README.md
  sdk/learn/api-learn/samples/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Response to PR Comments
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/geographyPoint.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/test/internal/geographyPoint.spec.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update Samples
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage] Remove unused fs-extra dependency
  sdk/storage/storage-blob-changefeed/rollup.base.config.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-internal-avro/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/storage/storage-blob-changefeed/rollup.base.config.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-internal-avro/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove unneeded import
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
Due: none

Minor fix
  sdk/search/search-documents/test/internal/geographyPoint.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

restore original name for perms
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added await
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

changelog
  sdk/core/core-lro/CHANGELOG.md
  sdk/keyvault/keyvault-admin/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
