Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

Emulator tests
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/storage/storage-queue/test/emulator-tests/miscellaneous.spec.ts
Due: none

[Storage](Blob) Expose the CustomerProvidedKey option of clear pages API for service optimization.
  sdk/storage/storage-blob/src/PageBlobURL.ts
Due: none

fixes formatting and docs
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/samples/README.md
  sdk/eventhub/event-hubs/samples/eventProcessor.ts
  sdk/eventhub/event-hubs/src/partitionContext.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Adding documentation for appconfig
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Undo modifications to breaking changes doc
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-file/BreakingChanges.md
  sdk/storage/storage-queue/BreakingChanges.md
Due: none

Update Windows VMImage to windows2019
  eng/pipelines/docs.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/azure-pipelines.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/archetype-sdk-tests-storage.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] Support for Custom connection strings - storage-file (#4998)
  sdk/storage/storage-file/recordings/browsers/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_and_file_endpoints.json
  sdk/storage/storage-file/recordings/browsers/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_endpoint.json
  sdk/storage/storage-file/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_and_file_endpoints.js
  sdk/storage/storage-file/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_endpoint.js
  sdk/storage/storage-file/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_an_endpoint_suffix.js
  sdk/storage/storage-file/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_an_explicit_endpoint.js
  sdk/storage/storage-file/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_complete_service_endpoint_for_each_service.js
  sdk/storage/storage-file/src/utils/utils.common.ts
  sdk/storage/storage-file/test/node/utils.spec.ts
  sdk/storage/storage-file/test/utils.spec.ts
Due: none

remove .only
  sdk/storage/storage-queue/test/emulator-tests/miscellaneous.spec.ts
Due: none

Remove token references
  sdk/cognitiveservices/cognitiveservices-face/README.md
  sdk/cognitiveservices/cognitiveservices-visualsearch/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update the package name to eventhubs-checkpoint-blob
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/eventhub/eventhubs-checkpoint-blob/.vscode/launch.json
  sdk/eventhub/eventhubs-checkpoint-blob/License
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
  sdk/eventhub/eventhubs-checkpoint-blob/api-extractor.json
  sdk/eventhub/eventhubs-checkpoint-blob/changelog.md
  sdk/eventhub/eventhubs-checkpoint-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpoint-blob/package.json
  sdk/eventhub/eventhubs-checkpoint-blob/review/eventhubs-checkpoint-blob.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/review/storage-blob-partition-manager.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.test.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/samples/tsconfig.json
  sdk/eventhub/eventhubs-checkpoint-blob/src/blobPartitionManager.ts
  sdk/eventhub/eventhubs-checkpoint-blob/src/index.ts
  sdk/eventhub/eventhubs-checkpoint-blob/src/log.ts
  sdk/eventhub/eventhubs-checkpoint-blob/test/blob-partition-manager.spec.ts
  sdk/eventhub/eventhubs-checkpoint-blob/test/utils/testUtils.ts
  sdk/eventhub/eventhubs-checkpoint-blob/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update nock from 10.0.6 to 11.3.2 (#4992)
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Add metadata in listBlobsFlat calls
  sdk/eventhub/eventhubs-checkpoint-blob/src/blobPartitionManager.ts
Due: none

Update karma version
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/eventhubs-checkpoint-blob/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address comments, simplify implementation
  sdk/core/core-http/lib/policies/atomSerializationPolicy.ts
  sdk/core/core-http/lib/policies/msRestUserAgentPolicy.browser.ts
  sdk/core/core-http/lib/util/atomHandler.ts
Due: none

Fix build error
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
Due: none

Pass through options.abortSignal to underlying requests (#4988)
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/src/FileServiceClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Due: none

Fix typo
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
Due: none

Use parser in async mode
  sdk/core/core-http/lib/policies/atomSerializationPolicy.ts
  sdk/core/core-http/lib/util/xml.ts
Due: none

getCertificate requires a version
  sdk/keyvault/keyvault-certificates/src/index.ts
Due: none

Update Windows VMImage to windows2019 (#5001)
  eng/pipelines/docs.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/azure-pipelines.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/archetype-sdk-tests-storage.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] add systemProperties to ReceivedEventData
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
Due: none

updates api review
  sdk/eventhub/event-hubs/review/event-hubs.api.md
Due: none

event-hubs run format
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
Due: none

removed rollup plugin alias
  sdk/core/core-http/package.json
Due: none

trying to update rollup alias usage for breaking changes
  sdk/core/core-http/rollup.config.ts
Due: none

remove rollup-plugin-alias
  sdk/core/core-http/.typings/rollup-plugin-alias.d.ts
  sdk/core/core-http/rollup.config.ts
Due: none

updating rollup-plugin-alias to 2.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

updating rollup-plugin-alias to 2.0.0 (#4993)
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/.typings/rollup-plugin-alias.d.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/rollup.config.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

enable basic auth in core-http
  sdk/core/core-http/lib/policies/proxyPolicy.ts
  sdk/storage/storage-blob/src/Pipeline.ts
Due: none

Add Tracing to Identity
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracingUtils.ts
Due: none

simplify proxySettings object
  sdk/core/core-http/lib/policies/proxyPolicy.ts
Due: none

update sample with a comment
  sdk/storage/storage-blob/samples/typescript/proxyAuth.ts
Due: none

Code cleanup
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
  sdk/eventhub/eventhubs-checkpoint-blob/src/blobPartitionManager.ts
  sdk/eventhub/eventhubs-checkpoint-blob/test/blob-partition-manager.spec.ts
Due: none

running npm run format
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/generated/configurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/configurationClientContext.ts
  sdk/appconfiguration/app-configuration/src/generated/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

rush update --full after deletion of dep
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove old storage-blob-partition-manager folder
  sdk/eventhub/storage-blob-partition-manager/src/blobPartitionManager.ts
Due: none

Move the proxy to the last step of pipeline
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
Due: none

Update md file
  sdk/eventhub/eventhubs-checkpoint-blob/review/storage-blob-partition-manager.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/src/log.ts
Due: none

Adding documentation for appconfig (#5000)
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/generated/configurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/configurationClientContext.ts
  sdk/appconfiguration/app-configuration/src/generated/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml
