Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Update error message to not have hardcoded value to fix the test in canary region
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Due: none

Set version artificially for the test template runs (#11561)
  eng/common/scripts/logging.ps1
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/build.yml
  eng/scripts/SetTestPipelineVersion.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add adfs support
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
Due: none

[service-bus] Moving autolockrenewal into a class independent of MessageReceiver/StreamingReceiver (#11565)
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Due: none

[Service Bus] Fix test failure in the canary region (#11588)
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Due: none

Response to PR Comments
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formatting changes
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Bump schema-registry-avro -> schema-registry dependency to live
  sdk/schemaregistry/schema-registry-avro/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove outdated comment, this format is staying
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update Message
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Use reference docs for links between packages
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix canary region test failures
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Due: none

support for multiple clouds on VSCodeCredential, and a slight refactoring
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Due: none

Update sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
Due: none

[Keyvault] Set timeout limit of 90 for live test pipelines
  sdk/keyvault/keyvault-certificates/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
Due: none

Update sdk/keyvault/keyvault-secrets/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
Due: none

[Key Vault] All of the Key Vault changelog entries for the upcoming release (#11477)
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Due: none

[Key Vault Admin] Fixed bad reference in the readme
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault Certificates] Fixed bad reference in the README
  sdk/keyvault/keyvault-certificates/README.md
Due: none

[Key Vault Keys] Fixed wrong method in a readme sample
  sdk/keyvault/keyvault-keys/README.md
Due: none

[Service Bus] Fix test failures in the canary region - part 2 (#11597)
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Due: none

Generated from 93c49e8544a1b1f7a3b73b09fe143d967f8426ee
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
  sdk/mediaservices/arm-mediaservices/src/azureMediaServicesContext.ts
  sdk/mediaservices/arm-mediaservices/src/models/accountFiltersMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/assetFiltersMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/assetsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/contentKeyPoliciesMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/index.ts
  sdk/mediaservices/arm-mediaservices/src/models/jobsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/liveEventsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/mappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/mediaservicesMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/operationsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/parameters.ts
  sdk/mediaservices/arm-mediaservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/privateLinkResourcesMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/streamingEndpointsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/streamingLocatorsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/streamingPoliciesMappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/transformsMappers.ts
  sdk/mediaservices/arm-mediaservices/src/operations/index.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveEvents.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveOutputs.ts
  sdk/mediaservices/arm-mediaservices/src/operations/mediaservices.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateEndpointConnections.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateLinkResources.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingEndpoints.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Run live tests in the canary region (#11576)
  sdk/servicebus/service-bus/tests.yml
Due: none

Add some changes in eng/common to test things
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update location of patch files
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Change workflow to use upstream branches
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Switch to pushing to upstream
  eng/common/scripts/git-branch-push.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Initial Commit for Advanced Batching (#11544)
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/samples/typescript/src/utils/interfaces.ts
  sdk/search/search-documents/samples/typescript/src/utils/setup.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add few tests
  sdk/communication/communication-administration/karma.conf.js
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_numbers.json
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_plan_groups.json
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_plans.json
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_releases.json
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_searches.json
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclient_lists_playbacklive/recording_can_list_supported_countries.json
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_numbers.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_plan_groups.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_phone_plans.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_releases.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_searches.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_lists_playbacklive/recording_can_list_supported_countries.js
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/lro/cancel/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/create/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/create/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/utils.ts
  sdk/communication/communication-administration/src/phoneNumber/models.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/list.mocked.spec.ts
  sdk/communication/communication-administration/test/list.spec.ts
  sdk/communication/communication-administration/test/utils/recordedClient.ts
  sdk/communication/communication-administration/test/utils/testPhoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

test change
  sdk/tables/data-tables/src/TableClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add memory usage to the snapshot
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

save logs to the report file
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

Update sdk/communication/communication-administration/src/phoneNumber/lro/cancel/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/cancel/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/communication/communication-administration/src/phoneNumber/lro/purchase/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/purchase/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/communication/communication-administration/src/phoneNumber/lro/create/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/create/operation.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/communication/communication-administration/src/phoneNumber/lro/create/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/create/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix Azure Event Hub Readme Issue
  sdk/eventhub/event-hubs/README.md
Due: none

[Key Vault Admin] Fixed bad reference in the readme (#11599)
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
