Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Add sdk-type and sync package version between package/src
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/src/InkRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

removing out argument from the typedoc.json, adding ignoreCompi… (#5245)
  common/scripts/generate-doc.js
  sdk/storage/storage-blob/typedoc.json
  sdk/storage/storage-file/typedoc.json
  sdk/storage/storage-queue/typedoc.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regened storage datalake & upped minor version
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-datalake/src/dataLakeStorageClientContext.ts
  sdk/storage/storage-datalake/src/models/index.ts
  sdk/storage/storage-datalake/src/models/parameters.ts
  sdk/storage/storage-datalake/src/operations/filesystemOperations.ts
  sdk/storage/storage-datalake/src/operations/pathOperations.ts
Due: none

update package name to @azure/cognitiveservices-inkrecognizer
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/README.md
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/src/InkRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

add external in rollup - cosmos
  sdk/cosmosdb/cosmos/rollup.config.js
Due: none

Update package.jsons
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
Due: none

Add output.globals in rollup
  sdk/cosmosdb/cosmos/rollup.config.js
Due: none

Revert "[Service Bus] Add browser support (#5128)"
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/License
  sdk/servicebus/service-bus/browser/ThirdPartyNotice.txt
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.config.js
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add browser support
  sdk/servicebus/service-bus/License
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.config.js
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

Add copyrights file
  sdk/servicebus/service-bus/browser/ThirdPartyNotices.txt
Due: none

Update playback test baseline
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_after_aborter_timeout.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_after_father_aborter_calls_abort.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_when_calling_abort_before_request_finishes.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_not_abort_after_calling_abort.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_not_abort_when_calling_abort_after_request_finishes.js
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-file/recordings/node/aborter/recording_should_abort_after_parent_aborter_calls_abort.js
  sdk/storage/storage-file/test/aborter.spec.ts
Due: none

[Storage] Support for Development Connection String - storage-queue (#5004)
  sdk/storage/CONTRIBUTING.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/node/emulator-tests.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
  sdk/storage/storage-queue/test/utils/recorder.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] Support for Development Connection String - storage-blob (#5235)
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
Due: none

Update changelog
  sdk/servicebus/service-bus/changelog.md
Due: none

[Storage] verify errors for tests that expect errors (#5242)
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_after_aborter_timeout.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_after_father_aborter_calls_abort.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_when_calling_abort_before_request_finishes.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_not_abort_after_calling_abort.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_not_abort_when_calling_abort_after_request_finishes.js
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-file/recordings/node/aborter/recording_should_abort_after_parent_aborter_calls_abort.js
  sdk/storage/storage-file/test/aborter.spec.ts
  sdk/storage/storage-file/test/fileclient.spec.ts
  sdk/storage/storage-file/test/node/highlevel.node.spec.ts
  sdk/storage/storage-queue/test/aborter.spec.ts
Due: none

Fixes two circular dependency warnings
  sdk/cosmosdb/cosmos/src/client/Script/Scripts.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/headerUtils.ts
  sdk/cosmosdb/cosmos/src/queryMetrics/clientSideMetrics.ts
Due: none

Refactor and address comments
  sdk/core/core-http/lib/atomError.ts
  sdk/core/core-http/lib/atomXmlOperationSpec.ts
  sdk/core/core-http/lib/atomXmlSerializer.ts
  sdk/core/core-http/lib/coreHttp.ts
  sdk/core/core-http/lib/policies/atomSerializationPolicy.ts
  sdk/core/core-http/lib/util/atomXmlHelper.ts
  sdk/core/core-http/lib/util/xml.ts
  sdk/core/core-http/test/policies/atomSerializationPolicyTests.ts
Due: none

Refactoring and improve types
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/typescript/gettingStarted/atomManagementApi.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/managementOperationInterfaces.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Remove zero TTL check
  sdk/cosmosdb/cosmos/test/functional/ttl.spec.ts
Due: none

release azure peering service 2019-08-01
  packages.md
  sdk/peering/arm-peering/LICENSE.txt
  sdk/peering/arm-peering/README.md
  sdk/peering/arm-peering/package.json
  sdk/peering/arm-peering/rollup.config.js
  sdk/peering/arm-peering/src/models/index.ts
  sdk/peering/arm-peering/src/models/legacyPeeringsMappers.ts
  sdk/peering/arm-peering/src/models/mappers.ts
  sdk/peering/arm-peering/src/models/operationsMappers.ts
  sdk/peering/arm-peering/src/models/parameters.ts
  sdk/peering/arm-peering/src/models/peerAsnsMappers.ts
  sdk/peering/arm-peering/src/models/peeringLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServicePrefixesMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceProvidersMappers.ts
  sdk/peering/arm-peering/src/models/peeringServicesMappers.ts
  sdk/peering/arm-peering/src/models/peeringsMappers.ts
  sdk/peering/arm-peering/src/models/prefixesMappers.ts
  sdk/peering/arm-peering/src/operations/index.ts
  sdk/peering/arm-peering/src/operations/legacyPeerings.ts
  sdk/peering/arm-peering/src/operations/operations.ts
  sdk/peering/arm-peering/src/operations/peerAsns.ts
  sdk/peering/arm-peering/src/operations/peeringLocations.ts
  sdk/peering/arm-peering/src/operations/peeringServiceLocations.ts
  sdk/peering/arm-peering/src/operations/peeringServicePrefixes.ts
  sdk/peering/arm-peering/src/operations/peeringServiceProviders.ts
  sdk/peering/arm-peering/src/operations/peeringServices.ts
  sdk/peering/arm-peering/src/operations/peerings.ts
  sdk/peering/arm-peering/src/operations/prefixes.ts
  sdk/peering/arm-peering/src/peeringManagementClient.ts
  sdk/peering/arm-peering/src/peeringManagementClientContext.ts
  sdk/peering/arm-peering/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

release azure peering service 2019-08-01 (#5259)
  packages.md
  sdk/peering/arm-peering/LICENSE.txt
  sdk/peering/arm-peering/README.md
  sdk/peering/arm-peering/package.json
  sdk/peering/arm-peering/rollup.config.js
  sdk/peering/arm-peering/src/models/index.ts
  sdk/peering/arm-peering/src/models/legacyPeeringsMappers.ts
  sdk/peering/arm-peering/src/models/mappers.ts
  sdk/peering/arm-peering/src/models/operationsMappers.ts
  sdk/peering/arm-peering/src/models/parameters.ts
  sdk/peering/arm-peering/src/models/peerAsnsMappers.ts
  sdk/peering/arm-peering/src/models/peeringLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceLocationsMappers.ts
  sdk/peering/arm-peering/src/models/peeringServicePrefixesMappers.ts
  sdk/peering/arm-peering/src/models/peeringServiceProvidersMappers.ts
  sdk/peering/arm-peering/src/models/peeringServicesMappers.ts
  sdk/peering/arm-peering/src/models/peeringsMappers.ts
  sdk/peering/arm-peering/src/models/prefixesMappers.ts
  sdk/peering/arm-peering/src/operations/index.ts
  sdk/peering/arm-peering/src/operations/legacyPeerings.ts
  sdk/peering/arm-peering/src/operations/operations.ts
  sdk/peering/arm-peering/src/operations/peerAsns.ts
  sdk/peering/arm-peering/src/operations/peeringLocations.ts
  sdk/peering/arm-peering/src/operations/peeringServiceLocations.ts
  sdk/peering/arm-peering/src/operations/peeringServicePrefixes.ts
  sdk/peering/arm-peering/src/operations/peeringServiceProviders.ts
  sdk/peering/arm-peering/src/operations/peeringServices.ts
  sdk/peering/arm-peering/src/operations/peerings.ts
  sdk/peering/arm-peering/src/operations/prefixes.ts
  sdk/peering/arm-peering/src/peeringManagementClient.ts
  sdk/peering/arm-peering/src/peeringManagementClientContext.ts
  sdk/peering/arm-peering/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

export TokenProvider
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/index.ts
Due: none

Export RequestInfo
  sdk/cosmosdb/cosmos/src/index.ts
Due: none

Update review
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

Cleanup some patterns in core-tracing (#5233)
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/lib/webResource.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-tracing/lib/implementations/noop/spanNoOpImpl.ts
  sdk/core/core-tracing/lib/implementations/noop/tracerNoOpImpl.ts
  sdk/core/core-tracing/lib/index.ts
  sdk/core/core-tracing/lib/interfaces/TimedEvent.ts
  sdk/core/core-tracing/lib/interfaces/attributes.ts
  sdk/core/core-tracing/lib/interfaces/plugin.ts
  sdk/core/core-tracing/lib/plugins/noop/noOpSpanPlugin.ts
  sdk/core/core-tracing/lib/plugins/noop/noOpTracePlugin.ts
  sdk/core/core-tracing/lib/plugins/opencensus/openCensusSpanPlugin.ts
  sdk/core/core-tracing/lib/plugins/opencensus/openCensusTracePlugin.ts
  sdk/core/core-tracing/lib/tracerProxy.ts
  sdk/core/core-tracing/lib/utils/supportedPlugins.ts
  sdk/core/core-tracing/lib/wrappers/noop/noOpBinaryFormat.ts
  sdk/core/core-tracing/lib/wrappers/noop/noOpHttpTextFormat.ts
  sdk/core/core-tracing/lib/wrappers/noop/noOpSpan.ts
  sdk/core/core-tracing/lib/wrappers/noop/noOpTracer.ts
  sdk/core/core-tracing/lib/wrappers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/lib/wrappers/opencensus/openCensusTraceStateWrapper.ts
  sdk/core/core-tracing/lib/wrappers/opencensus/openCensusTracerWrapper.ts
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add tracing to identityClient
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/util/tracing.ts
Due: none

Add SpanOptions to RequestPrepareOptions
  sdk/core/core-http/lib/webResource.ts
Due: none

Remove libs reference in tsconfig.json and replace with a reference directive (as per SDK guidelines)
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

add quotes arouund text referring buttons of portal
  sdk/storage/storage-blob/samples/typescript/azureAdAuth.ts
Due: none

Copy comments to other samples too.
  sdk/storage/storage-blob/samples/javascript/azureAdAuth.js
  sdk/storage/storage-queue/samples/javascript/azureAdAuth.js
  sdk/storage/storage-queue/samples/typescript/azureAdAuth.ts
Due: none

[Storage] Improve comments for AAD setup - DefaultAzureCredential (#5240)
  sdk/storage/storage-blob/samples/javascript/azureAdAuth.js
  sdk/storage/storage-blob/samples/typescript/azureAdAuth.ts
  sdk/storage/storage-queue/samples/javascript/azureAdAuth.js
  sdk/storage/storage-queue/samples/typescript/azureAdAuth.ts
Due: none

DefaultAzureCredential docs in readme
  sdk/storage/storage-blob/README.md
Due: none

Update to powershell, and add retries to Invoke-WebRequest
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  sdk/cosmosdb/cosmos/azure-pipelines.yml
  sdk/eventhub/.openpublishing.build.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update dependencies
  sdk/core/amqp-common/package.json
Due: none

[Cosmos] Remove zero TTL check (#5257)
  sdk/cosmosdb/cosmos/test/functional/ttl.spec.ts
Due: none

Remove unnecessary interface
  sdk/core/core-http/lib/policies/tracingPolicy.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-tracing/lib/index.ts
  sdk/core/core-tracing/lib/tracerProxy.ts
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/identity/identity/src/util/tracing.ts
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
Due: none

Fixup runtime dependency on an OpenCensus enum
  sdk/core/core-tracing/lib/wrappers/opencensus/openCensusSpanWrapper.ts
Due: none

Update to powershell, and add retries to Invoke-WebRequest (#5268)
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  sdk/cosmosdb/cosmos/azure-pipelines.yml
  sdk/eventhub/.openpublishing.build.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
