Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

newer readme, copied from secrets
  sdk/keyvault/keyvault-certificates/README.md
Due: none

Add test
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Add bufferItems support & other cross-partition perf improvements (#397)
  package-lock.json
  package.json
  samples/QueryThroughput/queryThroughput.js
  src/ClientContext.ts
  src/common/logger.ts
  src/queryExecutionContext/Aggregators/MinAggregator.ts
  src/queryExecutionContext/defaultQueryExecutionContext.ts
  src/queryExecutionContext/documentProducer.ts
  src/queryExecutionContext/orderByDocumentProducerComparator.ts
  src/queryExecutionContext/parallelQueryExecutionContext.ts
  src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  src/queryIterator.ts
  src/request/FeedOptions.ts
  src/request/RequestHandler.ts
  test/integration/crossPartition.spec.ts
  test/unit/defaultQueryExecutionContext.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Endpoint resolution now blocks until initialized (#409)
  src/globalEndpointManager.ts
  test/functional/databaseaccount.spec.ts
  test/functional/globalEndpointManager.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

resolve merge conflict - tsconfig.json
  sdk/cosmosdb/cosmos/test/tsconfig.json
Due: none

add cosmos in rush.json
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update dependencies - sync-versions
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add script "extract-api"
  sdk/cosmosdb/cosmos/api-extractor.json
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

delete .prettierrc
  sdk/cosmosdb/cosmos/.prettierrc.json
Due: none

update package.json script commands
  sdk/cosmosdb/cosmos/package.json
Due: none

npm run bundle command
  sdk/cosmosdb/cosmos/package.json
Due: none

Fix typo in samples/package.json
  sdk/cosmosdb/cosmos/samples/package.json
Due: none

npm run clean command
  sdk/cosmosdb/cosmos/package.json
Due: none

remove unrelated file .gitattributes
  sdk/cosmosdb/cosmos/.gitattributes
Due: none

Update package.json repo links
  sdk/cosmosdb/cosmos/package.json
Due: none

WIP
  sdk/keyvault/keyvault-keys/tests/list.test.ts
  sdk/keyvault/keyvault-secrets/tests/list.test.ts
Due: none

should fix the build and the tests
  sdk/keyvault/keyvault-keys/recordings/browsers/cryptographyclient_all_decrypts_happen_remotely/recording_before_all_hook.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations/recording_before_all_hook.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__list_keys_in_various_ways/recording_before_all_hook.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__restore_keys_and_recover_backups/recording_before_all_hook.json
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_before_all_hook.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations/recording_before_all_hook.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__list_keys_in_various_ways/recording_before_all_hook.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__restore_keys_and_recover_backups/recording_before_all_hook.js
  sdk/keyvault/keyvault-keys/tests/list.test.ts
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__create_read_update_and_delete_operations/recording_before_all_hook.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__list_secrets_in_various_ways/recording_before_all_hook.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__restore_secrets_and_recover_backups/recording_before_all_hook.json
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__create_read_update_and_delete_operations/recording_before_all_hook.js
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__list_secrets_in_various_ways/recording_before_all_hook.js
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__restore_secrets_and_recover_backups/recording_before_all_hook.js
  sdk/keyvault/keyvault-secrets/tests/list.test.ts
Due: none

WARNINGS
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/tests/list.test.ts
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/tests/list.test.ts
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/tests/list.test.ts
Due: none

Add test for aborting a query (#413)
  test/common/TestHelpers.ts
  test/functional/client.spec.ts
  test/integration/crossPartition.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

from tags added for test step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/tools/select-packages/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

from tags added for test step (#4771)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/tools/select-packages/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add sample for bulk update with continuation token (#402)
  azure-pipelines.yml
  samples/BulkUpdateWithSproc.ts
  samples/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

updated luis authoring package.json
  sdk/cognitiveservices/cognitiveservices-luis-authoring/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

README update
  sdk/keyvault/keyvault-certificates/README.md
Due: none

Pin mocha-multi to 1.1.0, update pnpm-lock
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add ci.yml from cosmos v2
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Node 6 to Node 8 - integration step
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

bump typedoc dependency (#412)
  package-lock.json
  package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

azure-cosmos-js -> azure-sdk-for-js
  sdk/cosmosdb/cosmos/README.md
Due: none

Update License document
  sdk/cosmosdb/cosmos/LICENSE
Due: none

build step under test job on whole repo
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

resolve credscan warnings (#414)
  changelog.md
  test/unit/helper.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Pin mocha-multi to 1.1.0 (#4806)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update tool chain from npm to rush
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update mocha-multi to latest
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

build step under test job on whole repo (#4836)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add package name
  sdk/cosmosdb/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

delete package-lock.json
  sdk/cosmosdb/cosmos/package-lock.json
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
