Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

revert chnages to core-http
  sdk/core/core-http/lib/coreHttp.ts
  sdk/core/core-http/lib/policies/proxyPolicy.ts
Due: none

Use vendored json5 library for parsing rush.json
  common/lib/json5/lib/parse.js
  common/lib/json5/lib/unicode.js
  common/lib/json5/lib/util.js
  common/scripts/list-files.js
  common/scripts/npm-run-project.js
  common/scripts/sync-versions.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Prettier
  common/scripts/npm-run-project.js
  common/scripts/sync-versions.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Use vendored jju library for parsing rush.json
  common/lib/jju/parse.js
  common/lib/jju/unicode.js
  common/lib/json5/lib/parse.js
  common/lib/json5/lib/unicode.js
  common/lib/json5/lib/util.js
  common/scripts/list-files.js
  common/scripts/npm-run-project.js
  common/scripts/sync-versions.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

export ProxySettings from core-http
  sdk/core/core-http/lib/coreHttp.ts
Due: none

Use json5 to parse rush.json in scripts (#4915)
  common/lib/jju/parse.js
  common/lib/jju/unicode.js
  common/scripts/list-files.js
  common/scripts/npm-run-project.js
  common/scripts/sync-versions.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Detect releases from unified pipelines
  eng/tools/analyze-deps/deps.html.hbs
  eng/tools/analyze-deps/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-http] export ProxySettings from core-http (#5043)
  sdk/core/core-http/lib/coreHttp.ts
Due: none

[KeyVault] Tracing on secrets and certificates
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/index.ts
Due: none

generate pnpm-lock file
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address comments
  sdk/eventhub/eventhubs-checkpoint-blob/src/log.ts
Due: none

Code changes to pass spans correctly
  sdk/core/core-http/lib/webResource.ts
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/test/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/environmentCredential.spec.ts
Due: none

Changes due to rush update
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/review/event-hubs.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

typo fix
  sdk/eventhub/event-hubs/samples/eventProcessor.ts
  sdk/eventhub/event-hubs/samples/receiveEventsLoop.ts
  sdk/eventhub/event-hubs/samples/receiveEventsStreaming.ts
Due: none

add link to @azure/identity npmjs page.
  sdk/storage/README.md
  sdk/storage/storage-blob/samples/javascript/basic.js
  sdk/storage/storage-blob/samples/typescript/basic.ts
  sdk/storage/storage-queue/samples/javascript/basic.js
  sdk/storage/storage-queue/samples/typescript/basic.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] Samples improvements (#5039)
  sdk/eventhub/event-hubs/samples/eventProcessor.ts
  sdk/eventhub/event-hubs/samples/receiveEventsLoop.ts
  sdk/eventhub/event-hubs/samples/receiveEventsStreaming.ts
  sdk/eventhub/event-hubs/samples/sendEvents.ts
Due: none

Code due to rush update full
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] Implementation of partition manager for durable store for checkpoints using blob storage (#5012)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/.vscode/launch.json
  sdk/eventhub/eventhubs-checkpoint-blob/License
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
  sdk/eventhub/eventhubs-checkpoint-blob/api-extractor.json
  sdk/eventhub/eventhubs-checkpoint-blob/changelog.md
  sdk/eventhub/eventhubs-checkpoint-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpoint-blob/package.json
  sdk/eventhub/eventhubs-checkpoint-blob/review/eventhubs-checkpoint-blob.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/rollup.test.config.js
  sdk/eventhub/eventhubs-checkpoint-blob/samples/tsconfig.json
  sdk/eventhub/eventhubs-checkpoint-blob/src/blobPartitionManager.ts
  sdk/eventhub/eventhubs-checkpoint-blob/src/index.ts
  sdk/eventhub/eventhubs-checkpoint-blob/src/log.ts
  sdk/eventhub/eventhubs-checkpoint-blob/src/util/error.ts
  sdk/eventhub/eventhubs-checkpoint-blob/test/blob-partition-manager.spec.ts
  sdk/eventhub/eventhubs-checkpoint-blob/test/utils/testUtils.ts
  sdk/eventhub/eventhubs-checkpoint-blob/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update build:test script per guideline
  sdk/eventhub/event-hubs/package.json
Due: none

[Event Hubs][eventhubs-checkpoint-blob] Rename storage package name to "eventhubs-checkpointstore-blob"
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/eventhubs-checkpoint-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/.vscode/launch.json
  sdk/eventhub/eventhubs-checkpointstore-blob/License
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/api-extractor.json
  sdk/eventhub/eventhubs-checkpointstore-blob/changelog.md
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/review/eventhubs-checkpointstore-blob.api.md
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.test.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/tsconfig.json
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobPartitionManager.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/index.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/log.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/util/error.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-partition-manager.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/utils/testUtils.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove isNode check around URL usage
  sdk/core/core-http/lib/atomResourceSerializerBase.ts
Due: none

Update name in README
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
Due: none

Update sdk/core/core-http/test/policies/atomSerializationPolicyTests.ts
  sdk/core/core-http/test/policies/atomSerializationPolicyTests.ts
Due: none

[Storage] Drop `RawTokenCredential` from storage packages (#4788)
  sdk/storage/README.md
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/samples/javascript/basic.js
  sdk/storage/storage-blob/samples/typescript/basic.ts
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/credentials/RawTokenCredential.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/samples/javascript/basic.js
  sdk/storage/storage-queue/samples/typescript/basic.ts
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/credentials/RawTokenCredential.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Remove unused util
  sdk/core/core-http/lib/util/utils.ts
Due: none

Analyze-deps detects releases from unified pipelines (#5044)
  eng/tools/analyze-deps/deps.html.hbs
  eng/tools/analyze-deps/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Revert cosmos.api.md file
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

Update sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
Due: none

[core-http] Proxy - Basic authentication support for storage-blob (#5009)
  sdk/storage/storage-blob/samples/javascript/proxyAuth.js
  sdk/storage/storage-blob/samples/typescript/proxyAuth.ts
  sdk/storage/storage-blob/src/Pipeline.ts
Due: none

[core-http] Fix WebResource.clone()
  sdk/core/core-http/lib/webResource.ts
Due: none

Replace var -> const
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

Basic authentication support for storage-file
  sdk/storage/storage-file/samples/javascript/proxyAuth.js
  sdk/storage/storage-file/samples/typescript/proxyAuth.ts
  sdk/storage/storage-file/src/Pipeline.ts
Due: none

Basic authentication support for storage-queue
  sdk/storage/storage-queue/samples/javascript/proxyAuth.js
  sdk/storage/storage-queue/samples/typescript/proxyAuth.ts
  sdk/storage/storage-queue/src/Pipeline.ts
Due: none

fix build error
  .docsettings.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] EventPosition static helper parameter checks
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/test/eventPosition.spec.ts
Due: none

[core-http] Fix WebResource.clone() (#5047)
  sdk/core/core-http/lib/webResource.ts
Due: none

Fix eventhubs-checkpointstore-blob package path
  .docsettings.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage] Basic authentication support for storage-file and storage-queue (#5050)
  sdk/storage/storage-file/samples/javascript/proxyAuth.js
  sdk/storage/storage-file/samples/typescript/proxyAuth.ts
  sdk/storage/storage-file/src/Pipeline.ts
  sdk/storage/storage-queue/samples/javascript/proxyAuth.js
  sdk/storage/storage-queue/samples/typescript/proxyAuth.ts
  sdk/storage/storage-queue/src/Pipeline.ts
Due: none

Remove sample check from "lint:fix"
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Due: none
