Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Formating files
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Due: none

Right check for i in the loop
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Due: none

[Storage] Custom domain support.
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-queue/recordings/node/queueserviceclient/recording_verify_custom_endpoint_without_valid_accountname.js
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix build error.
  sdk/storage/storage-blob/src/Clients.ts
Due: none

#10740 - fixed verbose var naming and code style
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
Due: none

Fix readme for form recognizer The contentType parameter was moved to BeginRecognizeReceiptsOptions Resolves: #10742
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add recording files.
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_verify_custom_endpoint_without_valid_accountname.js
Due: none

Adds BulkOperationType enum and autogens ID for create ops
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Due: none

Fix build
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

Generated from 97f3f9d0baa9a168a3739e55d2404637dd5d7485
  sdk/domainservices/arm-domainservices/LICENSE.txt
  sdk/domainservices/arm-domainservices/README.md
  sdk/domainservices/arm-domainservices/package.json
  sdk/domainservices/arm-domainservices/rollup.config.js
  sdk/domainservices/arm-domainservices/src/domainservicesManagementClient.ts
  sdk/domainservices/arm-domainservices/src/domainservicesManagementClientContext.ts
  sdk/domainservices/arm-domainservices/src/models/domainServicesMappers.ts
  sdk/domainservices/arm-domainservices/src/models/index.ts
  sdk/domainservices/arm-domainservices/src/models/mappers.ts
  sdk/domainservices/arm-domainservices/src/models/ouContainerOperationsMappers.ts
  sdk/domainservices/arm-domainservices/src/models/ouContainerOperationsOperationsMappers.ts
  sdk/domainservices/arm-domainservices/src/models/parameters.ts
  sdk/domainservices/arm-domainservices/src/operations/domainServices.ts
  sdk/domainservices/arm-domainservices/src/operations/index.ts
  sdk/domainservices/arm-domainservices/src/operations/ouContainerOperations.ts
  sdk/domainservices/arm-domainservices/src/operations/ouContainerOperationsOperations.ts
  sdk/domainservices/arm-domainservices/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ba891b7274af8cb22ee173e1998b4145d2d8d98b
  sdk/operationalinsights/arm-operationalinsights/src/models/index.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/mappers.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/parameters.ts
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClientContext.ts
  sdk/operationalinsights/arm-operationalinsights/src/operations/linkedStorageAccounts.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sdk automation/@azure arm storage (#10715)
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/models/blobContainersMappers.ts
  sdk/storage/arm-storage/src/models/blobServicesMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage/src/models/parameters.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/queueMappers.ts
  sdk/storage/arm-storage/src/models/queueServicesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/models/tableOperationsMappers.ts
  sdk/storage/arm-storage/src/models/tableServicesMappers.ts
  sdk/storage/arm-storage/src/operations/blobContainers.ts
  sdk/storage/arm-storage/src/operations/index.ts
  sdk/storage/arm-storage/src/operations/privateEndpointConnections.ts
  sdk/storage/arm-storage/src/operations/queue.ts
  sdk/storage/arm-storage/src/operations/queueServices.ts
  sdk/storage/arm-storage/src/operations/tableOperations.ts
  sdk/storage/arm-storage/src/operations/tableServices.ts
  sdk/storage/arm-storage/src/storageManagementClient.ts
  sdk/storage/arm-storage/src/storageManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 88bbaa1806781fc854ad758e7efe5673b94e91a1
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClient.ts
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClientContext.ts
  sdk/netapp/arm-netapp/src/models/accountBackupsMappers.ts
  sdk/netapp/arm-netapp/src/models/backupPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/backupsMappers.ts
  sdk/netapp/arm-netapp/src/models/index.ts
  sdk/netapp/arm-netapp/src/models/mappers.ts
  sdk/netapp/arm-netapp/src/models/netAppResourceMappers.ts
  sdk/netapp/arm-netapp/src/models/parameters.ts
  sdk/netapp/arm-netapp/src/models/poolsMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotsMappers.ts
  sdk/netapp/arm-netapp/src/models/vaultsMappers.ts
  sdk/netapp/arm-netapp/src/models/volumesMappers.ts
  sdk/netapp/arm-netapp/src/operations/accountBackups.ts
  sdk/netapp/arm-netapp/src/operations/backupPolicies.ts
  sdk/netapp/arm-netapp/src/operations/backups.ts
  sdk/netapp/arm-netapp/src/operations/index.ts
  sdk/netapp/arm-netapp/src/operations/netAppResource.ts
  sdk/netapp/arm-netapp/src/operations/snapshotPolicies.ts
  sdk/netapp/arm-netapp/src/operations/vaults.ts
  sdk/netapp/arm-netapp/src/operations/volumes.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from c3692d928c3cadf8a5c4be9cc53401b861e5af2e
  sdk/machinelearningservices/arm-machinelearningservices/LICENSE.txt
  sdk/machinelearningservices/arm-machinelearningservices/README.md
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/rollup.config.js
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/machineLearningComputeMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/mappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/notebooksMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/parameters.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateLinkResourcesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/quotasMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspaceConnectionsMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspaceFeaturesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/machineLearningCompute.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/notebooks.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateEndpointConnections.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateLinkResources.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/quotas.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaceConnections.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaceFeatures.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update from master
  sdk/subscription/arm-subscriptions/LICENSE.txt
  sdk/subscription/arm-subscriptions/README.md
  sdk/subscription/arm-subscriptions/src/models/aliasMappers.ts
  sdk/subscription/arm-subscriptions/src/models/index.ts
  sdk/subscription/arm-subscriptions/src/models/mappers.ts
  sdk/subscription/arm-subscriptions/src/models/parameters.ts
  sdk/subscription/arm-subscriptions/src/models/subscriptionFactoryMappers.ts
  sdk/subscription/arm-subscriptions/src/models/subscriptionOperationsMappers.ts
  sdk/subscription/arm-subscriptions/src/models/subscriptionsMappers.ts
  sdk/subscription/arm-subscriptions/src/operations/alias.ts
  sdk/subscription/arm-subscriptions/src/operations/index.ts
  sdk/subscription/arm-subscriptions/src/operations/operations.ts
  sdk/subscription/arm-subscriptions/src/operations/subscriptionFactory.ts
  sdk/subscription/arm-subscriptions/src/operations/subscriptionOperationOperations.ts
  sdk/subscription/arm-subscriptions/src/operations/subscriptionOperations.ts
  sdk/subscription/arm-subscriptions/src/operations/subscriptions.ts
  sdk/subscription/arm-subscriptions/src/operations/tenants.ts
  sdk/subscription/arm-subscriptions/src/subscriptionClient.ts
  sdk/subscription/arm-subscriptions/src/subscriptionClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage] Support share soft delete.
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_deleted_share.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_negative.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_positive.js
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareClientInternal.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Add records.
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_listshares_with_deleted_share.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_negative.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_positive.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_deleted_share.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_negative.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_positive.js
  sdk/storage/storage-file-share/src/ShareClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Add records.
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_listshares_with_deleted_share.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_negative.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_positive.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_deleted_share.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_negative.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_positive.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Generated from dfba9247dbea60ba45fd0a8ab50bd49ef04bc253
  sdk/appplatform/arm-appplatform/LICENSE.txt
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/rollup.config.js
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/configServersMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/monitoringSettingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/operationsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/skusMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/certificates.ts
  sdk/appplatform/arm-appplatform/src/operations/configServers.ts
  sdk/appplatform/arm-appplatform/src/operations/customDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/monitoringSettings.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/src/operations/skus.ts
  sdk/appplatform/arm-appplatform/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Extract API for review.
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_listshares_with_deleted_share.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_negative.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_positive.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_deleted_share.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_negative.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_positive.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/sample.env
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareClientInternal.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Add test cases for custom domain connection string.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/test/utils.spec.ts
Due: none

[Text Analytics] Adding http response to AnalyzeSentimentResultArray type
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResultResponse.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Identity] Linting (#10731)
  sdk/identity/identity/package.json
Due: none

[Form Recognizer] Linting (#10730)
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_iterates_models_in_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_iterates_models_in_this_account.js
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/utils/utils.browser.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault] Linting (#10729)
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Due: none

Create rush-prettier autoinstaller
  common/autoinstallers/rush-prettier/package.json
  common/autoinstallers/rush-prettier/pnpm-lock.yaml
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update the hook script to use rush command
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

keyId can only be undefined if the JsonWebKey has an undefined kid
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
Due: none

Remove ESLint from Analyze step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/analyze.yml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix merge issues
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Due: none

Fix readme for form recognizer The contentType parameter was moved to BeginRecognizeReceiptsOptions Resolves: #10742 (#10772)
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-ai-form-recognizer (#10727)
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Export only ncessary models
  sdk/anomalydetector/ai-anomaly-detector/review/ai-anomaly-detector.api.md
  sdk/anomalydetector/ai-anomaly-detector/review/template.api.md
  sdk/anomalydetector/ai-anomaly-detector/src/AnomalyDetectorClient.ts
  sdk/anomalydetector/ai-anomaly-detector/src/index.ts
  sdk/anomalydetector/ai-anomaly-detector/src/models.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove spacespacespaceanomalydetector
  sdk/ anomalydetector/ ai-anomaly-detector/swagger/readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formating
  sdk/anomalydetector/ai-anomaly-detector/recordings/browsers/anomalydetectorclient/recording_should_get_result_for__lastdetect.json
  sdk/anomalydetector/ai-anomaly-detector/recordings/browsers/anomalydetectorclient/recording_should_get_result_for_entiredetect.json
  sdk/anomalydetector/ai-anomaly-detector/recordings/node/anomalydetectorclient/recording_should_get_result_for__lastdetect.js
  sdk/anomalydetector/ai-anomaly-detector/recordings/node/anomalydetectorclient/recording_should_get_result_for_entiredetect.js
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
