Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

[analyze-deps] Update dependency handlebars (#6236)
  eng/tools/analyze-deps/package-lock.json
  eng/tools/analyze-deps/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] Fix for sequence number = 0 bug. (#6238)
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobPartitionManager.ts
Due: none

Cleanup root tsconfig
  tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

don't let errors in the user's processError() bubble up.
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Add tests for _handleSubscriptionError
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

[KeyVault] Small cleanup on the tests-resources
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/keyvault/keyvault-certificates/tests-resources.json
  sdk/keyvault/keyvault-keys/tests-resources.json
  sdk/keyvault/keyvault-secrets/tests-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed up test run indentation.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Reversing logic to imply default behaviour.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Ditch explicit set.
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

I'm an idiot.
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update typings file that was missed in #6110
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

Removing the need to "know" that EventPosition.earliest() is actually the "default" value by...allowing undefined to be passed in for the intial event position.
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
Due: none

Eliminating TODOs that have either been answered or are going to "stick" and will need to be evaluated post-GA.
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Due: none

Pipe through logic to disable unit tests. (#6169)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/eventhub/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
Due: none

Remove the PartitionContextError and just use a PartitionContext with the partition ID of "" when errors occur that aren't partition specific.
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
  sdk/eventhub/event-hubs/test/utils/subscriptionHandlerForTests.ts
Due: none

Update typings file that was missed in #6110 (#6242)
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

Pin dependency @azure/event-hubs to 2.1.1
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: none

Update allowedAlternativeVersions
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix import issues
  sdk/eventhub/event-hubs/src/util/operationOptions.ts
Due: none

[KeyVault] Small cleanup on the tests-resources (#6212)
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/keyvault/keyvault-certificates/tests-resources.json
  sdk/keyvault/keyvault-keys/tests-resources.json
  sdk/keyvault/keyvault-secrets/tests-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Ran `npm run format` (no other changes)
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/receiver.ts
  sdk/eventhub/event-hubs/src/sender.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/src/util/operationOptions.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/loadBalancer.spec.ts
  sdk/eventhub/event-hubs/test/misc.spec.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/logHelpers.ts
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
  sdk/eventhub/event-hubs/test/utils/subscriptionHandlerForTests.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Due: none

Pin dependency @azure/event-hubs to 2.1.1 (#6243)
  common/config/rush/common-versions.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update dev dependency dotenv
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/core-amqp/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update pnpm-lock.yaml (full)
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update dev dependency dotenv (#6240)
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/core-amqp/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[event hubs] fix typings for 2.x
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update changelog
  sdk/eventhub/event-hubs/changelog.md
Due: none

Clean-up unified pipelines. (#6013)
  eng/pipelines/client.yml
  sdk/core/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event hubs] fix typings for 2.x (#6247)
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Unpin dependency @azure/event-hubs-2.1.1
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Cosmos] Remove outdated test README (#6200)
  sdk/cosmosdb/cosmos/test/readme.md
Due: none

Used the wrong span as the parent
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
Due: none

* Adding `name` back to EventHubs.defaultConsumerGroup (mechanical F2 rename) * Changing samples to have a `const consumerGroup` variable rather than using defaultConsumerGroupName
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/samples/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/event-hubs/samples/useWithIotHub.ts
  sdk/eventhub/event-hubs/samples/usingAadAuth.ts
  sdk/eventhub/event-hubs/samples/websockets.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/iothub.spec.ts
  sdk/eventhub/event-hubs/test/misc.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Remove errorcode logging for successful response
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/javascript/errorsAndResponses.js
Due: none

Mechanical rename: `SubscriptionOptions` => `SubscribeOptions`
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/index.ts
Due: none

Unpin dependency @azure/event-hubs-2.1.1 (#6248)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
