Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Formatting
  sdk/servicebus/service-bus/migrationguide.md
Due: none

Fix build
  sdk/communication/communication-administration/test/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/identifierModels.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting .nycrc
  sdk/eventgrid/eventgrid/.nycrc
  sdk/eventgrid/eventgrid/.nycrc.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename .nycrc.json to .nycrc
  sdk/appconfiguration/app-configuration/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename .nycrc.json to .nycrc
  sdk/communication/communication-administration/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename .nycrc.json to .nycrc
  sdk/communication/communication-chat/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

nycrc.json -> nycrc
  sdk/communication/communication-common/.nycrc
  sdk/communication/communication-sms/.nycrc
  sdk/eventgrid/eventgrid/.nycrc
  sdk/keyvault/keyvault-admin/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Merge branch 'code-coverage' of https://github.com/KarishmaGhiya/azure-sdk-for-js into code-coverage
  sdk/keyvault/keyvault-admin/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename .nycrc.json to .nycrc
  sdk/communication/communication-common/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

revert keyvault-certificates file path specification
  sdk/keyvault/keyvault-certificates/package.json
Due: none

simplify integration-test commands
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.nycrc
  sdk/storage/storage-blob/.nycrc
Due: none

Fix spelling for receiver
  sdk/servicebus/service-bus/migrationguide.md
Due: none

[Code Coverage] Node Tests - Generate reports for live tests (#12968)
  sdk/appconfiguration/app-configuration/.nycrc
  sdk/communication/communication-administration/.nycrc
  sdk/communication/communication-chat/.nycrc
  sdk/communication/communication-common/.nycrc
  sdk/communication/communication-sms/.nycrc
  sdk/keyvault/keyvault-admin/.nycrc
  sdk/keyvault/keyvault-certificates/.nycrc
  sdk/keyvault/keyvault-keys/.nycrc
  sdk/keyvault/keyvault-secrets/.nycrc
  sdk/search/search-documents/.nycrc
  sdk/search/search-documents/package.json
  sdk/storage/storage-blob/.nycrc
  sdk/storage/storage-file-datalake/.nycrc
  sdk/template/template/.nycrc
  sdk/textanalytics/ai-text-analytics/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 12141 in Azure/azure-rest-api-specs add operationsmanagement track2 config (#12141)
  sdk/operationsmanagement/arm-operations/LICENSE.txt
  sdk/operationsmanagement/arm-operations/README.md
  sdk/operationsmanagement/arm-operations/package.json
  sdk/operationsmanagement/arm-operations/rollup.config.js
  sdk/operationsmanagement/arm-operations/src/models/index.ts
  sdk/operationsmanagement/arm-operations/src/models/managementAssociationsMappers.ts
  sdk/operationsmanagement/arm-operations/src/models/managementConfigurationsMappers.ts
  sdk/operationsmanagement/arm-operations/src/models/mappers.ts
  sdk/operationsmanagement/arm-operations/src/models/operationsMappers.ts
  sdk/operationsmanagement/arm-operations/src/models/parameters.ts
  sdk/operationsmanagement/arm-operations/src/models/solutionsMappers.ts
  sdk/operationsmanagement/arm-operations/src/operations/index.ts
  sdk/operationsmanagement/arm-operations/src/operations/managementAssociations.ts
  sdk/operationsmanagement/arm-operations/src/operations/managementConfigurations.ts
  sdk/operationsmanagement/arm-operations/src/operations/operations.ts
  sdk/operationsmanagement/arm-operations/src/operations/solutions.ts
  sdk/operationsmanagement/arm-operations/src/operationsManagementClient.ts
  sdk/operationsmanagement/arm-operations/src/operationsManagementClientContext.ts
  sdk/operationsmanagement/arm-operations/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Communication] - Common - Renaming CommunicationUserCredential to CommunicationTokenCredential (#12992)
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/src/staticTokenCredential.ts
  sdk/communication/communication-common/test/communicationTokenCredential.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

adding a comment for createRecorder
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix the build warning
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.browser.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add header
  sdk/textanalytics/ai-text-analytics/test/utils/env.browser.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Text Analytics] Tests read env vars only after they were read by the recorder (#12991)
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.browser.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] Update migration guide to follow template
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

[Service Bus] Update migration guide to follow template (#12995)
  sdk/servicebus/service-bus/migrationguide.md
Due: none

[event-hubs] add new-features section to migration guide
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

Rename RefreshOptions
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] mention sendBatch accepts array of events in migration guide
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

[event-hubs] add eventPosition to migration guide receiving events sample
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

[event-hubs] add note about sendBatch accepting an array of events to migration guide sample
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

Initial commit
  samples/frameworks/electron/ts/.gitignore
  samples/frameworks/electron/ts/README.md
  samples/frameworks/electron/ts/index.html
  samples/frameworks/electron/ts/package.json
  samples/frameworks/electron/ts/sample.env
  samples/frameworks/electron/ts/src/App.ts
  samples/frameworks/electron/ts/src/AuthProvider.ts
  samples/frameworks/electron/ts/src/Constants.ts
  samples/frameworks/electron/ts/src/UIManager.ts
  samples/frameworks/electron/ts/src/config.ts
  samples/frameworks/electron/ts/src/main.ts
  samples/frameworks/electron/ts/src/renderer.ts
  samples/frameworks/electron/ts/src/utils.ts
  samples/frameworks/electron/ts/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

handle storage blob in arm template
  samples/frameworks/electron/arm-template.json
  samples/frameworks/react/arm-template.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update README.md
  samples/frameworks/electron/ts/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fixup! handle storage blob in arm template
  samples/frameworks/react/arm-template.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sample
  samples/frameworks/electron/arm-template.json
  samples/frameworks/electron/ts/README.md
  samples/frameworks/electron/ts/index.html
  samples/frameworks/electron/ts/src/AuthProvider.ts
  samples/frameworks/electron/ts/src/Constants.ts
  samples/frameworks/electron/ts/src/blobHandler.ts
  samples/frameworks/electron/ts/src/renderer.ts
  samples/frameworks/electron/ts/tsconfig.json
  samples/frameworks/react/ts/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

prettier
  samples/frameworks/electron/ts/index.html
  samples/frameworks/electron/ts/src/Constants.ts
  samples/frameworks/electron/ts/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Comments and docs
  samples/frameworks/electron/ts/README.md
  samples/frameworks/electron/ts/index.html
  samples/frameworks/electron/ts/sample.env
  samples/frameworks/electron/ts/src/App.ts
  samples/frameworks/electron/ts/src/AuthProvider.ts
  samples/frameworks/electron/ts/src/Constants.ts
  samples/frameworks/electron/ts/src/UIManager.ts
  samples/frameworks/electron/ts/src/config.ts
  samples/frameworks/electron/ts/src/main.ts
  samples/frameworks/electron/ts/src/renderer.ts
  samples/frameworks/electron/ts/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
