Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

Use javascript tag in JS samples' package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[core-lro/keyvault] Removed non-functional tsconfig.samples.json (#14812)
  sdk/core/core-lro/package.json
  sdk/core/core-lro/tsconfig.samples.json
  sdk/keyvault/keyvault-certificates/samples/tsconfig.json
  sdk/keyvault/keyvault-certificates/tsconfig.samples.json
  sdk/keyvault/keyvault-keys/samples/tsconfig.json
  sdk/keyvault/keyvault-keys/tsconfig.samples.json
  sdk/keyvault/keyvault-secrets/samples/tsconfig.json
  sdk/keyvault/keyvault-secrets/tsconfig.samples.json
Due: none

update env var names
  sdk/communication/communication-phone-numbers/sample.env
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples-dev/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/samples/v1/javascript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/purchasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/releasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/javascript/updatePhoneNumberCapabilities.js
  sdk/communication/communication-phone-numbers/samples/v1/typescript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/typescript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-phone-numbers/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

.
  sdk/communication/communication-phone-numbers/samples/v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/containerregistry/container-registry/sample.env
  sdk/containerregistry/container-registry/sample.env
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[ContainerRegistry] Migrate samples to v2 workflow (#14750)
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/samples-dev/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples-dev/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/samples/javascript/README.md
  sdk/containerregistry/container-registry/samples/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/javascript/sample.env
  sdk/containerregistry/container-registry/samples/tsconfig.json
  sdk/containerregistry/container-registry/samples/typescript/README.md
  sdk/containerregistry/container-registry/samples/typescript/package.json
  sdk/containerregistry/container-registry/samples/typescript/sample.env
  sdk/containerregistry/container-registry/samples/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/v1/javascript/containerRepositoryClient.js
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/sample.env
  sdk/containerregistry/container-registry/samples/v1/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/sample.env
  sdk/containerregistry/container-registry/samples/v1/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/tsconfig.json
  sdk/containerregistry/container-registry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/CHANGELOG.md
Due: none

[Identity] Re-enabling Node 15 (#14702)
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_allows_working_with_an_authenticationrecord_that_is_serialized.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_persistence_throws_on_node_15_as_expected.js
  sdk/identity/identity/src/tokenCache/TokenCachePersistence.ts
  sdk/identity/identity/src/tokenCache/nodeVersion.ts
  sdk/identity/identity/src/tokenCache/persistencePlatforms.ts
  sdk/identity/identity/src/tokenCache/requireMsalNodeExtensions.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
Due: none

[communication][identity]Migrating communication-identitity to samples v2 (#14773)
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/samples-dev/issueToken.ts
  sdk/communication/communication-identity/samples-dev/revokeTokens.ts
  sdk/communication/communication-identity/samples/.gitignore
  sdk/communication/communication-identity/samples/javascript/README.md
  sdk/communication/communication-identity/samples/javascript/package.json
  sdk/communication/communication-identity/samples/tsconfig.json
  sdk/communication/communication-identity/samples/typescript/README.md
  sdk/communication/communication-identity/samples/v1/javascript/README.md
  sdk/communication/communication-identity/samples/v1/javascript/issueToken.js
  sdk/communication/communication-identity/samples/v1/javascript/package.json
  sdk/communication/communication-identity/samples/v1/javascript/revokeTokens.js
  sdk/communication/communication-identity/samples/v1/javascript/sample.env
  sdk/communication/communication-identity/samples/v1/typescript/README.md
  sdk/communication/communication-identity/samples/v1/typescript/package.json
  sdk/communication/communication-identity/samples/v1/typescript/sample.env
  sdk/communication/communication-identity/samples/v1/typescript/src/issueToken.ts
  sdk/communication/communication-identity/samples/v1/typescript/src/revokeTokens.ts
  sdk/communication/communication-identity/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-identity/test.env
  sdk/communication/communication-identity/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Fix BaseName initialization (#14815)
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml

[Core Lro] Release 1.0.5
  sdk/core/core-lro/CHANGELOG.md
Due: none

Revert "Sync eng/common directory with azure-sdk-tools for PR 1525 (#14643)"
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
Due: .azure-pipelines/js-mgmt-ci.yml

Temporarily disable smoke test
  sdk/communication/communication-chat/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

update to preview 6
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

fix chat readme
  sdk/communication/communication-chat/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Make `scopes` to have type `string[]`
  sdk/core/core-rest-pipeline/src/policies/bearerTokenChallengeAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/test/node/bearerTokenChallengeAuthenticationPolicy.spec.ts
Due: none

Update sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
Due: none

[communication] disable smoke tests
  sdk/communication/communication-chat/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Remove ServiceDirectory as required parameter for remove/update
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml

Remove passing -Mode Complete to deployment
  eng/common/TestResources/New-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml

[Core Lro] Release 1.0.5 (#14816)
  sdk/core/core-lro/CHANGELOG.md
Due: none

delete hook
  sdk/appconfiguration/app-configuration/samples/react-sample/src/hooks/useFeatureFlags.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update .env names
  sdk/appconfiguration/app-configuration/samples/react-sample/src/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

switch sms samples over to v2 format
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples-dev/sendSms.ts
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
  sdk/communication/communication-sms/samples/.gitignore
  sdk/communication/communication-sms/samples/javascript/README.md
  sdk/communication/communication-sms/samples/javascript/sample.env
  sdk/communication/communication-sms/samples/tsconfig.json
  sdk/communication/communication-sms/samples/typescript/README.md
  sdk/communication/communication-sms/samples/typescript/sample.env
  sdk/communication/communication-sms/samples/v1/javascript/README.md
  sdk/communication/communication-sms/samples/v1/javascript/package.json
  sdk/communication/communication-sms/samples/v1/javascript/sample.env
  sdk/communication/communication-sms/samples/v1/javascript/sendSms.js
  sdk/communication/communication-sms/samples/v1/javascript/sendSmsWithOptions.js
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/typescript/README.md
  sdk/communication/communication-sms/samples/v1/typescript/package.json
  sdk/communication/communication-sms/samples/v1/typescript/sample.env
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSms.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-sms/test.env
  sdk/communication/communication-sms/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/samples/v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[communication-chat] add missing communication-identity dependency in JS sample
  sdk/communication/communication-chat/samples/javascript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

change error code
  sdk/communication/communication-sms/test/smsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[communication-chat] add missing communication-identity dependency in JS sample (#14823)
  sdk/communication/communication-chat/samples/javascript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

CHANGELOG entry
  sdk/identity/identity/CHANGELOG.md
Due: none

wip
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/client/imdsRetryPolicy.ts
Due: none

simplest approach
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/client/imdsRetryPolicy.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1548 (#14822)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml

update recordings
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_can_send_an_sms_when_url_and_token_credential_are_provided.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Suggestion from Harsha
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Due: none

arm-containerservice-release (#14671)
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/models/agentPoolsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/maintenanceConfigurationsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/managedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
  sdk/containerservice/arm-containerservice/src/models/privateEndpointConnectionsMappers.ts
  sdk/containerservice/arm-containerservice/src/operations/managedClusters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

address PR feedback
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples-dev/sendSms.ts
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

formatting
  sdk/communication/communication-sms/samples-dev/sendSms.ts
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

cleaned up example
  samples/web-workers/.gitignore
  samples/web-workers/README.md
  samples/web-workers/arm-template.json
  samples/web-workers/js/sample.env
  samples/web-workers/js/worker.js
  samples/web-workers/ts/.gitignore
  samples/web-workers/ts/index.ts
  samples/web-workers/ts/sample.env
  samples/web-workers/ts/tsconfig.json
  samples/web-workers/ts/worker.ts
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-xml/src/xml.browser.ts
Due: .azure-pipelines/js-mgmt-ci.yml

Sync eng/common directory with azure-sdk-tools for PR 1515 (#14811)
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Due: .azure-pipelines/js-mgmt-ci.yml

arm-communication-release (#14007)
  sdk/communication/arm-communication/LICENSE.txt
  sdk/communication/arm-communication/README.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/rollup.config.js
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/communication/arm-communication/src/communicationServiceManagementClientContext.ts
  sdk/communication/arm-communication/src/models/communicationServiceMappers.ts
  sdk/communication/arm-communication/src/models/index.ts
  sdk/communication/arm-communication/src/models/mappers.ts
  sdk/communication/arm-communication/src/models/operationStatusesMappers.ts
  sdk/communication/arm-communication/src/models/operationsMappers.ts
  sdk/communication/arm-communication/src/models/parameters.ts
  sdk/communication/arm-communication/src/operations/communicationService.ts
  sdk/communication/arm-communication/src/operations/index.ts
  sdk/communication/arm-communication/src/operations/operationStatuses.ts
  sdk/communication/arm-communication/src/operations/operations.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
