Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

feedback from Jeff on test/mockHttp
  sdk/core/core-http/test/mockHttp.ts
Due: none

stricter types on some serializers (from Jeremy)
  sdk/core/core-http/src/serializer.ts
Due: none

this._retryOptions.timeoutInMs! <= timeTakenByInit guard
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

get rid of ! from timeoutInMs!
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

Undo changes to event-hubs
  sdk/eventhub/event-hubs/src/util/retries.ts
Due: none

fix typo in function name
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

azure cloud added for resource deployment
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

comment out browser tests and min node tests
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

comparison to undefined feedback (Ramya)
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-http/src/policies/userAgentPolicy.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-http/src/webResource.ts
Due: none

formatting
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/test/mockHttp.ts
  sdk/core/core-http/test/policies/systemErrorRetryPolicyTests.spec.ts
Due: none

dependency testing initiation
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/tools/dependency-testing/index.js
  eng/tools/dependency-testing/package.json
  eng/tools/dependency-testing/templates/package.json
  eng/tools/dependency-testing/templates/tsconfig.json
  eng/tools/dependency-testing/templates/tsconfig.tests.json
  eng/tools/eng-package-utils/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

get them to compile
  eng/tools/dependency-testing/templates/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

added other dependencies to package.json
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

change typo in function name
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

check if package changes are causing any weirdness
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regenerated CS Computer Vision & Bumped Major Version
  sdk/cognitiveservices/cognitiveservices-computervision/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-computervision/package.json
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClient.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClientContext.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/mappers.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Dep test (#8974)
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regenerated CS Custom Vision Prediction & Bumped Major Version
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/src/models/parameters.ts
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/src/predictionAPIClient.ts
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/src/predictionAPIClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-http] support text media type serialization
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/operationSpec.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Due: none

Regenerated CS Custom Vision Training & Bumped Major Version
  sdk/cognitiveservices/cognitiveservices-customvision-training/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-customvision-training/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/models/mappers.ts
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/models/parameters.ts
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/trainingAPIClient.ts
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/trainingAPIClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

I couldnt do Jeffs advice
  sdk/core/core-http/test/mockHttp.ts
Due: none

[KeyVault] CHANGELOG and package.json updates after recent fixes (#8892)
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Due: none

logger typos (#8962)
  sdk/core/logger/README.md
Due: none

subscription config added
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

make mediaType a union type
  sdk/core/core-http/src/operationSpec.ts
Due: none

subscription configuration added
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/textanalytics/ai-text-analytics/test/README.md
  sdk/textanalytics/ai-text-analytics/test/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Regenerated CS Computer Vision & Bumped Major Version (#8976)
  sdk/cognitiveservices/cognitiveservices-computervision/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-computervision/package.json
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClient.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClientContext.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/mappers.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

subscription configuration added (#8980)
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Readme changes
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/README.md
  sdk/cognitiveservices/cognitiveservices-customvision-training/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

simplify matrix
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

indentation
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[service-bus] Remove session manager. We've gone to a sample for this one. (#8960)
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/session/sessionManager.ts
Due: none

receiverClient -> receiver
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

[core-auth] target ES5
  sdk/core/core-auth/tsconfig.json
Due: none

senderClient -> sender
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none

deadletterClient -> deadletterReceiver
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none
