Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

[Service Bus] Simplify options for subscribe()
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

Added metricadvisor service in github io doc index
  eng/tools/generate-static-index/service-mapper.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

commit scaffold for design activity
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/api-learn/design-activity/.eslintrc.json
  sdk/api-learn/design-activity/.nycrc
  sdk/api-learn/design-activity/CHANGELOG.md
  sdk/api-learn/design-activity/LICENSE
  sdk/api-learn/design-activity/README.md
  sdk/api-learn/design-activity/api-extractor.json
  sdk/api-learn/design-activity/karma.conf.js
  sdk/api-learn/design-activity/package.json
  sdk/api-learn/design-activity/rollup.base.config.js
  sdk/api-learn/design-activity/rollup.config.js
  sdk/api-learn/design-activity/rollup.test.config.js
  sdk/api-learn/design-activity/sample.env
  sdk/api-learn/design-activity/samples/javascript/README.md
  sdk/api-learn/design-activity/samples/javascript/helloWorld.js
  sdk/api-learn/design-activity/samples/javascript/package.json
  sdk/api-learn/design-activity/samples/javascript/sample.env
  sdk/api-learn/design-activity/samples/tsconfig.json
  sdk/api-learn/design-activity/samples/typescript/README.md
  sdk/api-learn/design-activity/samples/typescript/package.json
  sdk/api-learn/design-activity/samples/typescript/sample.env
  sdk/api-learn/design-activity/samples/typescript/src/helloWorld.ts
  sdk/api-learn/design-activity/samples/typescript/tsconfig.json
  sdk/api-learn/design-activity/src/generated/generatedClient.ts
  sdk/api-learn/design-activity/src/generated/generatedClientContext.ts
  sdk/api-learn/design-activity/src/generated/index.ts
  sdk/api-learn/design-activity/src/generated/models/index.ts
  sdk/api-learn/design-activity/src/generated/models/mappers.ts
  sdk/api-learn/design-activity/src/generated/models/parameters.ts
  sdk/api-learn/design-activity/src/generated/operations/computation.ts
  sdk/api-learn/design-activity/src/generated/operations/computeNodeAdministration.ts
  sdk/api-learn/design-activity/src/generated/operations/index.ts
  sdk/api-learn/design-activity/src/index.ts
  sdk/api-learn/design-activity/swagger/README.md
  sdk/api-learn/design-activity/swagger/computation.json
  sdk/api-learn/design-activity/test/example.spec.ts
  sdk/api-learn/design-activity/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-service-bus (#11702)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Due: none

update README
  sdk/communication/communication-administration/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Simplify options for subscribe() (#11711)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

Work around swagger codegen bug
  sdk/api-learn/design-activity/review/design-activity.api.md
  sdk/api-learn/design-activity/src/generated/generatedClient.ts
  sdk/api-learn/design-activity/src/generated/models/index.ts
  sdk/api-learn/design-activity/src/generated/models/mappers.ts
  sdk/api-learn/design-activity/src/generated/operations/computations.ts
  sdk/api-learn/design-activity/src/generated/operations/index.ts
  sdk/api-learn/design-activity/swagger/computation.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

revert f262e4 and move onDetached to before calling refreshConnection
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

remove linentity - calling close during intialization
  sdk/servicebus/service-bus/src/core/linkEntity.ts
Due: none

Added metricadvisor service in github io doc index (#11712)
  eng/tools/generate-static-index/service-mapper.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

close open scenario done
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
Due: none

Continuation Token wrapped with Error when Recursive Acl call is interrupted
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Continuation Token wrapped with Error when Recursive Acl call is interrupted (#11716)
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix build error
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/index.ts
  sdk/communication/communication-administration/src/phoneNumber/lroModels.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.
  sdk/communication/communication-administration/src/phoneNumber/models.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools for PR 1066 (#11696)
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-identity (#11685)
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Due: none

Update constants.ts
  sdk/keyvault/keyvault-keys/src/constants.ts
Due: none

Sync eng/common directory with azure-sdk-tools for PR 1077 (#11692)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

skip the flaky test
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
Due: none

fix unreachable code
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add auto-merge label to sync PRs, Remove verify and merge step and add pipeline to clean-up sync PRs
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/common/scripts/Invoke-GitHub-API.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Refactor GitHub API Calls
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/common/scripts/Invoke-GitHub-API.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add tests.yml for schema-registry
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix inverted package names
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

refactor spanUtils envelope creation
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/eventhub.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Tracing for send API (#11651)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/diagnostics/messageSpan.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/messageSpan.spec.ts
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
Due: none

Get all the logging into a consistent format without breaking our time budget :)
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
Due: none

Add tests.yml for schema-registry (#11721)
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Monitor][Codegen] Use generated TelemetryItem (as Envelope) (#11280)
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/Envelope.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/exporter.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/mappers.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/functional/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/export.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/eventhub.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

undefined and 0 tests
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Due: none

Adds undefined and 0 tests
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Due: none

Got all the last logError calls.
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
Due: none

Support env vars with hyphens when printing output
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

in progress
  sdk/api-learn/implementation-tutorial/src/configurationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

scaffold updates
  sdk/api-learn/design-activity/package.json
  sdk/api-learn/design-activity/src/constants.ts
  sdk/api-learn/design-activity/src/generated/generatedClientContext.ts
  sdk/api-learn/design-activity/src/logger.ts
  sdk/api-learn/design-activity/swagger/README.md
  sdk/api-learn/design-tutorial/package.json
  sdk/api-learn/design-tutorial/src/constants.ts
  sdk/api-learn/design-tutorial/src/generated/generatedClientContext.ts
  sdk/api-learn/design-tutorial/src/logger.ts
  sdk/api-learn/design-tutorial/swagger/README.md
  sdk/api-learn/implementation-tutorial/package.json
  sdk/api-learn/implementation-tutorial/src/constants.ts
  sdk/api-learn/implementation-tutorial/src/generated/generatedClientContext.ts
  sdk/api-learn/implementation-tutorial/src/logger.ts
  sdk/api-learn/implementation-tutorial/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
