Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

Update sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

(Nock Bug 🐛: https://github.com/nock/nock/issues/2136)
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add parameter names to args array
  eng/tools/versioning/VersionUtils.js
  eng/tools/versioning/increment.js
  eng/tools/versioning/set-version.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove ts-ignore comment
  sdk/search/search-documents/.eslintrc.json
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add Document Key Retriever to Buffered Sender (#13478)
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/samples/typescript/src/utils/setup.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update pnpm lock file (#13495)
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add APIView variable group
  eng/pipelines/prepare-pipelines.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updated the patch version
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/analysisServicesManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

1ES pools update for release pipeline (#13476)
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

step 2
  sdk/synapse/synapse-access-control/src/accessControlClient.ts
  sdk/synapse/synapse-access-control/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/lro/models.ts
  sdk/synapse/synapse-artifacts/src/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operations/managedPrivateEndpoints.ts
  sdk/synapse/synapse-monitoring/src/models/index.ts
  sdk/synapse/synapse-monitoring/src/operations/monitoring.ts
  sdk/synapse/synapse-spark/src/models/index.ts
  sdk/synapse/synapse-spark/src/operations/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operations/sparkSession.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix exports
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Supends -> Suspends (#11751)
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/analysisServicesManagementClientContext.ts
  sdk/analysisservices/arm-analysisservices/src/operations/servers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

simplify instructions
  sdk/eventhub/event-hubs/test/perf/track-1/README.md
Due: none

fix tests - move buffer initialization to constructor
  sdk/storage/storage-file-datalake/test/perfstress/track-2/append.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/upload.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-release-v2
  sdk/synapse/arm-synapse/src/models/index.ts
  sdk/synapse/arm-synapse/src/synapseManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Perf tests] Storage File Datalake - track 2 (#12806)
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/perfstress/track-2/README.md
  sdk/storage/storage-file-datalake/test/perfstress/track-2/append.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/index.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/read.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/storageTest.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/upload.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/uploadFromFile.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-synapse-release
  sdk/synapse/arm-synapse/src/models/workspaceManagedSqlServerRecoverableSqlPoolsMappers.ts
  sdk/synapse/arm-synapse/src/operations/workspaceManagedSqlServerRecoverableSqlPools.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add check to catch delinquent eng/common changes
  eng/pipelines/templates/steps/analyze.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add the same to rest of the storage packages
  sdk/storage/storage-blob-changefeed/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-internal-avro/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] 3.1-beta.2 Renames
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools for PR 1351 (#13507)
  eng/common/TestResources/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixes AAD auth header missing and extracts string token from creds object
  sdk/cosmosdb/cosmos/src/auth.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
Due: none

Skip subpartitioning tests which pass already
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update aggregate-reports.yml
  eng/pipelines/aggregate-reports.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] 3.1-beta.2 Renames (#13508)
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add browser recordings
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Run smoke test samples after package release (#12929)
  common/smoke-test/Initialize-SmokeTests.ps1
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/jobs/smoke-tests.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[metrics advisor] updated method name for listDimensionValuesForDetectionConfig() (#13486)
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

private fields get and set methods
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix assertion
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Due: none

Add APIView variable group (#13499)
  eng/pipelines/prepare-pipelines.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

updated get, set functions and API review file
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Recorder] Single quotes in the url-path - careful revert of the reverted "workaround" (#13494)
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

return types
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
