Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

fix sb test
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
Due: none

changelog
  sdk/core/core-amqp/CHANGELOG.md
Due: none

update package.json
  sdk/core/core-amqp/package.json
Due: none

entityPath == undefined ? config.entityPath : String(config.entityPath)
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/config.spec.ts
Due: none

remove validate() workaround in service-bus
  sdk/servicebus/service-bus/src/constructorHelpers.ts
Due: none

[Identity] Readme updates (#12310)
  sdk/identity/identity/README.md
Due: none

Update sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
Due: none

PR link in changelog
  sdk/core/core-amqp/CHANGELOG.md
Due: none

Changed Name to initialBatchActionCount
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update API
  sdk/search/search-documents/review/search-documents.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix log message
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Due: none

changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Increment package version after release of azure-core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

update log message
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Due: none

Update sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Remove the failed tests 😛
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Due: none

Handle listing of new data feed source types
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

handling unknown data sources tests and some left out renaming
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_unknown_data_feed.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_unknown_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_a_different_data_source_type.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update the test date range
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

undo change to existing recordings
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_a_different_data_source_type.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update the test date range
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix the reference
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix the test name
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

recordings added for both browser and node
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_an_unknown_data_source_type.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_an_unknown_data_source_type.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

updated changelog
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Make sure we always log in as app or provisioner
  eng/common/TestResources/New-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/README.md
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/appServiceCertificateOrdersMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/appServiceEnvironmentsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/appServicePlansMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/certificateRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/certificatesMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/deletedWebAppsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/diagnosticsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/domainRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/domainsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/providerMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/recommendationsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/resourceHealthMetadataOperationsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/staticSitesMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/topLevelDomainsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/webAppsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/appServiceEnvironments.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/certificates.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/deletedWebApps.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/diagnostics.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/domains.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/provider.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/recommendations.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/staticSites.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/topLevelDomains.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/webApps.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/webSiteManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added default customDomainHttpsParameters value (#11777)
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClientContext.ts
  sdk/cdn/arm-cdn/src/operations/customDomains.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

put-blob-from-url: expose timeout
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
Due: none

Centralize the github io page and move script to common places.
  eng/pipelines/doc-index.yml
  eng/scripts/Language-Settings.ps1
  eng/tools/generate-static-index/Generate-DocIndex.ps1
  eng/tools/generate-static-index/assets/logo.svg
  eng/tools/generate-static-index/docfx.json
  eng/tools/generate-static-index/index.js
  eng/tools/generate-static-index/service-mapper.json
  eng/tools/generate-static-index/static-files/docfx.css
  eng/tools/generate-static-index/static-files/docfx.json
  eng/tools/generate-static-index/static-files/main.js
  eng/tools/generate-static-index/templates/matthews/partials/affix.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/class.header.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/class.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/enum.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/namespace.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/styles/main.css
  eng/tools/generate-static-index/templates/matthews/styles/main.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove generated lro
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/ArtifactsClient.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/constants.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/index.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/models.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/passthroughStrategy.ts
  sdk/synapse/synapse-artifacts/src/generated/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/generated/models/index.ts
  sdk/synapse/synapse-artifacts/src/generated/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/generated/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/generated/synapseArtifactsContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Centralize the github io page and move script to common places. (#12226)
  eng/pipelines/doc-index.yml
  eng/scripts/Language-Settings.ps1
  eng/tools/generate-static-index/Generate-DocIndex.ps1
  eng/tools/generate-static-index/assets/logo.svg
  eng/tools/generate-static-index/docfx.json
  eng/tools/generate-static-index/index.js
  eng/tools/generate-static-index/service-mapper.json
  eng/tools/generate-static-index/static-files/docfx.css
  eng/tools/generate-static-index/static-files/docfx.json
  eng/tools/generate-static-index/static-files/main.js
  eng/tools/generate-static-index/templates/matthews/partials/affix.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/class.header.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/class.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/enum.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/partials/namespace.tmpl.partial
  eng/tools/generate-static-index/templates/matthews/styles/main.css
  eng/tools/generate-static-index/templates/matthews/styles/main.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
