Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

me
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Due: none

me
  sdk/storage/storage-blob/src/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
Due: none

Generated from 120b63d62f74c1320d0eaba7d92e7ce0a75acfc4
  sdk/cosmosdb/arm-cosmosdb/src/operations/databaseAccounts.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix stale ts docs
  sdk/eventhub/event-hubs/src/managementClient.ts
Due: none

Avoid making async for no net benefits
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Due: none

feedback by Jeff
  sdk/keyvault/keyvault-keys/test/utils/lro/restore/operation.ts
Due: none

[Event Hubs] Remove EventHubClient dependency in ProducerClient (#9520)
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/sender.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/node/disconnects.spec.ts
Due: none

Generated from 1a7ad12a4c4456ef445b7ca8d6dd33d120d93a6a
  sdk/notificationhubs/arm-notificationhubs/LICENSE.txt
  sdk/notificationhubs/arm-notificationhubs/README.md
  sdk/notificationhubs/arm-notificationhubs/package.json
  sdk/notificationhubs/arm-notificationhubs/rollup.config.js
  sdk/notificationhubs/arm-notificationhubs/src/models/index.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/mappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/namespacesMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/notificationHubsMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/operationsMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/notificationHubsManagementClientContext.ts
  sdk/notificationhubs/arm-notificationhubs/src/operations/namespaces.ts
  sdk/notificationhubs/arm-notificationhubs/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove test for QuotaExceededError
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Due: none

Fix bug where abort signal was being called immediately if passed by the user
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
Due: none

Update RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
Due: none

Add changelog
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

[event-hubs] fix EventHubConsumerClient waiting 1 min before exit
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
Due: none

Update rush
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add test
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Due: none

Remove unused import resulting from master merge
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
Due: none

Add a test - request without `message_id` should not match a response with `undefined` correlationId
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

Update rush scripts
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove reqst.correlation_id check
  sdk/core/core-amqp/src/requestResponseLink.ts
Due: none

Fix test
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Due: none

Generated from 69a755c4d01ab29341bc8fe94cff981d4301e9f1
  sdk/batch/arm-batch/LICENSE.txt
  sdk/batch/arm-batch/README.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/rollup.config.js
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/batch/arm-batch/src/batchManagementClientContext.ts
  sdk/batch/arm-batch/src/models/applicationOperationsMappers.ts
  sdk/batch/arm-batch/src/models/applicationPackageOperationsMappers.ts
  sdk/batch/arm-batch/src/models/certificateOperationsMappers.ts
  sdk/batch/arm-batch/src/models/index.ts
  sdk/batch/arm-batch/src/models/locationMappers.ts
  sdk/batch/arm-batch/src/models/mappers.ts
  sdk/batch/arm-batch/src/models/operationsMappers.ts
  sdk/batch/arm-batch/src/models/parameters.ts
  sdk/batch/arm-batch/src/models/poolOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateEndpointConnectionOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateLinkResourceOperationsMappers.ts
  sdk/batch/arm-batch/src/operations/applicationOperations.ts
  sdk/batch/arm-batch/src/operations/applicationPackageOperations.ts
  sdk/batch/arm-batch/src/operations/batchAccountOperations.ts
  sdk/batch/arm-batch/src/operations/certificateOperations.ts
  sdk/batch/arm-batch/src/operations/index.ts
  sdk/batch/arm-batch/src/operations/poolOperations.ts
  sdk/batch/arm-batch/src/operations/privateEndpointConnectionOperations.ts
  sdk/batch/arm-batch/src/operations/privateLinkResourceOperations.ts
  sdk/batch/arm-batch/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove references to PK on options objects
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
Due: none

Update rush (#9542)
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update to pnpm v5
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

throw error for invalid inputs
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

test cases for invalid inputs
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
Due: none

duplicated line
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] Remove the middle layer of EventHubProducer
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/sender.ts
  sdk/eventhub/event-hubs/test/node/disconnects.spec.ts
Due: none

Update rest of the attributes from QDesc
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
Due: none

Update TopicDesc
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
Due: none

Update SubDesc
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
Due: none

update tests - first pass
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

fix test utils
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

Release for mgmt datafactory (#9437)
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClientContext.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowDebugSessionMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/datasetsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/factoriesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/linkedServicesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/models/pipelinesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/triggersMappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix a couple of tests
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

PR comments
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_create_block_blob_blob_should_work_with_tags.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_create_block_blob_blob_should_work_with_tags.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_find_blob_by_tags_should_work.js
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Due: none

me
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_create_block_blob_should_work_with_tags.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_create_block_blob_should_work_with_tags.js
Due: none

Generated from 3890baf643a8bc4b3cd0a09dc33eeb094ba1e193
  sdk/vmware/arm-vmware/LICENSE.txt
  sdk/vmware/arm-vmware/README.md
  sdk/vmware/arm-vmware/package.json
  sdk/vmware/arm-vmware/rollup.config.js
  sdk/vmware/arm-vmware/src/azureVMwareSolutionAPI.ts
  sdk/vmware/arm-vmware/src/azureVMwareSolutionAPIContext.ts
  sdk/vmware/arm-vmware/src/models/clustersMappers.ts
  sdk/vmware/arm-vmware/src/models/index.ts
  sdk/vmware/arm-vmware/src/models/locationsMappers.ts
  sdk/vmware/arm-vmware/src/models/mappers.ts
  sdk/vmware/arm-vmware/src/models/operationsMappers.ts
  sdk/vmware/arm-vmware/src/models/parameters.ts
  sdk/vmware/arm-vmware/src/models/privateCloudsMappers.ts
  sdk/vmware/arm-vmware/src/operations/clusters.ts
  sdk/vmware/arm-vmware/src/operations/index.ts
  sdk/vmware/arm-vmware/src/operations/locations.ts
  sdk/vmware/arm-vmware/src/operations/operations.ts
  sdk/vmware/arm-vmware/src/operations/privateClouds.ts
  sdk/vmware/arm-vmware/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
