Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

azure-stack-version bump (#6984)
  sdk/azurestack/arm-azurestack/package.json
  sdk/azurestack/arm-azurestack/src/azureStackManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 1a3922e8b50e21b5b81b062d16e5ba4e825e9ba3
  sdk/datafactory/arm-datafactory/LICENSE.txt
  sdk/datafactory/arm-datafactory/README.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/rollup.config.js
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClientContext.ts
  sdk/datafactory/arm-datafactory/src/models/activityRunsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowDebugSessionMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/datasetsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/exposureControlMappers.ts
  sdk/datafactory/arm-datafactory/src/models/factoriesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimeNodesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimeObjectMetadataMappers.ts
  sdk/datafactory/arm-datafactory/src/models/linkedServicesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/models/operationsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/parameters.ts
  sdk/datafactory/arm-datafactory/src/models/pipelineRunsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/pipelinesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/rerunTriggersMappers.ts
  sdk/datafactory/arm-datafactory/src/models/triggersMappers.ts
  sdk/datafactory/arm-datafactory/src/operations/dataFlowDebugSession.ts
  sdk/datafactory/arm-datafactory/src/operations/dataFlows.ts
  sdk/datafactory/arm-datafactory/src/operations/exposureControl.ts
  sdk/datafactory/arm-datafactory/src/operations/factories.ts
  sdk/datafactory/arm-datafactory/src/operations/index.ts
  sdk/datafactory/arm-datafactory/src/operations/integrationRuntimeObjectMetadata.ts
  sdk/datafactory/arm-datafactory/src/operations/integrationRuntimes.ts
  sdk/datafactory/arm-datafactory/src/operations/pipelines.ts
  sdk/datafactory/arm-datafactory/src/operations/triggerRuns.ts
  sdk/datafactory/arm-datafactory/src/operations/triggers.ts
  sdk/datafactory/arm-datafactory/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ad0c3f96660205d67ebb9920555493a108b3606e (#6985)
  sdk/hdinsight/arm-hdinsight/LICENSE.txt
  sdk/hdinsight/arm-hdinsight/src/models/index.ts
  sdk/hdinsight/arm-hdinsight/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

hd insight
  sdk/hdinsight/arm-hdinsight/package.json
  sdk/hdinsight/arm-hdinsight/src/hDInsightManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

hd insight (#6988)
  sdk/hdinsight/arm-hdinsight/package.json
  sdk/hdinsight/arm-hdinsight/src/hDInsightManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from bfed0c72a6f4add1eae9e6ddbf171048fca771f5 (#6989)
  sdk/compute/arm-compute/LICENSE.txt
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostsMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryApplicationVersions.ts
  sdk/compute/arm-compute/src/operations/galleryApplications.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/proximityPlacementGroups.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetExtensions.ts
  sdk/compute/arm-compute/src/operations/virtualMachines.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

arm-compute-version-bump
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Version bump for release do not delete (#6990)
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release powerbidedicated
  sdk/powerbidedicated/arm-powerbidedicated/LICENSE.txt
  sdk/powerbidedicated/arm-powerbidedicated/README.md
  sdk/powerbidedicated/arm-powerbidedicated/package.json
  sdk/powerbidedicated/arm-powerbidedicated/rollup.config.js
  sdk/powerbidedicated/arm-powerbidedicated/src/models/capacitiesMappers.ts
  sdk/powerbidedicated/arm-powerbidedicated/src/models/index.ts
  sdk/powerbidedicated/arm-powerbidedicated/src/models/mappers.ts
  sdk/powerbidedicated/arm-powerbidedicated/src/models/operationsMappers.ts
  sdk/powerbidedicated/arm-powerbidedicated/src/powerBIDedicatedManagementClientContext.ts
  sdk/powerbidedicated/arm-powerbidedicated/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[KeyVault] Fixed the deploy button
  sdk/keyvault/keyvault-keys/README.md
Due: none

Update README.md
  sdk/keyvault/keyvault-secrets/README.md
Due: none

Update README.md
  sdk/keyvault/keyvault-keys/README.md
Due: none

Update changelog and package.json (and test)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

[Storage] fix unused import warning in node test rollup (#6909)
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/receiveEventsUsingCheckpointStore.js
Due: none

[Storage][test] extract timeout limits to a constant
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[KeyVault] Require resources in challenge based auth to be https (#6707)
  sdk/keyvault/keyvault-certificates/src/core/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-keys/src/core/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-secrets/src/core/challengeBasedAuthenticationPolicy.ts
Due: none

Log retries
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
Due: none

Added typescript README and package.json
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/package.json
Due: none

Fixed some env var references
  sdk/servicebus/service-bus/samples/typescript/src/interactiveLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/servicePrincipalLogin.ts
Due: none

Update receiveEventsUsingCheckpointStore.js (#6993)
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/receiveEventsUsingCheckpointStore.js
Due: none

remove extraneous import
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
Due: none

Generate javascript files from TS source
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/interactiveLogin.js
  sdk/servicebus/service-bus/samples/javascript/loginWithAzureAccount.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
Due: none

Fixed URL paths in TypeScript samples
  sdk/servicebus/service-bus/samples/typescript/README.md
Due: none

sample.env and README for js samples
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/sample.env
Due: none

tsconfig for package-level builds
  sdk/servicebus/service-bus/samples/tsconfig.json
Due: none

Added execute scripts for samples.
  sdk/servicebus/service-bus/package.json
Due: none

[event-hubs] Fixing bug in load balancing algorithm with even numbers of processors. (#6946)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/loadBalancer.spec.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Due: none

Fixed reference to sample name in typescript readme
  sdk/servicebus/service-bus/samples/typescript/README.md
Due: none

Fixing #6604 - add a link to the general typescript guidelines for the Azure SDK and include that consumerGroup is now mandatory.
  sdk/eventhub/event-hubs/migrationguide.md
Due: none

Test commit
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

use azure logger to log retries
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Due: none

Add role assignment
  sdk/servicebus/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove .only
  sdk/storage/storage-blob/test/blobbatch.spec.ts
Due: none

ACCOUNT_TOKEN description
  sdk/storage/CONTRIBUTING.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update scope
  sdk/servicebus/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

export main in typescript atomManagementApi sample
  sdk/servicebus/service-bus/samples/typescript/src/atomManagementApi.ts
Due: none

Remove unused import
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
