Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Response to PR Comments
  sdk/attestation/attestation/review/attestation.api.md
  sdk/attestation/attestation/rollup.config.js
  sdk/attestation/attestation/src/index.ts
  sdk/attestation/attestation/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Attestation Data Plane SDK - Initial Commit (#12787)
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/attestation/attestation/LICENSE.txt
  sdk/attestation/attestation/README.md
  sdk/attestation/attestation/api-extractor.json
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/review/attestation.api.md
  sdk/attestation/attestation/rollup.config.js
  sdk/attestation/attestation/src/attestationClient.ts
  sdk/attestation/attestation/src/attestationClientContext.ts
  sdk/attestation/attestation/src/index.ts
  sdk/attestation/attestation/src/models/index.ts
  sdk/attestation/attestation/src/models/mappers.ts
  sdk/attestation/attestation/src/models/parameters.ts
  sdk/attestation/attestation/src/operations/attestation.ts
  sdk/attestation/attestation/src/operations/index.ts
  sdk/attestation/attestation/src/operations/metadataConfiguration.ts
  sdk/attestation/attestation/src/operations/policy.ts
  sdk/attestation/attestation/src/operations/policyCertificates.ts
  sdk/attestation/attestation/src/operations/signingCertificates.ts
  sdk/attestation/attestation/swagger/readme.md
  sdk/attestation/attestation/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

blob changlog
  sdk/storage/storage-blob/CHANGELOG.md
Due: none

datalake service generateAccountSasUrl specify defaults
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_should_work_with_all_parameters_set.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_should_work_with_default_parameters.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

datalake service sas url
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_datalakedirectoryclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_datalakefileclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakefilesystemclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_should_work_with_default_parameters.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

file: generateAccountSasUrl and generateSasUrl
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_sharecleintgeneratesasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_sharefileclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_shareserviceclientgenerateaccountsasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_shareserviceclientgenerateaccountsasurl_should_work_with_default_parameters.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

queue
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_queueclientgeneratesasurl_should_work.js
  sdk/storage/storage-queue/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_queueserviceclientgenerateaccountsasurl_should_work.js
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
Due: none

update
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClientContext.ts
  sdk/cdn/arm-cdn/src/operations/customDomains.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 11844 in Azure/azure-rest-api-specs add databricks track2 config (#11844)
  sdk/databricks/arm-databricks/LICENSE.txt
  sdk/databricks/arm-databricks/README.md
  sdk/databricks/arm-databricks/package.json
  sdk/databricks/arm-databricks/rollup.config.js
  sdk/databricks/arm-databricks/src/databricksClient.ts
  sdk/databricks/arm-databricks/src/databricksClientContext.ts
  sdk/databricks/arm-databricks/src/models/index.ts
  sdk/databricks/arm-databricks/src/models/mappers.ts
  sdk/databricks/arm-databricks/src/models/operationsMappers.ts
  sdk/databricks/arm-databricks/src/models/parameters.ts
  sdk/databricks/arm-databricks/src/models/vNetPeeringMappers.ts
  sdk/databricks/arm-databricks/src/operations/index.ts
  sdk/databricks/arm-databricks/src/operations/operations.ts
  sdk/databricks/arm-databricks/src/operations/vNetPeering.ts
  sdk/databricks/arm-databricks/src/operations/workspaces.ts
  sdk/databricks/arm-databricks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove swagger/file.json
  sdk/storage/storage-file-share/swagger/file.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

rebuild
  sdk/storage/storage-blob/review/storage-blob.api.md
Due: none

Align "trigger" with "pr" in core ci.yml (#12785)
  sdk/core/ci.yml
Due: none

package version bump up
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update dependency
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-file-datalake/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix a bug: need expiresOn AND permission
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CodeGen from PR 11036 in Azure/azure-rest-api-specs [webapp]:Add endpoint for AppService CLI Github token endpoint (#11036)
  sdk/appservice/arm-appservice/README.md
  sdk/appservice/arm-appservice/rollup.config.js
  sdk/appservice/arm-appservice/src/models/appServiceCertificateOrdersMappers.ts
  sdk/appservice/arm-appservice/src/models/appServiceEnvironmentsMappers.ts
  sdk/appservice/arm-appservice/src/models/appServicePlansMappers.ts
  sdk/appservice/arm-appservice/src/models/certificateRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice/src/models/certificatesMappers.ts
  sdk/appservice/arm-appservice/src/models/deletedWebAppsMappers.ts
  sdk/appservice/arm-appservice/src/models/diagnosticsMappers.ts
  sdk/appservice/arm-appservice/src/models/domainRegistrationProviderMappers.ts
  sdk/appservice/arm-appservice/src/models/domainsMappers.ts
  sdk/appservice/arm-appservice/src/models/index.ts
  sdk/appservice/arm-appservice/src/models/mappers.ts
  sdk/appservice/arm-appservice/src/models/parameters.ts
  sdk/appservice/arm-appservice/src/models/providerMappers.ts
  sdk/appservice/arm-appservice/src/models/recommendationsMappers.ts
  sdk/appservice/arm-appservice/src/models/resourceHealthMetadataOperationsMappers.ts
  sdk/appservice/arm-appservice/src/models/staticSitesMappers.ts
  sdk/appservice/arm-appservice/src/models/topLevelDomainsMappers.ts
  sdk/appservice/arm-appservice/src/models/webAppsMappers.ts
  sdk/appservice/arm-appservice/src/operations/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice/src/operations/appServiceEnvironments.ts
  sdk/appservice/arm-appservice/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice/src/operations/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/certificates.ts
  sdk/appservice/arm-appservice/src/operations/deletedWebApps.ts
  sdk/appservice/arm-appservice/src/operations/diagnostics.ts
  sdk/appservice/arm-appservice/src/operations/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/domains.ts
  sdk/appservice/arm-appservice/src/operations/index.ts
  sdk/appservice/arm-appservice/src/operations/provider.ts
  sdk/appservice/arm-appservice/src/operations/recommendations.ts
  sdk/appservice/arm-appservice/src/operations/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice/src/operations/staticSites.ts
  sdk/appservice/arm-appservice/src/operations/topLevelDomains.ts
  sdk/appservice/arm-appservice/src/operations/webApps.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add empty build:samples scripts to all packages missing them.
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/testhub/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/test-utils/perfstress/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added export to typescript main declarations where missing
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_change_point.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_entire_series_anomaly.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_last_point_anomaly.ts
  sdk/core/core-lro/samples/typescript/samplesClient.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendEventGridEvent.ts
  sdk/eventhub/event-processor-host/samples/iothubEph.ts
  sdk/eventhub/event-processor-host/samples/multiEph.ts
  sdk/eventhub/event-processor-host/samples/sendBatch.ts
  sdk/eventhub/event-processor-host/samples/singleEph.ts
  sdk/eventhub/event-processor-host/samples/websockets.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Minor commit formatting changes
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

WIP
  sdk/synapse/synapse-accesscontrol/review/synapse-accesscontrol.api.md
  sdk/synapse/synapse-accesscontrol/src/accessControlClient.ts
  sdk/synapse/synapse-accesscontrol/src/accessControlClientContext.ts
  sdk/synapse/synapse-accesscontrol/src/models/index.ts
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/lro/models.ts
  sdk/synapse/synapse-artifacts/src/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-spark/review/synapse-spark.api.md
  sdk/synapse/synapse-spark/src/models/index.ts
  sdk/synapse/synapse-spark/src/operations/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operations/sparkSession.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

WIP
  sdk/synapse/synapse-accesscontrol/src/accessControlClient.ts
  sdk/synapse/synapse-accesscontrol/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/lro/models.ts
  sdk/synapse/synapse-artifacts/src/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-spark/src/models/index.ts
  sdk/synapse/synapse-spark/src/operations/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operations/sparkSession.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add empty build:samples scripts to all packages missing them. (#12791)
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/testhub/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/test-utils/perfstress/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add export to sample main functions where missing (#12792)
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_change_point.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_entire_series_anomaly.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_last_point_anomaly.ts
  sdk/core/core-lro/samples/typescript/samplesClient.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendEventGridEvent.ts
  sdk/eventhub/event-processor-host/samples/iothubEph.ts
  sdk/eventhub/event-processor-host/samples/multiEph.ts
  sdk/eventhub/event-processor-host/samples/sendBatch.ts
  sdk/eventhub/event-processor-host/samples/singleEph.ts
  sdk/eventhub/event-processor-host/samples/websockets.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds AAD client option
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/auth.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Due: none

Fixes
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Due: none

Revert sorting of package.json script entries
  sdk/core/abort-controller/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/testhub/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/test-utils/perfstress/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed merge artifact in dev-tool package.json
  common/tools/dev-tool/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

pnpm-lock
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Revert formatting changes to anomalydetector
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_change_point.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_entire_series_anomaly.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_last_point_anomaly.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Don't set query parameter for snapshot or versionid at the destination when fallback to use sas token in the source url
  sdk/storage/storage-file-datalake/src/clients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Reformat
  sdk/storage/storage-file-datalake/src/clients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[service-bus] Fix issue on drain where `onDrain` and `onMessage` might sequence incorrectly. (#12772)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
Due: none

[Identity] Feedback after #10337 (2)
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
Due: none

remove npm run build from perf step
  sdk/storage/storage-blob/package.json
Due: none

[Key Vault] AAD Access Policies (#12688)
  sdk/keyvault/keyvault-admin/test/README.md
  sdk/keyvault/keyvault-certificates/test/README.md
  sdk/keyvault/keyvault-keys/test/README.md
  sdk/keyvault/keyvault-secrets/test/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix the identity build
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/msalClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed some no-longer-used dependencies and options.
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/config/rollup.base.config.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix the identity build (#12795)
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/msalClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
