Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - sdk/core
    - sdk/cosmosdb/cosmos
    - sdk/eventhub
    - sdk/identity
    - sdk/keyvault/keyvault
    - sdk/keyvault/keyvault-secrets
    - sdk/keyvault/keyvault-keys
    - sdk/keyvault/keyvault-certificates
    - sdk/servicebus/service-bus
    - sdk/storage/storage-blob
    - sdk/storage/storage-datalake
    - sdk/storage/storage-file
    - sdk/storage/storage-queue
    - sdk/template/template

pr: none

variables:
  NodeVersion: '12.x'

jobs:
  - job: 'Build'

    pool:
      vmImage: 'Ubuntu 16.04'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NodeVersion)'
        displayName: 'Install Node.js $(NodeVersion)'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          verbose: false

      - task: Npm@1
        displayName: 'npm run build'
        inputs:
          command: custom
          verbose: false
          customCommand: 'run build --logging-level=trace'

      - task: PublishBuildArtifacts@1
        inputs:
          pathtoPublish: $(Build.SourcesDirectory)/drop

.azure-pipelines/js-mgmt-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - /sdk/
    exclude: [ sdk/core/, sdk/cosmosdb/cosmos/, sdk/eventhub/, sdk/identity/, sdk/keyvault/keyvault-certificates/, sdk/keyvault/keyvault-keys/, sdk/keyvault/keyvault-secrets/, sdk/keyvault/keyvault/, sdk/servicebus/service-bus/, sdk/storage/storage-blob/, sdk/storage/storage-datalake/, sdk/storage/storage-file/, sdk/storage/storage-queue/, sdk/template/template/ ]

variables:
  NodeVersion: '12.x'

jobs:
  - job: 'Build'
    displayName: 'Build auto-generated projects'

    pool:
      vmImage: 'Ubuntu 16.04'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NodeVersion)'
        displayName: 'Install Node.js $(NodeVersion)'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          verbose: false

      - task: Npm@1
        displayName: 'npm run build'
        inputs:
          command: custom
          verbose: false
          customCommand: 'run build -- --head-reference=origin/$(System.PullRequest.SourceBranch) --base-reference=origin/$(System.PullRequest.TargetBranch) --logging-level=trace'

  - job: 'Check_everything'
    displayName: 'Check .only, .skip and version bump'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NodeVersion)'
        displayName: 'Install Node.js $(NodeVersion)'

      - task: Npm@1
        displayName: 'npm install'
        inputs:
          verbose: false

      - task: Npm@1
        displayName: 'npm run check:everything'
        inputs:
          command: custom
          verbose: false
          customCommand: 'run check:everything -- --head-reference=origin/$(System.PullRequest.SourceBranch) --base-reference=origin/$(System.PullRequest.TargetBranch) --azure-devops --verbose'

referencing developer guide in the readme.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Due: none

removed dotenv
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/recorder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

referencing developer guide in the readme and contribute.md
  sdk/template/template/README.md
Due: none

referencing developer guide in the readme and remove old contribute.md
  sdk/core/core-amqp/Contributing.md
  sdk/core/core-amqp/README.md
Due: none

Improved delay module
  sdk/test-utils/recorder/src/delay.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

remove delay from utils.ts file
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

keep only the final recorder module in recorder.ts
  sdk/test-utils/recorder/src/recorder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update times -> maxRetries and other new defaults
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

referencing developer guide in the readme and remove old contribute.md - abort-controller
  sdk/core/abort-controller/README.md
Due: none

testing relative links
  sdk/core/abort-controller/README.md
Due: none

Use SasTokenProvider default values
  sdk/servicebus/service-bus/src/core/linkEntity.ts
Due: none

Rename to timeoutInMs
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
Due: none

Update docs per newer requirements
  sdk/eventhub/event-hubs/src/eventHubClient.ts
Due: none

Fix negotiateClaim parameters
  sdk/servicebus/service-bus/src/core/linkEntity.ts
Due: none

remove header and update to relative link
  sdk/core/core-amqp/README.md
Due: none

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml

separate customConsoleLog.ts
  sdk/test-utils/recorder/src/customConsoleLog.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

reference developer guide - core-arm
  sdk/core/core-arm/README.md
Due: none

decouple base recorder from recorder
  sdk/test-utils/recorder/src/baseRecorder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

reference developer guide - core-asynciterator
  sdk/core/core-asynciterator-polyfill/README.md
Due: none

Update rush to 5.10.1
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml

Exclude importing type from rhea-promise
  common/config/rush/common-versions.json
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/errors.ts
Due: .azure-pipelines/js-mgmt-ci.yml

Allow warnings in build and unit-test commands
  common/config/rush/command-line.json
Due: .azure-pipelines/js-mgmt-ci.yml

add contribute section tocore-auth
  sdk/core/core-auth/README.md
Due: none

add link to developer guide under core-http and core-paging
  sdk/core/core-http/README.md
  sdk/core/core-paging/README.md
Due: none

Address build errors
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/index.ts
Due: none

Bump @azure/arm-compute version to 11.0.0-preview.1
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Regenerate @azure/arm-compute to use @azure/core-http
  sdk/compute/arm-compute/README.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/rollup.config.js
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/computeManagementClientContext.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/operations/availabilitySets.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/disks.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/images.ts
  sdk/compute/arm-compute/src/operations/logAnalytics.ts
  sdk/compute/arm-compute/src/operations/operations.ts
  sdk/compute/arm-compute/src/operations/resourceSkus.ts
  sdk/compute/arm-compute/src/operations/snapshots.ts
  sdk/compute/arm-compute/src/operations/usageOperations.ts
  sdk/compute/arm-compute/src/operations/virtualMachineExtensionImages.ts
  sdk/compute/arm-compute/src/operations/virtualMachineExtensions.ts
  sdk/compute/arm-compute/src/operations/virtualMachineImages.ts
  sdk/compute/arm-compute/src/operations/virtualMachineRunCommands.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetExtensions.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetOperations.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetRollingUpgrades.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetVMs.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
  sdk/compute/arm-compute/src/operations/virtualMachineSizes.ts
  sdk/compute/arm-compute/src/operations/virtualMachines.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Fix options type
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Due: none

[Event Hubs] Introduce operationTimeoutInMs (#4239)
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
Due: none

[Event Hubs] Introduce timeoutInMs on RetryOptions (#4239)
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
Due: none

Pin autorest.typescript to 4.1.1
  swagger_to_sdk_config.json
Due: .azure-pipelines/js-mgmt-ci.yml

Update rush and pnpm to latest (#4270)
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml

Update event-hubs.api.md file
  sdk/eventhub/event-hubs/review/event-hubs.api.md
Due: none

add some return types
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Regenerate @azure/arm-compute to use @azure/core-http (#4237)
  sdk/compute/arm-compute/README.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/rollup.config.js
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/computeManagementClientContext.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/operations/availabilitySets.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/disks.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/images.ts
  sdk/compute/arm-compute/src/operations/logAnalytics.ts
  sdk/compute/arm-compute/src/operations/operations.ts
  sdk/compute/arm-compute/src/operations/resourceSkus.ts
  sdk/compute/arm-compute/src/operations/snapshots.ts
  sdk/compute/arm-compute/src/operations/usageOperations.ts
  sdk/compute/arm-compute/src/operations/virtualMachineExtensionImages.ts
  sdk/compute/arm-compute/src/operations/virtualMachineExtensions.ts
  sdk/compute/arm-compute/src/operations/virtualMachineImages.ts
  sdk/compute/arm-compute/src/operations/virtualMachineRunCommands.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetExtensions.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetOperations.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetRollingUpgrades.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetVMs.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
  sdk/compute/arm-compute/src/operations/virtualMachineSizes.ts
  sdk/compute/arm-compute/src/operations/virtualMachines.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[Event Hubs] Update event-hubs.api.md file (#4280)
  sdk/eventhub/event-hubs/review/event-hubs.api.md
Due: none

Fix whitespace
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml
