Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

update karma import in all the packages
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/core/logger/karma.conf.js
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/identity/identity/karma.conf.js
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/servicebus/service-bus/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Renamed FetchInput to CommonRequestOptions for similarity to the DOM type
  sdk/core/core-http/lib/browserFetchHttpClient.ts
  sdk/core/core-http/lib/fetchHttpClient.ts
  sdk/core/core-http/lib/nodeFetchHttpClient.ts
Due: none

Added dom-shim.d.ts to package.json files
  sdk/core/core-http/package.json
Due: none

Generated from 0f297a542381b151cef020f3741b9588fb7994cc
  sdk/cosmosdb/arm-cosmosdb/LICENSE.txt
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/databaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/gremlinResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mongoDBResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/parameters.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateEndpointConnectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateLinkResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/sqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/tableResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update reporter declaration to karma-remap-istanbul
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/core/logger/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/identity/identity/karma.conf.js
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/servicebus/service-bus/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remapCoverageReporter -> remapIstanbulReporter everywhere
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/core/logger/karma.conf.js
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/identity/identity/karma.conf.js
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/servicebus/service-bus/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update code coverage cobertura reporter in all the SDKs
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/core/logger/karma.conf.js
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/identity/identity/karma.conf.js
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/servicebus/service-bus/karma.conf.js
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/test-utils/recorder/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

rush update --full
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Disable publishing browser code coverage report
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

go back to pnpm-lock file on master
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/test-utils/recorder/src/utils.node.ts
  sdk/test-utils/recorder/src/utils.node.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Test different CC report file name for browser
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/storage/storage-queue/karma.conf.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added env flag to enable ts-node to lookup ambient declarations in dts files
  sdk/core/core-http/package.json
Due: none

Make this more documentation friendly.
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/track2/receiverClient.ts
Due: none

Better name for the task
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Disable publishing browser code coverage report (#7494)
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

better naming
  sdk/test-utils/recorder/src/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update changelog
  sdk/test-utils/recorder/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

pnpm lock file
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ea2207dd1ce2fa40081bfb301b14b8ad735ecdf4
  sdk/containerregistry/arm-containerregistry/LICENSE.txt
  sdk/containerregistry/arm-containerregistry/README.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/rollup.config.js
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerregistry/arm-containerregistry/src/models/index.ts
  sdk/containerregistry/arm-containerregistry/src/models/mappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/parameters.ts
  sdk/containerregistry/arm-containerregistry/src/models/replicationsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/runsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/scopeMapsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/taskRunsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tasksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tokensMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/webhooksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/operations/index.ts
  sdk/containerregistry/arm-containerregistry/src/operations/registries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/runs.ts
  sdk/containerregistry/arm-containerregistry/src/operations/taskRuns.ts
  sdk/containerregistry/arm-containerregistry/src/operations/tasks.ts
  sdk/containerregistry/arm-containerregistry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 383a3119095f0fa84c34bd427cfa550fdff59adf
  sdk/containerregistry/arm-containerregistry/LICENSE.txt
  sdk/containerregistry/arm-containerregistry/README.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/rollup.config.js
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerregistry/arm-containerregistry/src/models/index.ts
  sdk/containerregistry/arm-containerregistry/src/models/mappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/parameters.ts
  sdk/containerregistry/arm-containerregistry/src/models/replicationsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/runsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/scopeMapsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/taskRunsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tasksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tokensMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/webhooksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/operations/index.ts
  sdk/containerregistry/arm-containerregistry/src/operations/registries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/runs.ts
  sdk/containerregistry/arm-containerregistry/src/operations/taskRuns.ts
  sdk/containerregistry/arm-containerregistry/src/operations/tasks.ts
  sdk/containerregistry/arm-containerregistry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update tests
  sdk/test-utils/recorder/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Node tests being missed in the integration-test command
  sdk/test-utils/recorder/.nycrc
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixing browser Code Coverage for all the SDKs (#7496)
  sdk/core/abort-controller/karma.conf.js
  sdk/core/abort-controller/package.json
  sdk/core/core-lro/karma.conf.js
  sdk/core/core-lro/package.json
  sdk/core/logger/karma.conf.js
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/karma.conf.js
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/karma.conf.js
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-queue/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/template/template/package.json
  sdk/test-utils/recorder/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

moving lib to src for core-arm
  sdk/core/core-arm/package.json
  sdk/core/core-arm/rollup.config.js
  sdk/core/core-arm/src/azureServiceClient.ts
  sdk/core/core-arm/src/baseResource.ts
  sdk/core/core-arm/src/cloudError.ts
  sdk/core/core-arm/src/coreArm.ts
  sdk/core/core-arm/src/credentials/cognitiveServicesCredentials.ts
  sdk/core/core-arm/src/lroPollStrategy.ts
  sdk/core/core-arm/src/lroPoller.ts
  sdk/core/core-arm/src/shims.d.ts
  sdk/core/core-arm/src/util/constants.ts
  sdk/core/core-arm/test/azureServiceClientTests.ts
  sdk/core/core-arm/test/cloudErrorTests.ts
  sdk/core/core-arm/test/credentials/cognitiveServicesCredentialsTests.ts
  sdk/core/core-arm/test/lroPollStrategyTests.ts
  sdk/core/core-arm/tsconfig.json
Due: none

renamed lib to src for core-tracing
  sdk/core/core-tracing/api-extractor.json
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/rollup.base.config.js
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/tracerProxy.ts
  sdk/core/core-tracing/src/tracers/noop/noOpBinaryFormat.ts
  sdk/core/core-tracing/src/tracers/noop/noOpHttpTextFormat.ts
  sdk/core/core-tracing/src/tracers/noop/noOpSpan.ts
  sdk/core/core-tracing/src/tracers/noop/noOpTracer.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusTraceStateWrapper.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusTracerWrapper.ts
  sdk/core/core-tracing/src/tracers/test/testSpan.ts
  sdk/core/core-tracing/src/tracers/test/testTracer.ts
  sdk/core/core-tracing/src/utils/browser.d.ts
  sdk/core/core-tracing/src/utils/cache.ts
  sdk/core/core-tracing/src/utils/global.browser.ts
  sdk/core/core-tracing/src/utils/global.ts
  sdk/core/core-tracing/src/utils/traceParentHeader.ts
  sdk/core/core-tracing/test/traceParentHeader.spec.ts
Due: none

package.json lib to src
  sdk/core/core-http/package.json
Due: none

package.json lib to src
  sdk/core/core-tracing/package.json
Due: none

remove tpn
  sdk/core/core-tracing/ThirdPartyNotices.txt
  sdk/core/core-tracing/package.json
Due: none

undo core-http change
  sdk/core/core-http/package.json
Due: none

moving lib to src for core-arm (#7506)
  sdk/core/core-arm/package.json
  sdk/core/core-arm/rollup.config.js
  sdk/core/core-arm/src/azureServiceClient.ts
  sdk/core/core-arm/src/baseResource.ts
  sdk/core/core-arm/src/cloudError.ts
  sdk/core/core-arm/src/coreArm.ts
  sdk/core/core-arm/src/credentials/cognitiveServicesCredentials.ts
  sdk/core/core-arm/src/lroPollStrategy.ts
  sdk/core/core-arm/src/lroPoller.ts
  sdk/core/core-arm/src/shims.d.ts
  sdk/core/core-arm/src/util/constants.ts
  sdk/core/core-arm/test/azureServiceClientTests.ts
  sdk/core/core-arm/test/cloudErrorTests.ts
  sdk/core/core-arm/test/credentials/cognitiveServicesCredentialsTests.ts
  sdk/core/core-arm/test/lroPollStrategyTests.ts
  sdk/core/core-arm/tsconfig.json
Due: none

Generated from 6b46480ebd9b2f2c7220f2e9a9c6754dd524e2d1
  sdk/keyvault/arm-keyvault/LICENSE.txt
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/rollup.config.js
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClientContext.ts
  sdk/keyvault/arm-keyvault/src/models/index.ts
  sdk/keyvault/arm-keyvault/src/models/mappers.ts
  sdk/keyvault/arm-keyvault/src/models/parameters.ts
  sdk/keyvault/arm-keyvault/src/models/privateEndpointConnectionsMappers.ts
  sdk/keyvault/arm-keyvault/src/models/privateLinkResourcesMappers.ts
  sdk/keyvault/arm-keyvault/src/operations/index.ts
  sdk/keyvault/arm-keyvault/src/operations/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operations/privateLinkResources.ts
  sdk/keyvault/arm-keyvault/src/operations/vaults.ts
  sdk/keyvault/arm-keyvault/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

bug fixes in the tests
  sdk/test-utils/recorder/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

removing unrelated changes
  sdk/test-utils/recorder/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

nyc code coverage config for the recorder
  sdk/test-utils/recorder/.nycrc
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[storage][test] fetch next page until non-empty result array (#7293)
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_undelete.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_undelete.js
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
Due: none

fix queue's README
  sdk/storage/storage-queue/README.md
Due: none
