Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

This identity hotfix will release on the 5th.
  sdk/identity/identity/CHANGELOG.md
Due: none

[identity] 1.3.0 hotfix: Update to core-tracing 1.0.0-preview.11 #14649 (#14682)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/eslint-plugin-azure-sdk/package.json
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/mgmt-pr.yml
  eng/tools/rush-runner.js
  rush.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[mock-hub] adds shutdown event on mock server
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
Due: none

[Communication Chat] Fix missing return type linter errs
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

feedback and rework examples page
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
Due: none

remove unused links
  sdk/identity/identity/README.md
Due: none

Remove and ignore tsdoc-metadata.json (#14681)
  .gitignore
  sdk/core/core-rest-pipeline/tsdoc-metadata.json
Due: .azure-pipelines/js-mgmt-ci.yml

[Communication] Fix errs from linter rule no-useless-escape
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-identity/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update Perf Test Dependency
  sdk/search/perf-tests/search-documents/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Restore TOC - LGTM on VS Code, will see in GH how it looks
  sdk/identity/identity/samples/AzureIdentityExamples.md
Due: none

Backport fix for stronglyTypedRecognizedForm to samples/v3
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/src/stronglyTypingRecognizedForm.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Fix aka.ms links for FR data types
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/v3/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

SecretReference sample
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/sample.env
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update to latest swagger
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/operations/containerRegistryRepository.ts
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/containerregistry/container-registry/test/public/containerRepositoryClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

feature flag sample
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[event-hubs] add unit-test:node script using mock-hub
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/scripts/generateCerts.js
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventHubConsumerClientUnitTests.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/public/node/client.spec.ts
  sdk/eventhub/event-hubs/test/public/node/disconnects.spec.ts
  sdk/eventhub/event-hubs/test/public/receiver.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/mockService.browser.ts
  sdk/eventhub/event-hubs/test/public/utils/mockService.ts
  sdk/eventhub/event-hubs/test/public/utils/testUtils.ts
  sdk/eventhub/mock-hub/samples/javascript/src/ehSample.js
  sdk/eventhub/mock-hub/samples/typescript/src/ehSample.ts
  sdk/eventhub/mock-hub/src/index.ts
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
Due: none

run dev-tool samples publish --force command
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[Identity] - Add examples doc and update README (#14646)
  samples/frameworks/react/ts/src/utils/auth.ts
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Due: .azure-pipelines/js-mgmt-ci.yml

added links in readme
  sdk/appconfiguration/app-configuration/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

delete the samplesForApiReview file
  sdk/appconfiguration/app-configuration/test/samplesForApiReview.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Search Code Changes for April Release (#14620)
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/public/node/searchIndexerClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[Identity] Port Identity doc improvements to v1
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Due: none

[Identity] Port Identity doc improvements to v1 (#14687)
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Due: none

[Identity] Add pointer to examples upfront
  sdk/identity/identity/README.md
Due: none

Add types for orderby parameters
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples/javascript/containerRepositoryClient.js
  sdk/containerregistry/container-registry/samples/typescript/src/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/src/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/src/model.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Mark /** * @internal */
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/keyvaultReference.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

ours it is
  sdk/identity/identity/README.md
Due: none

API Report
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Remove old typescript samples
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/Form_1.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/Invoice_1.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/business-card-english.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/contoso-allinone.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/license.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/package.json
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/sample.env
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Use newer invoice sample document
  sdk/formrecognizer/ai-form-recognizer/assets/invoice/sample_invoice.jpg
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[Identity] Add pointer to examples upfront (#14688)
  sdk/identity/identity/README.md
Due: none

merge conflict changes
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/public/auth.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
Due: none

[App Config] FeatureFlag and SecretReference support (#14342)
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_get_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_update_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_list_and_update_multiple_featureflags.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_get_secretreference.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_update_secretreference.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_list_and_update_multiple_secretreferences.js
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/sample.env
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/jsonModels.ts
  sdk/appconfiguration/app-configuration/src/internal/typeguards.ts
  sdk/appconfiguration/app-configuration/src/keyvaultReference.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Rework samples and tag with metadata
  sdk/formrecognizer/ai-form-recognizer/samples-dev/authenticationMethods.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/createComposedModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/deleteAllModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/iteratorModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeBusinessCard.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeIdDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeInvoice.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/trainUnlabeledModel.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Added package.json metadata
  sdk/formrecognizer/ai-form-recognizer/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Fixed a tense inconsistency
  sdk/formrecognizer/ai-form-recognizer/samples-dev/authenticationMethods.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/deleteAllModels.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Add recording replacement for resource group id and registry name
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_functional_tests/recording_deletes_repository_of_given_name.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_functional_tests/recording_should_list_repositories.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_deletes_a_given_tag.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_sets_manifest_properties.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_sets_repository_properties.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_sets_tag_properties.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_list_registry_artifacts.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_list_registry_artifacts_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_list_tags.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_list_tags_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.js
  sdk/containerregistry/container-registry/recordings/node/containerrepositoryclient_functional_tests/recording_should_retrive_tag_properties.js
  sdk/containerregistry/container-registry/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/test/public/utils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

turn on unit tests
  sdk/eventhub/ci.yml
Due: none

[Identity] Error name alignment
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/browserFlows/browserCommon.ts
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/errors.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/src/tokenCache/TokenCachePersistence.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
