Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Make example in README more real
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove unnecessary test and public properties
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Inline `@inheritdoc`
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Use require() in README
  sdk/schemaregistry/schema-registry-avro/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove README boilerplate and exclude root README from doc rules
  eng/.docsettings.yml
  sdk/schemaregistry/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Make exports explicit
  sdk/schemaregistry/schema-registry-avro/src/index.ts
  sdk/schemaregistry/schema-registry/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add SCHEMA_REGISTRY_GROUP to sample.env
  sdk/schemaregistry/schema-registry-avro/samples/javascript/sample.env
  sdk/schemaregistry/schema-registry-avro/samples/typescript/sample.env
  sdk/schemaregistry/schema-registry/samples/javascript/sample.env
  sdk/schemaregistry/schema-registry/samples/typescript/sample.env
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Make deserialize generic
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/samples/typescript/src/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Make _response non-enumerable
  sdk/schemaregistry/schema-registry/src/conversions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Use more specific error types
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[service-bus, event-hubs] Allowing for a SAS key to be directly specified in a connection string. (#10951)
  sdk/core/core-amqp/src/auth/sas.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/test/auth.spec.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
Due: none

update version
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Grid] use 'beta' instead of 'preview'
  sdk/eventgrid/eventgrid/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix(digitaltwins): fix broken link
  sdk/digitaltwins/digitaltwins/samples/Readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Grid] Don't return RestResponse directly
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Grid] Add ci.yml
  sdk/eventgrid/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

rename BingId
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update changelog
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Grid] List supported browsers
  sdk/eventgrid/eventgrid/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Attempt to fix build
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
Due: none

Fix broken links
  eng/ignore-links.txt
  sdk/digitaltwins/digitaltwins/samples/Readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Attempt to fix build
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/test/public/deviceCodeCredential.spec.ts
Due: none

Attempt to fix build
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
Due: none

Test SharedKey signing
  sdk/tables/data-tables/test/unit/sharedKeyCredential.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove not needed recordings
  sdk/tables/data-tables/recordings/browsers/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_accountconnectionstring.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_accountkey.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_sasconnectionstringauth.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_sastoken.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_accountconnectionstring.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_accountkey.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_sasconnectionstringauth.json
  sdk/tables/data-tables/recordings/browsers/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_sastoken.json
  sdk/tables/data-tables/recordings/node/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_accountconnectionstring.js
  sdk/tables/data-tables/recordings/node/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_accountkey.js
  sdk/tables/data-tables/recordings/node/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_sasconnectionstringauth.js
  sdk/tables/data-tables/recordings/node/authentication_tableclient/recording_should_be_able_to_make_an_authenticated_call__using_sastoken.js
  sdk/tables/data-tables/recordings/node/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_accountconnectionstring.js
  sdk/tables/data-tables/recordings/node/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_accountkey.js
  sdk/tables/data-tables/recordings/node/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_sasconnectionstringauth.js
  sdk/tables/data-tables/recordings/node/authentication_tableserviceclient/recording_should_be_able_to_make_an_authenticated_call__using_sastoken.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove un-needed changes
  sdk/tables/data-tables/test/integration/authentication.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix broken links (#11016)
  eng/ignore-links.txt
  sdk/digitaltwins/digitaltwins/samples/Readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add changelog update for SAS in connection string
  sdk/eventhub/event-hubs/CHANGELOG.md
Due: none

chore(digitaltwins): update changelog
  sdk/digitaltwins/digitaltwins/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] Prep for 5.3.0 release (#10996)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

Fixing snippets in the event-hubs and eventhubs-checkpointstore-blob readme to match (and be correct and handle the `empty array` when the wait time expires).
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
Due: none

adding domain filter parameter
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

adding domain filter test
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

export PIIEntityDomainType
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixing some errors in our samples for checkpoint store and also handling receiving an empty array.
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
Due: none

Ensure smoke tests initialization outputs exception message (#10971)
  common/smoke-test/Initialize-SmokeTests.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add missing section in CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address feedback
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
Due: none

[Identity] Subject name/issuer (SNI) auth for identity (#10808)
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/azure-identity-chain-test.crt
  sdk/identity/identity/test/public/clientCertificateCredential.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
