Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

Address comments
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

Bring back missed changes to after moving BlobClients to BlobClient.ts (#5888)
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobClient.ts
Due: none

CODEOWNERS: Add `xirzec` to tracing and logger
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update API surface and test
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
Due: none

Update samples and docs for blobs
  sdk/storage/README.md
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.html
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.js
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.html
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads/largeFileUplaods.js
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads/largeFileUploads.html
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Queues samples and readme updates
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/samples/README.md
  sdk/storage/storage-queue/samples/browserSample.html
Due: none

Update docs
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.html
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.js
  sdk/storage/storage-blob/samples/browserSamples/largeFileUplaods.js
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads/largeFileUploads.html
Due: none

Update sample per feedback
  sdk/storage/storage-blob/samples/browserSamples/largeFileUplaods.js
Due: none

fix sample import
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads/largeFileUplaods.js
Due: none

Migrate basic sample
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.html
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.js
Due: none

remove superfluous script tag from basic sample
  sdk/storage/storage-blob/samples/browserSamples/basic/basic.html
Due: none

fix release dates in changelog and breaking changes
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
Due: none

Change GetTokenOptions to be based on OperationOptions
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/operationOptions.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-http/lib/policies/bearerTokenAuthenticationPolicy.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/environmentCredential.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
Due: none

Remove queue/topic name validation
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

CODEOWNERS: Add `xirzec` to tracing and logger (#5897)
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix additional spans that were not awaiting properly
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Responding to feedback.
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-lro/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/keyvault/keyvault-certificates/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Missed a dependency.
  sdk/core/core-lro/package.json
Due: none

Fix mock expectation
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
Due: none

x-ms-client-request-id
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
Due: none

Squashing hats.
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

fix file typo
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.js
Due: none

Fixing things so that you can specify "latest" and start at the latest point in a partition instead of the beginning. (defaults to beginning, however)
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
Due: none

if (!$["x-ms-client-request-id"]) , then add
  sdk/storage/storage-queue/swagger/README.md
Due: none

Point, underscored.
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
Due: none

sourceContentcrc64 -> sourceContentCrc64
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/appendBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/swagger/README.md
Due: none

Changing order of subscribe() function arguments around to place OnReceiveEvents first.
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
Due: none

Completely missed these needed to be await'd
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
Due: none

[keyvault] Rename exported key types to be consistent (#5891)
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
Due: none

Logic was flipped
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
Due: none

Remove browser bundles from storage packages (#5865)
  sdk/storage/README.md
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-blob/samples/browserSamples/basic.html
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.html
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.js
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/samples/README.md
  sdk/storage/storage-queue/samples/browserSample.html
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[core-auth] Change GetTokenOptions to be based on OperationOptions (#5899)
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/operationOptions.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-http/lib/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/environmentCredential.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
Due: none

Remove unneeded constructor
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
Due: none

Weirdest pluralization I've done in awhile...
  sdk/eventhub/event-hubs/src/eventProcessor.ts
Due: none

Do a little assignment to avoid the non null assertion
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
Due: none

Setting core and identity packages to 1.0.0 for GA! (#5877)
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

wip
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
Due: none

Added code snippet and basic docs to ChainedTokenCredential constructor.
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
Due: none

Unify constructors, fix fallout.
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
Due: none

removed an errant line in DeviceCodeCredential docs
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
Due: none
