Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

Update changelog and constants file
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/utils/constants.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Format
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Format
  sdk/synapse/synapse-artifacts/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Common versions
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml

Lint
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml

update docsettings.yml to reflect updated issues
  eng/.docsettings.yml
Due: .azure-pipelines/js-mgmt-ci.yml

[Communication Chat] Fix missing return type linter errs (#14683)
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[Communication] Fix errs from linter rule no-useless-escape (#14685)
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-identity/test/utils/recordedClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Remove TODO comments that do not have an action item
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
Due: none

Remove empty line
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
Due: none

Move ApiVersion to options bag
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

remote failed local calls if possible
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
Due: none

Update readme.md to use @azure/identity for authentication
  sdk/digitaltwins/digital-twins-core/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
Due: none

address comments
  sdk/communication/communication-phone-numbers/test/lro.purchaseAndRelease.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

bug fix - changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Update sdk/communication/communication-phone-numbers/test.env
  sdk/communication/communication-phone-numbers/test.env
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/package.json
Due: none

Update sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[service-bus] AdminClient: ForwardTo wasn't applying on update due to bad property ordering in XML (#14692)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Due: none

Update sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/package.json
Due: none

Update sdk/test-utils/multi-version/package.json
  sdk/test-utils/multi-version/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-internal-avro/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

review feedback
  sdk/digitaltwins/digital-twins-core/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

fix changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

cleanup
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
Due: none

Update version number
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Due: none

Update sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

[Service Bus] Porting 14692 to the patch version (#14720)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Due: none

add next steps section to address ci failure
  sdk/digitaltwins/digital-twins-core/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Update sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/package.json
Due: none

[ai-form-recognizer] Doc improvements.
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

addressed feedback
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeBusinessCard.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeIdDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeInvoice.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/recognizeBusinessCard.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/recognizeIdDocument.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/recognizeInvoice.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/recognizeBusinessCard.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/recognizeIdDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/recognizeInvoice.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3-beta/typescript/src/stronglyTypingRecognizedForm.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[autorest] updating autorest to point to readme
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-identity/src/generated/src/models/index.ts
  sdk/communication/communication-identity/src/generated/src/models/mappers.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-sms/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[autorest] clean up formatting
  sdk/communication/communication-chat/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

fixup! cleanup
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
Due: none

update clean commands
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-http/package.json
  sdk/identity/identity/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/storage/perf-tests/storage-file-share-track-1/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
