Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

[core-amqp] remove stream-browserify dependency
  sdk/core/core-amqp/package.json
Due: none

[ai-form-recognizer] Final GA consistency changes (#10386)
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/authenticationMethods.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/copyModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/iteratorModels.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainUnlabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/iteratorModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/parameters.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix(digitaltwins): auth fix and samples
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_component_lifecycle.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_create_digitaltwins_service_client.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_digitaltwin_get.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_digitaltwins_lifecycle.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_digitaltwins_query.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_event_routes_list.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_incoming_relationships_list.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_models_lifecycle.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_models_list.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_publish_telemetry.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_relationships_list.js
  sdk/digitaltwins/digitaltwins/samples/javascript/dt_scenario.js
  sdk/digitaltwins/digitaltwins/src/digitalTwinsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Identity] Renamed the VSCodeCredential to VisualStudioCodeCredential (#10419)
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.browser.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/index.ts
Due: none

Add generated schema registry client (#10336)
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/schemaregistry/ci.yml
  sdk/schemaregistry/schema-registry/.eslintrc.json
  sdk/schemaregistry/schema-registry/.nycrc
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/LICENSE
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/api-extractor.json
  sdk/schemaregistry/schema-registry/karma.conf.js
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/rollup.base.config.js
  sdk/schemaregistry/schema-registry/rollup.config.js
  sdk/schemaregistry/schema-registry/rollup.test.config.js
  sdk/schemaregistry/schema-registry/sample.env
  sdk/schemaregistry/schema-registry/samples/javascript/README.md
  sdk/schemaregistry/schema-registry/samples/javascript/package.json
  sdk/schemaregistry/schema-registry/samples/javascript/sample.env
  sdk/schemaregistry/schema-registry/samples/javascript/schemaRegistrySample.js
  sdk/schemaregistry/schema-registry/samples/tsconfig.json
  sdk/schemaregistry/schema-registry/samples/typescript/README.md
  sdk/schemaregistry/schema-registry/samples/typescript/package.json
  sdk/schemaregistry/schema-registry/samples/typescript/sample.env
  sdk/schemaregistry/schema-registry/samples/typescript/src/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/samples/typescript/tsconfig.json
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/index.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/schemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/src/index.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/browser/schemaRegistry.browser.spec.ts
  sdk/schemaregistry/schema-registry/test/node/schemaRegistry.node.spec.ts
  sdk/schemaregistry/schema-registry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] `CreateEntityOptions` and restricted `EntityResponse` (#10049)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Due: none

renamed the VisualStudioCodeCredential test file
  sdk/identity/identity/test/node/visualStudioCodeCredential.spec.ts
Due: none

Update to 0.10.2
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

span.kind need not be cast to string
  sdk/monitor/opentelemetry-exporter/src/utils/spanUtils.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove exception for monitor
  common/config/rush/common-versions.json
  sdk/monitor/opentelemetry-exporter/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from c307faa1f96e19d7598b4030b9e5382ac7308e5d
  sdk/cdn/arm-cdn/LICENSE.txt
  sdk/cdn/arm-cdn/README.md
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/rollup.config.js
  sdk/cdn/arm-cdn/src/cdnManagementClient.ts
  sdk/cdn/arm-cdn/src/cdnManagementClientContext.ts
  sdk/cdn/arm-cdn/src/models/customDomainsMappers.ts
  sdk/cdn/arm-cdn/src/models/endpointsMappers.ts
  sdk/cdn/arm-cdn/src/models/index.ts
  sdk/cdn/arm-cdn/src/models/managedRuleSetsMappers.ts
  sdk/cdn/arm-cdn/src/models/mappers.ts
  sdk/cdn/arm-cdn/src/models/originGroupsMappers.ts
  sdk/cdn/arm-cdn/src/models/originsMappers.ts
  sdk/cdn/arm-cdn/src/models/parameters.ts
  sdk/cdn/arm-cdn/src/models/policiesMappers.ts
  sdk/cdn/arm-cdn/src/models/profilesMappers.ts
  sdk/cdn/arm-cdn/src/operations/endpoints.ts
  sdk/cdn/arm-cdn/src/operations/index.ts
  sdk/cdn/arm-cdn/src/operations/managedRuleSets.ts
  sdk/cdn/arm-cdn/src/operations/originGroups.ts
  sdk/cdn/arm-cdn/src/operations/policies.ts
  sdk/cdn/arm-cdn/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release-for-mgmt-marketplaceordering
  sdk/marketplaceordering/arm-marketplaceordering/LICENSE.txt
  sdk/marketplaceordering/arm-marketplaceordering/README.md
  sdk/marketplaceordering/arm-marketplaceordering/package.json
  sdk/marketplaceordering/arm-marketplaceordering/rollup.config.js
  sdk/marketplaceordering/arm-marketplaceordering/src/marketplaceOrderingAgreementsContext.ts
  sdk/marketplaceordering/arm-marketplaceordering/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

version bump
  sdk/marketplaceordering/arm-marketplaceordering/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release-for-mgmt-marketplaceordering (#10428)
  sdk/marketplaceordering/arm-marketplaceordering/LICENSE.txt
  sdk/marketplaceordering/arm-marketplaceordering/README.md
  sdk/marketplaceordering/arm-marketplaceordering/package.json
  sdk/marketplaceordering/arm-marketplaceordering/rollup.config.js
  sdk/marketplaceordering/arm-marketplaceordering/src/marketplaceOrderingAgreementsContext.ts
  sdk/marketplaceordering/arm-marketplaceordering/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add a summary of examples
  sdk/formrecognizer/ai-form-recognizer/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add a summary of examples
  sdk/storage/storage-blob/README.md
Due: none

Modify storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Modify storage-file-share/README.md
  sdk/storage/storage-file-share/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Modify changefeed README.md and typescript sample
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob-changefeed/samples/typescript/resume.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[eventhubs-checkpointstore-blob] update api-specific storage-blob sample (#10424)
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/apiSpecificContainerClient.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/createCustomPipeline.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/apiSpecificContainerClient.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/createCustomPipeline.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
Due: none

[Cosmos] Fix API documentation in code (#10412)
  sdk/cosmosdb/cosmos/src/retry/resourceThrottleRetryPolicy.ts
Due: none

[arm-authorization] Update sample imports to work with JS (#10356)
  sdk/authorization/arm-authorization/README.md
  sdk/authorization/arm-authorization/package.json
  sdk/authorization/arm-authorization/src/authorizationManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Release arm reservations (#10064)
  sdk/reservations/arm-reservations/LICENSE.txt
  sdk/reservations/arm-reservations/README.md
  sdk/reservations/arm-reservations/package.json
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
  sdk/reservations/arm-reservations/src/azureReservationAPIContext.ts
  sdk/reservations/arm-reservations/src/models/autoQuotaIncreaseMappers.ts
  sdk/reservations/arm-reservations/src/models/index.ts
  sdk/reservations/arm-reservations/src/models/mappers.ts
  sdk/reservations/arm-reservations/src/models/parameters.ts
  sdk/reservations/arm-reservations/src/models/quotaMappers.ts
  sdk/reservations/arm-reservations/src/models/quotaRequestStatusMappers.ts
  sdk/reservations/arm-reservations/src/models/reservationOrderMappers.ts
  sdk/reservations/arm-reservations/src/operations/autoQuotaIncrease.ts
  sdk/reservations/arm-reservations/src/operations/index.ts
  sdk/reservations/arm-reservations/src/operations/operation.ts
  sdk/reservations/arm-reservations/src/operations/quota.ts
  sdk/reservations/arm-reservations/src/operations/quotaRequestStatus.ts
  sdk/reservations/arm-reservations/src/operations/reservation.ts
  sdk/reservations/arm-reservations/src/operations/reservationOrder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

ignore api.md files
  .prettierignore
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix failing tests
  sdk/eventhub/event-hubs/test/diagnostics/messageSpan.spec.ts
Due: none

add changelog notes
  sdk/eventhub/event-hubs/CHANGELOG.md
Due: none

adding ignore-path parameter to the check-format and format scripts in keyvault-admin
  sdk/keyvault/keyvault-admin/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository (#10365)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[EventHubs][DistributedTracing] add destination and peer.address attributes (#10389)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/diagnostics/messageSpan.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/test/diagnostics/messageSpan.spec.ts
Due: none

updates to the release!
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[test,recorder] Change to target es5
  sdk/test-utils/recorder/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

monitor: add to codeowners
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

Update @opentelemetry/api to latest version (#10393)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/monitor/opentelemetry-exporter/package.json
  sdk/monitor/opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-core-amqp
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Due: none

[core] update changelog for august release
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
Due: none

[core-amqp] remove stream-browserify dependency (#10425)
  sdk/core/core-amqp/package.json
Due: none

Bump core-http version
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

Fix parented tracing span in search API
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/searchClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
