Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

re-enable pipeline validation on PR
  sdk/tables/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address PR comments
  sdk/tables/azure-tables/samples/javascript/package.json
  sdk/tables/azure-tables/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add javascript samples
  sdk/tables/azure-tables/samples/javascript/connectionString.js
  sdk/tables/azure-tables/samples/javascript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add url to externalNodeBuiltins
  sdk/tables/azure-tables/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Support SharedKeyCredential
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/samples/typescript/src/sasToken.ts
  sdk/tables/azure-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/azure-tables/src/ShredKeyCredential.browser.ts
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address PR comments
  sdk/tables/azure-tables/samples/javascript/package.json
  sdk/tables/azure-tables/samples/javascript/src/sharedKey.js
  sdk/tables/azure-tables/samples/typescript/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename ShareKeyCredential to TablesSharedKeyCredential
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/samples/javascript/src/connectionString.js
  sdk/tables/azure-tables/samples/javascript/src/sasToken.js
  sdk/tables/azure-tables/samples/javascript/src/shardKey.js
  sdk/tables/azure-tables/samples/javascript/test.env
  sdk/tables/azure-tables/samples/typescript/test.env
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/azure-tables/src/TablesShredKeyCredential.browser.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/utils/fromAccountConnectionString.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-xml] Create `@azure/core-xml` (#10307)
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-xml/.eslintrc.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/LICENSE
  sdk/core/core-xml/README.md
  sdk/core/core-xml/api-extractor.json
  sdk/core/core-xml/karma.conf.js
  sdk/core/core-xml/package.json
  sdk/core/core-xml/review/core-xml.api.md
  sdk/core/core-xml/rollup.base.config.js
  sdk/core/core-xml/rollup.config.js
  sdk/core/core-xml/rollup.test.config.js
  sdk/core/core-xml/samples/.gitkeep
  sdk/core/core-xml/src/index.ts
  sdk/core/core-xml/src/xml.browser.ts
  sdk/core/core-xml/src/xml.ts
  sdk/core/core-xml/test/xml.spec.ts
  sdk/core/core-xml/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix file name TablesShredKeyCredential
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.browser.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

chore(digitaltwins): add unit tests
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/digitaltwins/digitaltwins/.eslintrc.json
  sdk/digitaltwins/digitaltwins/.vscode/launch.json
  sdk/digitaltwins/digitaltwins/LICENSE.txt
  sdk/digitaltwins/digitaltwins/README.md
  sdk/digitaltwins/digitaltwins/api-extractor.json
  sdk/digitaltwins/digitaltwins/package.json
  sdk/digitaltwins/digitaltwins/review/digitaltwins.api.md
  sdk/digitaltwins/digitaltwins/rollup.base.config.js
  sdk/digitaltwins/digitaltwins/rollup.test.config.js
  sdk/digitaltwins/digitaltwins/src/digitalTwinsClient.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/eventRoutes.ts
  sdk/digitaltwins/digitaltwins/src/index.ts
  sdk/digitaltwins/digitaltwins/test/README.md
  sdk/digitaltwins/digitaltwins/test/digitalTwinsClient.spec.ts
  sdk/digitaltwins/digitaltwins/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Trigger template PR run from changes to common
  sdk/template/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Tables] Create clients from connectionString (#10292)
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/rollup.base.config.js
  sdk/tables/azure-tables/samples/javascript/package.json
  sdk/tables/azure-tables/samples/javascript/src/connectionString.js
  sdk/tables/azure-tables/samples/javascript/src/sasToken.js
  sdk/tables/azure-tables/samples/javascript/src/sharedKey.js
  sdk/tables/azure-tables/samples/javascript/test.env
  sdk/tables/azure-tables/samples/typescript/package.json
  sdk/tables/azure-tables/samples/typescript/src/connectionString.ts
  sdk/tables/azure-tables/samples/typescript/src/sasToken.ts
  sdk/tables/azure-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/azure-tables/samples/typescript/test.env
  sdk/tables/azure-tables/samples/typescript/tsconfig.json
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/utils/connectionString.ts
  sdk/tables/azure-tables/src/utils/constants.ts
  sdk/tables/azure-tables/src/utils/fromAccountConnectionString.browser.ts
  sdk/tables/azure-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/azure-tables/src/utils/url.browser.ts
  sdk/tables/azure-tables/src/utils/url.ts
  sdk/tables/azure-tables/test/utils.spec.ts
  sdk/tables/azure-tables/tsconfig.json
  sdk/tables/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 914ce833d84e1f55bb78aacf37dd5468f06da6dc
  sdk/appplatform/arm-appplatform/LICENSE.txt
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/rollup.config.js
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/operationsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/skuOperationsMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/certificates.ts
  sdk/appplatform/arm-appplatform/src/operations/customDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/src/operations/skuOperations.ts
  sdk/appplatform/arm-appplatform/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 284f696f9afa6c4f80e9efab308e2330247efeac
  sdk/datafactory/arm-datafactory/src/models/dataFlowDebugSessionMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/datasetsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/factoriesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/linkedServicesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/models/pipelinesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/triggersMappers.ts
  sdk/datafactory/arm-datafactory/src/operations/dataFlowDebugSession.ts
  sdk/datafactory/arm-datafactory/src/operations/triggerRuns.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault Keys] testing RSA-HSM operations
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_rsahsm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_sign_and_verify_with_rs256_through_an_rsahrm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_wrap_and_unwrap_with_rsaoaep_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely_working_with_hsm_keys/recording_encrypt__decrypt_with_rsahsm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely_working_with_hsm_keys/recording_wrap_and_unwrap_with_rsaoaep_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
  sdk/keyvault/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] Move contentType from parameters to options bag
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] Remove expirationDateTimeTicks
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

missing tests and recordings
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_an_rsahsm_key_and_the_rsa1_5_algorithm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_an_rsahsm_key_and_the_rsaoaep_algorithm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_sign_and_verify_with_rs384_through_an_rsahrm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_wrap_and_unwrap_with_rsa1_5_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
Due: none

[ai-form-recognizer] CustomFormField -> CustomFormModelField, replaced most string indexers with Record
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Changes Array JSONArray type to ArrayLike
  sdk/cosmosdb/cosmos/src/queryExecutionContext/SqlQuerySpec.ts
Due: none

[ai-form-recognizer] Made defaultable fields of FormTableCell non-optional
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds cosmos build changes
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Due: none

[ai-form-recognizer] remove containingLine
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fixed to use ApiKeyCredentials
  sdk/cognitiveservices/cognitiveservices-customvision-training/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] documentName -> name
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/parameters.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] SubFolder -> subFolder
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/parameters.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove non-basic storage examples
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/README.md
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/advanced.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/anonymousCred.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/azureAdAuth.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/customPipeline.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/customizedClientHeaders.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/errorsAndResponses.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/iterators-blobs-hierarchy.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/iterators-blobs.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/iterators-containers.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/iterators-without-await.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/proxyAuth.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/readingSnapshot.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/sharedKeyCred.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/withConnString.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/README.md
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/advanced.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/anonymousCred.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/azureAdAuth.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/customPipeline.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/customizedClientHeaders.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/errorsAndResponses.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/iterators-blobs-hierarchy.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/iterators-blobs.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/iterators-containers.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/iterators-without-await.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/proxyAuth.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/readingSnapshot.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/sharedKeyCred.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/withConnString.ts
  sdk/monitor/opentelemetry-exporter/samples/basic-tracer-node/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[ai-form-recognizer] Added pageNumber to table types
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add manual root span example
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/README.md
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/basic.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/tracing.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

version bump
  sdk/cognitiveservices/cognitiveservices-customvision-training/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/trainingAPIClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix CustomVision Prediction Example to use ApiKeyCredentials
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/README.md
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/src/predictionAPIClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Samples fixup
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds changelog entry for array type change
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

[eventhubs-checkpointstore-blob] prepare for 1.0.1 release
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Due: none

Destructure requires
  sdk/authorization/arm-authorization/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add sample gantt chart
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/README.md
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/images/storage.png
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/javascript/basic.js
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/package.json
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/basic.ts
  sdk/monitor/opentelemetry-exporter/samples/@azure/storage-blob/typescript/src/tracing.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[eventhubs-checkpointstore-blob] prepare for 1.0.1 release (#10373)
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Due: none

Use sinon to mock NodeFetchHttpClient.fetch
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
Due: none

Debug date type support for SQLParam
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

chore(digitaltwins): check in for investigation
  sdk/digitaltwins/digitaltwins/src/digitalTwinsClient.ts
  sdk/digitaltwins/digitaltwins/src/generated/azureDigitalTwinsAPI.ts
  sdk/digitaltwins/digitaltwins/src/generated/azureDigitalTwinsAPIContext.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/digitalTwinModelsMappers.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/digitalTwinsMappers.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/eventRoutesMappers.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/index.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/mappers.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/parameters.ts
  sdk/digitaltwins/digitaltwins/src/generated/models/queryMappers.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/digitalTwinModels.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/digitalTwins.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/eventRoutes.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/index.ts
  sdk/digitaltwins/digitaltwins/src/generated/operations/query.ts
  sdk/digitaltwins/digitaltwins/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
