Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Run link verification step at CI/Manual
  eng/pipelines/templates/steps/analyze.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Upgrade arm-batch to match latest swagger spec. (#11825)
  sdk/batch/arm-batch/LICENSE.txt
  sdk/batch/arm-batch/README.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/rollup.config.js
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/batch/arm-batch/src/batchManagementClientContext.ts
  sdk/batch/arm-batch/src/models/applicationOperationsMappers.ts
  sdk/batch/arm-batch/src/models/applicationPackageOperationsMappers.ts
  sdk/batch/arm-batch/src/models/certificateOperationsMappers.ts
  sdk/batch/arm-batch/src/models/index.ts
  sdk/batch/arm-batch/src/models/locationMappers.ts
  sdk/batch/arm-batch/src/models/mappers.ts
  sdk/batch/arm-batch/src/models/operationsMappers.ts
  sdk/batch/arm-batch/src/models/parameters.ts
  sdk/batch/arm-batch/src/models/poolOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateEndpointConnectionOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateLinkResourceOperationsMappers.ts
  sdk/batch/arm-batch/src/operations/applicationOperations.ts
  sdk/batch/arm-batch/src/operations/applicationPackageOperations.ts
  sdk/batch/arm-batch/src/operations/batchAccountOperations.ts
  sdk/batch/arm-batch/src/operations/certificateOperations.ts
  sdk/batch/arm-batch/src/operations/index.ts
  sdk/batch/arm-batch/src/operations/poolOperations.ts
  sdk/batch/arm-batch/src/operations/privateEndpointConnectionOperations.ts
  sdk/batch/arm-batch/src/operations/privateLinkResourceOperations.ts
  sdk/batch/arm-batch/test/batchManagementClient.spec.ts
  sdk/batch/arm-batch/test/sample.env
  sdk/batch/arm-batch/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Allow auto publish for batch libraries
  sdk/batch/arm-batch/package.json
  sdk/batch/batch/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Allow auto publish for batch libraries (#11996)
  sdk/batch/arm-batch/package.json
  sdk/batch/batch/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Servicebus] ServiceBusSessionReceiverOptions.maxAutoRenewLockDurationInMs renamed
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Due: none

[servicebus]scheduleMessages method swap enqueedTime and messages order (#11994)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

[Service Bus] Move settlement & renewLock methods from message to receiver (#11962)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/connectionStringUtils.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

docs(CHANGELOG): adding changes
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Exclude eng directory from npm ci/pr gates (#11972)
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/mgmt-pr.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

enable min-max tests
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Switch from testpipeline variable to parameters
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build.yml
  sdk/template/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

✨`T` -> `T extends object` constraint
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Due: none

Run link verification step at CI/Manual (#11997)
  eng/pipelines/templates/steps/analyze.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

changelog 👓
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

API Report
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

fix(service-bus): removing namespaceType from NamespaceProperties (#11995)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

chore(azure-digital-twins-core): update changelog
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update New-TestResources.ps1 parameter documentation to match defaults (#11971)
  eng/common/TestResources/New-TestResources.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fixed the tests, and added a test for the Arc MSI
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add the api-learn pipeline for tutorial.
  sdk/api-learn/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

implement first service method
  sdk/api-learn/implementation-tutorial/review/implementation-tutorial.api.md
  sdk/api-learn/implementation-tutorial/src/configurationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update logs - onDetached
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

small lint fix
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
Due: none

update pnpm-lock
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

First test - just making sure the retry loop completely delegates control to retry<T> (which delegates it's behavior to the combination of the retryOptions and the operation).
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

Added in tests for the forever loop part (not yet testing the internal operation)
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

fix broken links in README
  sdk/api-learn/design-tutorial/README.md
  sdk/api-learn/implementation-tutorial/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix create-pull-request bug (#12001)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

log numbers too
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

Switch from testpipeline variable to parameters (#11986)
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build.yml
  sdk/template/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix broken links in README for real
  sdk/api-learn/design-tutorial/README.md
  sdk/api-learn/implementation-tutorial/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed an outright bug when I moved over the StreamingReceiver.create code over - I forgot to assign the this._streamingReceiver! Yikes, glad I had a test... :)
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
Due: none

[Service Bus] Generic types for `Response`s for a cleaner API surface (#10491)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Due: none

Whitespace change to trigger pipelines.
  sdk/api-learn/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

chore(azure-digital-twins-core): comment changelog
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

chore(azure-digital-twins-core): more comment
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fabric implementation
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
Due: none

Remove overloads
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
