Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Generated from e6fe8982616bc5219be3f69b2486aa9cb00d6cf2
  sdk/eventhub/arm-eventhub/LICENSE.txt
  sdk/eventhub/arm-eventhub/README.md
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/rollup.config.js
  sdk/eventhub/arm-eventhub/src/models/index.ts
  sdk/eventhub/arm-eventhub/src/models/mappers.ts
  sdk/eventhub/arm-eventhub/src/models/namespacesMappers.ts
  sdk/eventhub/arm-eventhub/src/models/parameters.ts
  sdk/eventhub/arm-eventhub/src/operations/eventHubs.ts
  sdk/eventhub/arm-eventhub/src/operations/namespaces.ts
  sdk/eventhub/arm-eventhub/tsconfig.json
Due: none

[Storage] Name properties on clients should support parsing more types of URLs - storage-blob (#6753)
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_verify_blobname_and_containername_passed_to_the_client.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_verify_containername_passed_to_the_client.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_verify_blobname_and_containername_passed_to_the_client.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_verify_containername_passed_to_the_client.js
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update changelog
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 14f40d11c3c6df2ef9358debb1c205671f5bc7d0
  sdk/healthcareapis/arm-healthcareapis/LICENSE.txt
  sdk/healthcareapis/arm-healthcareapis/README.md
  sdk/healthcareapis/arm-healthcareapis/package.json
  sdk/healthcareapis/arm-healthcareapis/rollup.config.js
  sdk/healthcareapis/arm-healthcareapis/src/healthcareApisManagementClient.ts
  sdk/healthcareapis/arm-healthcareapis/src/healthcareApisManagementClientContext.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/index.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/mappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/operationResultsMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/operationsMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/parameters.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/servicesMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/index.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/operationResults.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/operations.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/services.ts
  sdk/healthcareapis/arm-healthcareapis/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md
  sdk/storage/storage-blob/CHANGELOG.md
Due: none

Update CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: none

[Storage] Update Changelog (#6836)
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix #6740: list shares may return empty shareItems (#6752)
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Storage] improve CHANGELOG entry for PR# 6657
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] Removed checkpointstore sample and reference it instead (#6763)
  sdk/eventhub/event-hubs/samples/javascript/README.md
  sdk/eventhub/event-hubs/samples/javascript/package.json
  sdk/eventhub/event-hubs/samples/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/event-hubs/samples/javascript/sample.env
  sdk/eventhub/event-hubs/samples/typescript/README.md
  sdk/eventhub/event-hubs/samples/typescript/package.json
  sdk/eventhub/event-hubs/samples/typescript/sample.env
  sdk/eventhub/event-hubs/samples/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/receiveEventsUsingCheckpointStore.js
Due: none

Add docs to changelog about removal of partitionKey option
  sdk/cosmosdb/cosmos/CHANGELOG.md
Due: none

[Service Bus] [Event Hubs] Fix code coverage for node tests (#6744)
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/.nycrc
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/.nycrc
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/servicebus/service-bus/.nycrc
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/utils/aadUtils.ts
Due: none

No unused locals in tests
  sdk/cosmosdb/cosmos/test/common/MockClientContext.ts
  sdk/cosmosdb/cosmos/test/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/functional/authorization.spec.ts
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/functional/offer.spec.ts
  sdk/cosmosdb/cosmos/test/functional/permission.spec.ts
  sdk/cosmosdb/cosmos/test/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/functional/trigger.spec.ts
  sdk/cosmosdb/cosmos/test/functional/udf.spec.ts
  sdk/cosmosdb/cosmos/test/functional/user.spec.ts
  sdk/cosmosdb/cosmos/test/integration/changeFeed.spec.ts
  sdk/cosmosdb/cosmos/test/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/test/integration/failover.spec.ts
  sdk/cosmosdb/cosmos/test/integration/queryMetrics.spec.ts
  sdk/cosmosdb/cosmos/test/integration/retry.spec.ts
  sdk/cosmosdb/cosmos/test/integration/session.spec.ts
  sdk/cosmosdb/cosmos/test/tsconfig.json
  sdk/cosmosdb/cosmos/test/unit/defaultQueryExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/unit/inMemoryCollectionRoutingMap.spec.ts
  sdk/cosmosdb/cosmos/test/unit/smartRoutingMapProvider.spec.ts
Due: none

Update TextAnalytics README with key concepts (#6671)
  sdk/textanalytics/cognitiveservices-textanalytics/README.md
  sdk/textanalytics/cognitiveservices-textanalytics/review/cognitiveservices-textanalytics.api.md
  sdk/textanalytics/cognitiveservices-textanalytics/src/index.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add more fixes so staging sign off build works
  sdk/cosmosdb/cosmos/__snapshots__/groupBy.spec.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/functional/trigger.spec.ts
  sdk/cosmosdb/cosmos/test/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/test/integration/sslVerification.spec.ts
Due: none

Rename package
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/textanalytics/ai-textanalytics/package.json
  sdk/textanalytics/ai-textanalytics/review/ai-textanalytics.api.md
  sdk/textanalytics/ai-textanalytics/samples/analyzeSentiment.ts
  sdk/textanalytics/ai-textanalytics/samples/detectLanguages.ts
  sdk/textanalytics/ai-textanalytics/samples/extractKeyPhrases.ts
  sdk/textanalytics/ai-textanalytics/samples/recognizeEntities.ts
  sdk/textanalytics/ai-textanalytics/samples/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-textanalytics/samples/recognizePii.ts
  sdk/textanalytics/ai-textanalytics/samples/tokenAuth.ts
  sdk/textanalytics/ai-textanalytics/src/constants.ts
  sdk/textanalytics/ai-textanalytics/src/generated/textAnalyticsClientContext.ts
  sdk/textanalytics/ai-textanalytics/src/logger.ts
  sdk/textanalytics/ai-textanalytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixup ci.yml
  sdk/textanalytics/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix package name in more places
  sdk/textanalytics/ai-textanalytics/README.md
  sdk/textanalytics/ai-textanalytics/api-extractor.json
  sdk/textanalytics/ai-textanalytics/package.json
  sdk/textanalytics/ai-textanalytics/rollup.base.config.js
  sdk/textanalytics/ai-textanalytics/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CHANGELOG
  sdk/textanalytics/ai-textanalytics/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Cosmos] No unused locals in tests (#6848)
  sdk/cosmosdb/cosmos/__snapshots__/groupBy.spec.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/common/MockClientContext.ts
  sdk/cosmosdb/cosmos/test/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/functional/authorization.spec.ts
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/functional/offer.spec.ts
  sdk/cosmosdb/cosmos/test/functional/permission.spec.ts
  sdk/cosmosdb/cosmos/test/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/functional/trigger.spec.ts
  sdk/cosmosdb/cosmos/test/functional/udf.spec.ts
  sdk/cosmosdb/cosmos/test/functional/user.spec.ts
  sdk/cosmosdb/cosmos/test/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/integration/changeFeed.spec.ts
  sdk/cosmosdb/cosmos/test/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/test/integration/failover.spec.ts
  sdk/cosmosdb/cosmos/test/integration/queryMetrics.spec.ts
  sdk/cosmosdb/cosmos/test/integration/retry.spec.ts
  sdk/cosmosdb/cosmos/test/integration/session.spec.ts
  sdk/cosmosdb/cosmos/test/integration/sslVerification.spec.ts
  sdk/cosmosdb/cosmos/test/tsconfig.json
  sdk/cosmosdb/cosmos/test/unit/defaultQueryExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/unit/inMemoryCollectionRoutingMap.spec.ts
  sdk/cosmosdb/cosmos/test/unit/smartRoutingMapProvider.spec.ts
Due: none

[service-bus] samples: flattened folder hierarchy
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/interactiveLogin.js
  sdk/servicebus/service-bus/samples/javascript/loginWithAzureAccount.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/interactiveLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/loginWithAzureAccount.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
Due: none

[service-bus] samples: use shared prep-samples
  sdk/servicebus/service-bus/.scripts/prepSamples.js
  sdk/servicebus/service-bus/package.json
Due: none

Generated from 603e84ed7dace496122d8b6a24b0d7147ff9ac5e
  sdk/iothub/arm-iothub/LICENSE.txt
  sdk/iothub/arm-iothub/README.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/rollup.config.js
  sdk/iothub/arm-iothub/src/iotHubClientContext.ts
  sdk/iothub/arm-iothub/src/models/certificatesMappers.ts
  sdk/iothub/arm-iothub/src/models/index.ts
  sdk/iothub/arm-iothub/src/models/iotHubResourceMappers.ts
  sdk/iothub/arm-iothub/src/models/mappers.ts
  sdk/iothub/arm-iothub/src/operations/iotHub.ts
  sdk/iothub/arm-iothub/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[event-hubs] prepare for ga release
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

Increment package version after release of azure-core-amqp
  sdk/core/core-amqp/package.json
Due: none

Revert unwanted changes
  sdk/storage/storage-blob/review/storage-blob.api.md
Due: none

Make partitionKey optional, clarify verbiage
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
Due: none

[service-bus] ts-samples: updated
  sdk/servicebus/service-bus/samples/typescript/package.json
  sdk/servicebus/service-bus/samples/typescript/sample.env
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/interactiveLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/loginWithAzureAccount.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/tsconfig.json
Due: none

update eventhubs-checkpointstore-blob
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Due: none

[Cosmos] Make partitionKey optional, clarify verbiage (#6855)
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
Due: none

update checkpointstore changelog
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Due: none

changelog updates
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Due: none

[event-hubs] Prepare for version 5.0.0 release (#6852)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
