Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Generated from 1b5edee19d240ffefbc58c741738fd88d138c821
  sdk/postgresql/arm-postgresql/LICENSE.txt
  sdk/postgresql/arm-postgresql/README.md
  sdk/postgresql/arm-postgresql/package.json
  sdk/postgresql/arm-postgresql/rollup.config.js
  sdk/postgresql/arm-postgresql/src/models/configurationsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/databasesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/firewallRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/index.ts
  sdk/postgresql/arm-postgresql/src/models/mappers.ts
  sdk/postgresql/arm-postgresql/src/models/parameters.ts
  sdk/postgresql/arm-postgresql/src/models/privateEndpointConnectionsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/privateLinkResourcesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/replicasMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverAdministratorsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverKeysMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverSecurityAlertPoliciesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serversMappers.ts
  sdk/postgresql/arm-postgresql/src/models/virtualNetworkRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/operations/checkNameAvailability.ts
  sdk/postgresql/arm-postgresql/src/operations/configurations.ts
  sdk/postgresql/arm-postgresql/src/operations/databases.ts
  sdk/postgresql/arm-postgresql/src/operations/firewallRules.ts
  sdk/postgresql/arm-postgresql/src/operations/index.ts
  sdk/postgresql/arm-postgresql/src/operations/locationBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/logFiles.ts
  sdk/postgresql/arm-postgresql/src/operations/operations.ts
  sdk/postgresql/arm-postgresql/src/operations/privateEndpointConnections.ts
  sdk/postgresql/arm-postgresql/src/operations/privateLinkResources.ts
  sdk/postgresql/arm-postgresql/src/operations/replicas.ts
  sdk/postgresql/arm-postgresql/src/operations/serverAdministrators.ts
  sdk/postgresql/arm-postgresql/src/operations/serverKeys.ts
  sdk/postgresql/arm-postgresql/src/operations/serverSecurityAlertPolicies.ts
  sdk/postgresql/arm-postgresql/src/operations/servers.ts
  sdk/postgresql/arm-postgresql/src/operations/virtualNetworkRules.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClient.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClientContext.ts
  sdk/postgresql/arm-postgresql/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8ec77545b6ecc5eff1923334b1129ef7ce75021a
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClient.ts
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClientContext.ts
  sdk/netapp/arm-netapp/src/models/accountBackupsMappers.ts
  sdk/netapp/arm-netapp/src/models/accountsMappers.ts
  sdk/netapp/arm-netapp/src/models/backupPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/backupsMappers.ts
  sdk/netapp/arm-netapp/src/models/index.ts
  sdk/netapp/arm-netapp/src/models/mappers.ts
  sdk/netapp/arm-netapp/src/models/netAppResourceMappers.ts
  sdk/netapp/arm-netapp/src/models/parameters.ts
  sdk/netapp/arm-netapp/src/models/poolsMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotsMappers.ts
  sdk/netapp/arm-netapp/src/models/vaultsMappers.ts
  sdk/netapp/arm-netapp/src/operations/accountBackups.ts
  sdk/netapp/arm-netapp/src/operations/backupPolicies.ts
  sdk/netapp/arm-netapp/src/operations/backups.ts
  sdk/netapp/arm-netapp/src/operations/index.ts
  sdk/netapp/arm-netapp/src/operations/netAppResource.ts
  sdk/netapp/arm-netapp/src/operations/snapshotPolicies.ts
  sdk/netapp/arm-netapp/src/operations/vaults.ts
  sdk/netapp/arm-netapp/src/operations/volumes.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

create connection context helper
  sdk/servicebus/service-bus/src/constructorHelpers.ts
Due: none

Generated from a35b1cd98e20d7c9b3c4fdcb23125b7ea85acca6
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClient.ts
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClientContext.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/index.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/machineExtensionsMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/machinesMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/mappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/operationsMappers.ts
  sdk/hybridcompute/arm-hybridcompute/src/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release-sqlvirtualmachine-4.0.0
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/LICENSE.txt
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/README.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/rollup.config.js
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/availabilityGroupListenersMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/index.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/mappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/sqlVirtualMachineGroupsMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/sqlVirtualMachinesMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operations/sqlVirtualMachines.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClientContext.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update CODEOWNERS (#11159)
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Allow skip publish DocMS or Github IO for each artifact (#11218)
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix linting errors in the eslint plugin
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removing no-duplicate-imports
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

build:autorest
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update service and pacakge versions
  sdk/storage/storage-file-datalake/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

record test then manually remove preprod from recording file, fix documentation
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_create_largest_file.json
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_create_largest_file.js
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

createPermissionOperationSpec.isXML=false
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

test create, resize, uploadRange for 4tb file with a preprod account
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

release-sqlvirtualmachine-4.0.0 (#11252)
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/LICENSE.txt
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/README.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/rollup.config.js
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/availabilityGroupListenersMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/index.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/mappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/sqlVirtualMachineGroupsMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/sqlVirtualMachinesMappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operations/sqlVirtualMachines.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClientContext.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update allow optional messageText
  sdk/storage/storage-queue/recordings/browsers/queueclient_messageid_methods/recording_update_visibility_timeout_only_preserve_content.json
  sdk/storage/storage-queue/recordings/node/queueclient_messageid_methods/recording_update_visibility_timeout_only_preserve_content.js
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
Due: none

ignore rush autoinstaller files (#11244)
  .gitignore
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed IS_PRODUCTION gates
  common/tools/dev-tool/src/config/rollup.base.config.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed dependency on terser
  common/tools/dev-tool/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed dependency on fs-extra
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Added flag to disable browser test bundle
  common/tools/dev-tool/src/config/rollup.base.config.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add pollyfill
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for keyvault releases (#11215)
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1000
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/replace-relative-links.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed reference to tools repos (#11239)
  sdk/eventgrid/eventgrid/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from aa9e232d3188c9f5cb562505d84ede21148bd39c
  sdk/batch/arm-batch/LICENSE.txt
  sdk/batch/arm-batch/README.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/rollup.config.js
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/batch/arm-batch/src/batchManagementClientContext.ts
  sdk/batch/arm-batch/src/models/applicationOperationsMappers.ts
  sdk/batch/arm-batch/src/models/applicationPackageOperationsMappers.ts
  sdk/batch/arm-batch/src/models/certificateOperationsMappers.ts
  sdk/batch/arm-batch/src/models/index.ts
  sdk/batch/arm-batch/src/models/locationMappers.ts
  sdk/batch/arm-batch/src/models/mappers.ts
  sdk/batch/arm-batch/src/models/operationsMappers.ts
  sdk/batch/arm-batch/src/models/parameters.ts
  sdk/batch/arm-batch/src/models/poolOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateEndpointConnectionOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateLinkResourceOperationsMappers.ts
  sdk/batch/arm-batch/src/operations/applicationOperations.ts
  sdk/batch/arm-batch/src/operations/applicationPackageOperations.ts
  sdk/batch/arm-batch/src/operations/batchAccountOperations.ts
  sdk/batch/arm-batch/src/operations/certificateOperations.ts
  sdk/batch/arm-batch/src/operations/index.ts
  sdk/batch/arm-batch/src/operations/poolOperations.ts
  sdk/batch/arm-batch/src/operations/privateEndpointConnectionOperations.ts
  sdk/batch/arm-batch/src/operations/privateLinkResourceOperations.ts
  sdk/batch/arm-batch/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from aa9e232d3188c9f5cb562505d84ede21148bd39c
  sdk/batch/batch/LICENSE.txt
  sdk/batch/batch/src/batchServiceClient.ts
  sdk/batch/batch/src/batchServiceClientContext.ts
  sdk/batch/batch/src/models/accountMappers.ts
  sdk/batch/batch/src/models/index.ts
  sdk/batch/batch/src/models/jobMappers.ts
  sdk/batch/batch/src/models/jobScheduleMappers.ts
  sdk/batch/batch/src/models/mappers.ts
  sdk/batch/batch/src/models/parameters.ts
  sdk/batch/batch/src/models/poolMappers.ts
  sdk/batch/batch/src/operations/account.ts
  sdk/batch/batch/src/operations/application.ts
  sdk/batch/batch/src/operations/certificateOperations.ts
  sdk/batch/batch/src/operations/computeNodeOperations.ts
  sdk/batch/batch/src/operations/file.ts
  sdk/batch/batch/src/operations/job.ts
  sdk/batch/batch/src/operations/jobSchedule.ts
  sdk/batch/batch/src/operations/pool.ts
  sdk/batch/batch/src/operations/task.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed no-duplicate issues in service-bus project (#11169)
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

[App Configuration] Use the eslint plugin
  .eslintrc.json
  sdk/appconfiguration/app-configuration/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix linting errors in the eslint plugin (#11254)
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[App Configuration] Use the eslint plugin (#11266)
  .eslintrc.json
  sdk/appconfiguration/app-configuration/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update prototype
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/test/serviceClientTests.ts
  sdk/core/core-http/test/testMappers.ts
Due: none

changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Update paths
  common/config/rush/common-versions.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
