Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

[Service Bus] Remove atomManagementApi references in 1.x (#7992)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/atomManagementApi.js
  sdk/servicebus/service-bus/samples/typescript/src/atomManagementApi.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Due: none

Fixup changelog
  sdk/core/core-tracing/CHANGELOG.md
Due: none

Fix named export
  sdk/eventhub/event-hubs/rollup.base.config.js
Due: none

[Recorder] Bug Fixes in node tests (#7512)
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add env authorityhost
  sdk/identity/identity/src/client/identityClient.ts
Due: none

bump version
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

bump version
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 80e57dbf8c6b2f14918332ada0dc92b340896c81
  sdk/containerregistry/arm-containerregistry/LICENSE.txt
  sdk/containerregistry/arm-containerregistry/README.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/rollup.config.js
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerregistry/arm-containerregistry/src/models/agentPoolsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/index.ts
  sdk/containerregistry/arm-containerregistry/src/models/mappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/parameters.ts
  sdk/containerregistry/arm-containerregistry/src/models/privateEndpointConnectionsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/replicationsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/runsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/scopeMapsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/taskRunsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tasksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tokensMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/webhooksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/operations/agentPools.ts
  sdk/containerregistry/arm-containerregistry/src/operations/index.ts
  sdk/containerregistry/arm-containerregistry/src/operations/privateEndpointConnections.ts
  sdk/containerregistry/arm-containerregistry/src/operations/registries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/runs.ts
  sdk/containerregistry/arm-containerregistry/src/operations/taskRuns.ts
  sdk/containerregistry/arm-containerregistry/src/operations/tasks.ts
  sdk/containerregistry/arm-containerregistry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Reference different branch for template
  sdk/template/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/resources/arm-resources/LICENSE.txt
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/models/providersMappers.ts
  sdk/resources/arm-resources/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources/src/models/resourcesMappers.ts
  sdk/resources/arm-resources/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/index.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

revise version
  sdk/advisor/arm-advisor/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-template
  sdk/template/template/package.json
Due: none

Bump Azure template version
  sdk/template/template/package.json
Due: none

Add Initial release stage configuration
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add changelog to azure-template
  sdk/template/template/CHANGELOG.md
Due: none

Switch JS Release to run from the JS repo
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Bump up Azure Template
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Due: none

Run formatter on core-tracing
  sdk/core/core-tracing/rollup.test.config.js
  sdk/core/core-tracing/src/tracers/noop/noOpBinaryFormat.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusSpanWrapper.ts
Due: none

Run formatter on identity
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.browser.ts
  sdk/identity/identity/test/identityClient.spec.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/index.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/run_test.ts
  sdk/identity/identity/test/mockAzureCliCredentialClient.ts
  sdk/identity/identity/test/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
Due: none

Run formatter for file-share
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSystemAttributes.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/utils.spec.ts
  sdk/storage/storage-file-share/test/utils/MockPolicy.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

refactor _acquireLockAndSendRequest
  sdk/servicebus/service-bus/src/core/managementClient.ts
Due: none

update scheduleMessageOperationPromise to the same format
  sdk/servicebus/service-bus/src/core/managementClient.ts
Due: none

Release arm cognitiveservices (#8004)
  sdk/cognitiveservices/arm-cognitiveservices/LICENSE.txt
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/accountsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from b4f472143b7f675703b2a469b8050cdf0bee3dfa
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/sshPublicKeysMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryApplicationVersions.ts
  sdk/compute/arm-compute/src/operations/galleryApplications.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/index.ts
  sdk/compute/arm-compute/src/operations/sshPublicKeys.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 7e3a5fd44d7fbb1f7f5d3ad72861846234b7ccd6
  sdk/monitor/arm-monitor/LICENSE.txt
  sdk/monitor/arm-monitor/README.md
  sdk/monitor/arm-monitor/src/models/index.ts
  sdk/monitor/arm-monitor/src/models/mappers.ts
  sdk/monitor/arm-monitor/src/monitorManagementClientContext.ts
  sdk/monitor/arm-monitor/src/operations/alertRules.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adjust path to versioning tool
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Bump up Azure Template Version
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Due: none

[event-hubs] set known amqp props on systemProperties (#7973)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
Due: none

[event-hubs] add method to transform iothub connection string
  sdk/eventhub/event-hubs/src/util/iothubConnectionString.ts
Due: none

adds iothub connection string conversion as sample
  sdk/eventhub/event-hubs/samples/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/src/util/iothubConnectionString.ts
Due: none
