Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

commit published sequence number to EventData user passes in
  sdk/eventhub/event-hubs/src/diagnostics/instrumentEventData.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

idempotent producer maintains state between reconnects
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] add getPartitionPublishingProperties method to EventHubProducerClient
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] support updating event data with idempotent properties while sending events
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] adds EventHubProducerClientOptions and enableIdempotentPartitions field to options
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/models/public.ts
Due: none

adds partitionOptions to EventHubProducerClientOptions so users can specify their own idempotent publishing state
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] enforces specifying partitionId and ommitting partitionKey when EventHubProducerClient has idempotent partitions enabled.
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

throws error if user attempts to send an already published EventDataBatch of EventData[]
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] set com.microsoft:idempotent-producer desired capability on sender link when idempotent partitions is enabled
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

[event-hubs] update package version to 5.5.0-beta.1
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Due: none

update event-hubs dep in eventhubs-checkpointstore-blob to the beta version
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Due: none

add tests for EventDataBatch.startingPublishedSequenceNumber
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[event-hubs] idempotent producer enforces 1 concurrent send per partition
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

support user specifying partial partitionOptions and SequenceOutOfOrder errors
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

appease ci for eventhubs-checkpointstore-blob
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Due: none

[event-hubs] cache partition publisher properties on EventHubSender
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Due: none

s/HTTPS/HTTP
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/defaultHttpClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpClient.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
Due: eng/pipelines/mgmt-ci.yml

s:/HTTPS/HTTP in core-client
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/httpClientCache.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
Due: none

Fixup remaining instances
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/README.md
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

final touches
  sdk/core/core-http/src/credentials/accessTokenRefresher.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
Due: none

Fix logic in SetTestPipelineVersionInEngCommon (#14137)
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

changelog about error messages
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Due: none

tweak package decription
  sdk/core/core-rest-pipeline/package.json
Due: eng/pipelines/mgmt-ci.yml

Update Artifacts with latest swagger
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/index.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/constants.ts
  sdk/synapse/synapse-artifacts/src/lro/index.ts
  sdk/synapse/synapse-artifacts/src/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/lro/models.ts
  sdk/synapse/synapse-artifacts/src/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/lro/passthroughStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/index.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Formatting
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update test recordings
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

[Text Analytics] Fix a bug for returning stats for analyze
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_statistics.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_statistics.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

update changelog and versions
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add @internal
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

fix storage perf test
  sdk/storage/perf-tests/storage-blob/test/core-rest-pipeline.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

##[warning]Please lower case your anchor tags (i.e. anything after '#' in your link
  sdk/test-utils/perfstress/GettingStarted.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

only using this.token over the cache token if the expiration date is greater
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
Due: none

Update Getting Started section
  sdk/test-utils/perfstress/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

edit
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

remove eslint comments, change "while" to "when" in error messages, and remove code snippet
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Due: none

updates idempotent error message when at least some events are published to be more accurate
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

[core-rest-pipeline][core-client] Replace "HTTPS" with "HTTP" in interface names (#14142)
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/httpClientCache.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/README.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/defaultHttpClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpClient.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
  sdk/storage/perf-tests/storage-blob/test/core-rest-pipeline.spec.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

centralize partition setting validation
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/public/eventHubProducerClient.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: eng/common, sdk/anomalydetector/ai-anomaly-detector, sdk/appconfiguration/app-configuration, sdk/communication/communication-administration, sdk/communication/communication-chat, sdk/communication/communication-common, sdk/communication/communication-sms, sdk/core/abort-controller, sdk/core/core-amqp, sdk/core/core-asynciterator-polyfill, sdk/core/core-auth, sdk/core/core-client, sdk/core/core-http, sdk/core/core-https, sdk/core/core-lro, sdk/core/core-paging, sdk/core/core-tracing, sdk/core/core-xml, sdk/core/logger, sdk/cosmosdb/cosmos, sdk/digitaltwins/digital-twins-core, sdk/eventgrid/eventgrid, sdk/eventhub/event-hubs, sdk/eventhub/event-processor-host, sdk/eventhub/eventhubs-checkpointstore-blob, sdk/formrecognizer/ai-form-recognizer, sdk/identity/identity, sdk/keyvault/keyvault-admin, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/metricsadvisor/ai-metrics-advisor, sdk/monitor/monitor-opentelemetry-exporter, sdk/schemaregistry/schema-registry, sdk/schemaregistry/schema-registry-avro, sdk/search/search-documents, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-blob-changefeed, sdk/storage/storage-file-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/tables/data-tables, sdk/template/template, sdk/test-utils/recorder, sdk/textanalytics/ai-text-analytics
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
