Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

cleanups
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/test/CAE.ts
Due: none

Increment version for synapse releases (#12841)
  sdk/synapse/synapse-access-control/CHANGELOG.md
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/CHANGELOG.md
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/CHANGELOG.md
  sdk/synapse/synapse-spark/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

datalake-analytics release (#13218)
  sdk/datalake-analytics/arm-datalake-analytics/LICENSE.txt
  sdk/datalake-analytics/arm-datalake-analytics/README.md
  sdk/datalake-analytics/arm-datalake-analytics/package.json
  sdk/datalake-analytics/arm-datalake-analytics/rollup.config.js
  sdk/datalake-analytics/arm-datalake-analytics/src/dataLakeAnalyticsAccountManagementClient.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/dataLakeAnalyticsAccountManagementClientContext.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/accountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/computePoliciesMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/dataLakeStoreAccountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/firewallRulesMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/locationsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/mappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/operationsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/parameters.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/storageAccountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/accounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/computePolicies.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/dataLakeStoreAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/firewallRules.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/locations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/operations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/storageAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adds first pass at subpartitioned container create
  sdk/cosmosdb/cosmos/src/client/Container/ContainerRequest.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Container/PartitionKeyInput.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
Due: none

Increment package version after release of azure-storage-blob (#13357)
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

nit: use parallel upload and increase timeout for syncUploadFromURL large content case
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
Due: none

ad AAD Support
  sdk/metricsadvisor/ai-metrics-advisor/src/createClientPipeline.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

spaces
  sdk/metricsadvisor/ai-metrics-advisor/src/createClientPipeline.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update review api.md file
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add aad tests to admin client
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/matrix.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

aad tests added to advisorclient
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update tests
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update tests
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status.js
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fixed failing tests due to env not loading
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status.js
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

formatting
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove old commented out code
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

no more getAllAccounts and stopping execution after initial redirect
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
Due: none

added auth in readme
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

updated Changelog
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update changelog
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Lossen up $RELEASE_TITLE_REGEX to accomodate wrongly formated changelogs
  eng/common/scripts/ChangeLog-Operations.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update changelog logic to use ordered hashtable
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update semver and Changelog logic
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

New helper method - callOnDetachedOnReceivers
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

unneeded await
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Due: none

fix jsdoc
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

no ondetached for sessions?
  sdk/servicebus/service-bus/src/connectionContext.ts
Due: none

no more chededirectResponse
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
Due: none

Additional rtest code
  eng/CredScanSuppression.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add check for valid API review directory
  eng/scripts/Language-Settings.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Upgrade V6 SDK Generator Version for Tables (#13362)
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/generated/generatedClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/generated/models/index.ts
  sdk/tables/data-tables/src/generated/models/mappers.ts
  sdk/tables/data-tables/src/generated/models/parameters.ts
  sdk/tables/data-tables/src/generated/operations/service.ts
  sdk/tables/data-tables/src/generated/operations/table.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Upgrade V6 SDK Generator Version (#13359)
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Upgrade V6 SDK Generator Version for Form Recognizer (#13360)
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for monitor releases (#13355)
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/applicationinsights.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
