Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template

testing with @azure/test-utils-recorder
  sdk/keyvault/keyvault-keys/test/CRUD.test.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/keyvault/keyvault-keys/test/import.test.ts
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/lro.delete.test.ts
  sdk/keyvault/keyvault-keys/test/lro.recoverDelete.test.ts
  sdk/keyvault/keyvault-keys/test/package.json
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
  sdk/keyvault/keyvault-keys/test/utils/testClient.ts
Due: none

feedback by Daniel Jurek
  sdk/keyvault/TEST_RESOURCES_README.md
  sdk/keyvault/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-paging] Update code snippets in README
  sdk/core/core-paging/README.md
Due: none

[core-http] Update changelog for March 2020 release (#7562)
  sdk/core/core-http/CHANGELOG.md
Due: none

[core-amqp] prepare for 1.1.0 release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Due: none

Fix Cloudshell steps
  sdk/identity/identity/test/manual-integration/Cloudshell/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/Cloudshell/index.ts
Due: none

[core-paging] Update code snippets in README (#7566)
  sdk/core/core-paging/README.md
Due: none

[core-paging] set PageT default to T[]
  sdk/core/core-paging/README.md
  sdk/core/core-paging/types/corePaging.d.ts
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
Due: none

Fix bad comments and touch-up instructions for cloudshell
  sdk/identity/identity/test/manual-integration/AzureVM/index.ts
  sdk/identity/identity/test/manual-integration/AzureVM/index_user.ts
  sdk/identity/identity/test/manual-integration/Cloudshell/index.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/index.ts
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/index.ts
Due: none

Generated from b07cf8ac8b9e04ba3276b41382a528caee18c6f8
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupResourceVaultConfigsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/index.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/mappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/operations/backupResourceVaultConfigs.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Create new workspace for dataplane packages
  dataplane.code-workspace
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Port over some more settings
  dataplane.code-workspace
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adding in section talking about connection sharing
  arch-design-questions.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Some rewording. Also, splitting the "receive messages" into 3 scenarios, rather than two, and moving iteration into it's own classification.
  arch-design-questions.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Updating with more granular definition of iterators.
  arch-design-questions.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove controversial text! :)
  arch-design-questions.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed wording for sessions/service bus users
  arch-design-questions.md
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from bc27d66a93761d0cb6b3f05c3317fcda22c6f2e5
  sdk/managementpartner/arm-managementpartner/LICENSE.txt
  sdk/managementpartner/arm-managementpartner/README.md
  sdk/managementpartner/arm-managementpartner/package.json
  sdk/managementpartner/arm-managementpartner/rollup.config.js
  sdk/managementpartner/arm-managementpartner/src/aCEProvisioningManagementPartnerAPI.ts
  sdk/managementpartner/arm-managementpartner/src/aCEProvisioningManagementPartnerAPIContext.ts
  sdk/managementpartner/arm-managementpartner/src/models/index.ts
  sdk/managementpartner/arm-managementpartner/src/models/mappers.ts
  sdk/managementpartner/arm-managementpartner/src/models/operationMappers.ts
  sdk/managementpartner/arm-managementpartner/src/models/partnersMappers.ts
  sdk/managementpartner/arm-managementpartner/src/operations/index.ts
  sdk/managementpartner/arm-managementpartner/src/operations/partners.ts
  sdk/managementpartner/arm-managementpartner/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from bb65321f3637b8d9570a46b03c89b107cb229fe8
  sdk/msi/arm-msi/LICENSE.txt
  sdk/msi/arm-msi/README.md
  sdk/msi/arm-msi/package.json
  sdk/msi/arm-msi/rollup.config.js
  sdk/msi/arm-msi/src/managedServiceIdentityClient.ts
  sdk/msi/arm-msi/src/managedServiceIdentityClientContext.ts
  sdk/msi/arm-msi/src/models/index.ts
  sdk/msi/arm-msi/src/models/mappers.ts
  sdk/msi/arm-msi/src/models/operationsMappers.ts
  sdk/msi/arm-msi/src/models/parameters.ts
  sdk/msi/arm-msi/src/models/systemAssignedIdentitiesMappers.ts
  sdk/msi/arm-msi/src/operations/index.ts
  sdk/msi/arm-msi/src/operations/systemAssignedIdentities.ts
  sdk/msi/arm-msi/src/operations/userAssignedIdentities.ts
  sdk/msi/arm-msi/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from dce1dcc93c2fc9d5fecc6382fd8afbe14626469a
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from dce1dcc93c2fc9d5fecc6382fd8afbe14626469a
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from dce1dcc93c2fc9d5fecc6382fd8afbe14626469a
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from dce1dcc93c2fc9d5fecc6382fd8afbe14626469a
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from dce1dcc93c2fc9d5fecc6382fd8afbe14626469a
  sdk/resources/arm-resources/LICENSE.txt
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources/src/models/resourcesMappers.ts
  sdk/resources/arm-resources/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/index.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from e42036b078a4497d0200ae1483f3d8db435f5f46
  sdk/containerregistry/arm-containerregistry/LICENSE.txt
  sdk/containerregistry/arm-containerregistry/README.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/rollup.config.js
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerregistry/arm-containerregistry/src/models/index.ts
  sdk/containerregistry/arm-containerregistry/src/models/mappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/parameters.ts
  sdk/containerregistry/arm-containerregistry/src/models/replicationsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/runsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/scopeMapsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/taskRunsMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tasksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/tokensMappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/webhooksMappers.ts
  sdk/containerregistry/arm-containerregistry/src/operations/index.ts
  sdk/containerregistry/arm-containerregistry/src/operations/registries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/runs.ts
  sdk/containerregistry/arm-containerregistry/src/operations/taskRuns.ts
  sdk/containerregistry/arm-containerregistry/src/operations/tasks.ts
  sdk/containerregistry/arm-containerregistry/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 34b7ebf4da7e60d59f5d8f1af04dd712fa65bb16
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostsMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/diskEncryptionSets.ts
  sdk/compute/arm-compute/src/operations/disks.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryApplicationVersions.ts
  sdk/compute/arm-compute/src/operations/galleryApplications.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/snapshots.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[core-amqp] prepare for 1.1.0 release (#7567)
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Due: none

Create new workspace for data-plane packages (#7571)
  dataplane.code-workspace
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add to workspace
  dataplane.code-workspace
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Mark more things as required
  sdk/search/ai-search/src/generated/data/models/index.ts
  sdk/search/ai-search/src/generated/data/models/mappers.ts
  sdk/search/ai-search/swagger/Data.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Tweak inputs
  sdk/search/ai-search/README.md
  sdk/search/ai-search/review/ai-search.api.md
  sdk/search/ai-search/src/searchIndexClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add ci file
  sdk/search/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update lockfile
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-core-amqp
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Due: none

Update search to reflect actual API
  sdk/search/search/README.md
  sdk/search/search/src/generated/data/models/index.ts
  sdk/search/search/src/generated/data/models/mappers.ts
  sdk/search/search/src/generated/data/searchIndexClientContext.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/swagger/Data.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Add `options?: ServiceBusClientOptions`, placeholder `ReceiverClientTypeForUser`,
  sdk/servicebus/service-bus/src/track2/serviceBusReceiverClient.ts
Due: none
