Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

remove unnecessary if checks
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
Due: none

remove _count private property in favour of _encodedMessages.length
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
Due: none

use sendBatch to send multiple messages
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 0f6e9e77d813164f1df2da7814bdfe299f278d7e
  sdk/postgresql/arm-postgresql/LICENSE.txt
  sdk/postgresql/arm-postgresql/README.md
  sdk/postgresql/arm-postgresql/package.json
  sdk/postgresql/arm-postgresql/rollup.config.js
  sdk/postgresql/arm-postgresql/src/models/configurationsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/databasesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/index.ts
  sdk/postgresql/arm-postgresql/src/models/logFilesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/mappers.ts
  sdk/postgresql/arm-postgresql/src/models/parameters.ts
  sdk/postgresql/arm-postgresql/src/models/privateEndpointConnectionsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/privateLinkResourcesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/replicasMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverAdministratorsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverSecurityAlertPoliciesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serversMappers.ts
  sdk/postgresql/arm-postgresql/src/models/virtualNetworkRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/operations/checkNameAvailability.ts
  sdk/postgresql/arm-postgresql/src/operations/configurations.ts
  sdk/postgresql/arm-postgresql/src/operations/databases.ts
  sdk/postgresql/arm-postgresql/src/operations/firewallRules.ts
  sdk/postgresql/arm-postgresql/src/operations/index.ts
  sdk/postgresql/arm-postgresql/src/operations/locationBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/logFiles.ts
  sdk/postgresql/arm-postgresql/src/operations/operations.ts
  sdk/postgresql/arm-postgresql/src/operations/privateEndpointConnections.ts
  sdk/postgresql/arm-postgresql/src/operations/privateLinkResources.ts
  sdk/postgresql/arm-postgresql/src/operations/replicas.ts
  sdk/postgresql/arm-postgresql/src/operations/serverAdministrators.ts
  sdk/postgresql/arm-postgresql/src/operations/serverSecurityAlertPolicies.ts
  sdk/postgresql/arm-postgresql/src/operations/servers.ts
  sdk/postgresql/arm-postgresql/src/operations/virtualNetworkRules.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClient.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClientContext.ts
  sdk/postgresql/arm-postgresql/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Forgot to implement the interface
  sdk/core/core-http/src/webResource.ts
Due: none

Add doc strings to interfaces
  sdk/core/core-http/src/httpHeaders.ts
  sdk/core/core-http/src/webResource.ts
Due: none

testing adding the test-utils-recorder as a dev depenendency
  sdk/batch/batch/package.json
  sdk/batch/batch/src/batchServiceClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository (#7876)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 6647d5d7ef26229c2d63e5aad3ad70d9f2f4d2bf
  sdk/storage/arm-storage/src/models/blobContainersMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/managementPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/parameters.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/operations/blobContainers.ts
  sdk/storage/arm-storage/src/operations/encryptionScopes.ts
  sdk/storage/arm-storage/src/operations/index.ts
  sdk/storage/arm-storage/src/storageManagementClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update getMaxMessageSize description
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

sendArrayOfMessages -> sendMessages
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

Generated from a85bbb4b1fba32c60b98f68be7abb367f0c16c24
  sdk/appservice/arm-appservice/LICENSE.txt
  sdk/appservice/arm-appservice/README.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/rollup.config.js
  sdk/appservice/arm-appservice/src/models/appServiceCertificateOrdersMappers.ts
  sdk/appservice/arm-appservice/src/models/appServiceEnvironmentsMappers.ts
  sdk/appservice/arm-appservice/src/models/appServicePlansMappers.ts
  sdk/appservice/arm-appservice/src/models/certificatesMappers.ts
  sdk/appservice/arm-appservice/src/models/deletedWebAppsMappers.ts
  sdk/appservice/arm-appservice/src/models/diagnosticsMappers.ts
  sdk/appservice/arm-appservice/src/models/index.ts
  sdk/appservice/arm-appservice/src/models/mappers.ts
  sdk/appservice/arm-appservice/src/models/parameters.ts
  sdk/appservice/arm-appservice/src/models/providerMappers.ts
  sdk/appservice/arm-appservice/src/models/recommendationsMappers.ts
  sdk/appservice/arm-appservice/src/models/resourceHealthMetadataOperationsMappers.ts
  sdk/appservice/arm-appservice/src/models/staticSitesMappers.ts
  sdk/appservice/arm-appservice/src/models/topLevelDomainsMappers.ts
  sdk/appservice/arm-appservice/src/models/webAppsMappers.ts
  sdk/appservice/arm-appservice/src/operations/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice/src/operations/appServiceEnvironments.ts
  sdk/appservice/arm-appservice/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice/src/operations/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/certificates.ts
  sdk/appservice/arm-appservice/src/operations/deletedWebApps.ts
  sdk/appservice/arm-appservice/src/operations/diagnostics.ts
  sdk/appservice/arm-appservice/src/operations/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/domains.ts
  sdk/appservice/arm-appservice/src/operations/index.ts
  sdk/appservice/arm-appservice/src/operations/provider.ts
  sdk/appservice/arm-appservice/src/operations/recommendations.ts
  sdk/appservice/arm-appservice/src/operations/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice/src/operations/staticSites.ts
  sdk/appservice/arm-appservice/src/operations/topLevelDomains.ts
  sdk/appservice/arm-appservice/src/operations/webApps.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 6752aba2a9c5dd600ef18ad358f292ad76454433
  sdk/appplatform/arm-appplatform/LICENSE.txt
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/rollup.config.js
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/operationsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from a090a070374d722f72e06ae29f00cb3a6c565817
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/models/agentPoolsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/containerServicesMappers.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/managedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/openShiftManagedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

gulp test
  .gitignore
  eng/pipelines/mgmt-pr.yml
  gulpfile.ts
  package.json
  sdk/batch/arm-batch/test/batchClient-tests.js
  sdk/batch/arm-batch/test/readme.txt
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

move verifyAndDeleteAllSentMessages from sendbatch.spec to testutils
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

Update sdk/servicebus/service-bus/test/utils/testutils2.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

test update - add checks for tryadd
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools repository (#7876)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update network version
  package.json
  sdk/network/arm-network/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update network version
  sdk/network/arm-network/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

try toadd gulp test
  gulpfile.ts
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/test/batchClient-tests.js
  sdk/batch/arm-batch/test/readme.txt
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 96425e0176bda8bd12dea137acfc31fa729afda5
  sdk/cognitiveservices/cognitiveservices-computervision/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-computervision/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ba6e7ce7f2711d40c70baba6e7e97cac1d8a2d95
  sdk/serialconsole/arm-serialconsole/LICENSE.txt
  sdk/serialconsole/arm-serialconsole/README.md
  sdk/serialconsole/arm-serialconsole/package.json
  sdk/serialconsole/arm-serialconsole/rollup.config.js
  sdk/serialconsole/arm-serialconsole/src/microsoftSerialConsoleClient.ts
  sdk/serialconsole/arm-serialconsole/src/microsoftSerialConsoleClientContext.ts
  sdk/serialconsole/arm-serialconsole/src/models/consoleMappers.ts
  sdk/serialconsole/arm-serialconsole/src/models/index.ts
  sdk/serialconsole/arm-serialconsole/src/models/listConsoleMappers.ts
  sdk/serialconsole/arm-serialconsole/src/models/listMappers.ts
  sdk/serialconsole/arm-serialconsole/src/models/mappers.ts
  sdk/serialconsole/arm-serialconsole/src/models/parameters.ts
  sdk/serialconsole/arm-serialconsole/src/operations/console.ts
  sdk/serialconsole/arm-serialconsole/src/operations/index.ts
  sdk/serialconsole/arm-serialconsole/src/operations/list.ts
  sdk/serialconsole/arm-serialconsole/src/operations/listConsole.ts
  sdk/serialconsole/arm-serialconsole/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix messageBatch error message in test when Invalid parameters are passed
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
Due: none

Generated from e72378ace86be8c90a7b0a0cdcb5aab17efcfcd8
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from e72378ace86be8c90a7b0a0cdcb5aab17efcfcd8
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from e72378ace86be8c90a7b0a0cdcb5aab17efcfcd8
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from e72378ace86be8c90a7b0a0cdcb5aab17efcfcd8
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from e72378ace86be8c90a7b0a0cdcb5aab17efcfcd8
  sdk/resources/arm-resources/LICENSE.txt
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/models/providersMappers.ts
  sdk/resources/arm-resources/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources/src/models/resourcesMappers.ts
  sdk/resources/arm-resources/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/index.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

improve urlFragments
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/README.md
Due: none

[eventhubs-checkpointstore-blob] improve samples (#7859)
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/apiSpecificContainerClient.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/apiSpecificContainerClient.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/tsconfig.json
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
