Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

switch to local references
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove deletion of node_modules task
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

switch to dev to check all failures currently
  eng/tools/dependency-testing/index.js
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix the condition
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Sync eng/common directory with azure-sdk-tools repository (#8711)
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/copy-readmes-to-docs.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/git-branch-push.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 2454adb95cec6a11ce81617e85c8b51561d5e228
  sdk/datafactory/arm-datafactory/src/models/dataFlowDebugSessionMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/datasetsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/factoriesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/linkedServicesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/models/pipelinesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/triggersMappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

release-for-mgmt-trafficmanager-fix-issue8775
  sdk/trafficmanager/arm-trafficmanager/LICENSE.txt
  sdk/trafficmanager/arm-trafficmanager/README.md
  sdk/trafficmanager/arm-trafficmanager/package.json
  sdk/trafficmanager/arm-trafficmanager/rollup.config.js
  sdk/trafficmanager/arm-trafficmanager/src/models/endpointsMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/geographicHierarchiesMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/heatMapMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/index.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/mappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/profilesMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/trafficManagerUserMetricsKeysMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/trafficManagerManagementClientContext.ts
  sdk/trafficmanager/arm-trafficmanager/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update with the latest code
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/operations/privateEndpointConnections.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

update pnpm version
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 171faf87c626cd8c6ac12dbf25f2a9a5c70bb5a2
  sdk/postgresql/arm-postgresql/LICENSE.txt
  sdk/postgresql/arm-postgresql/README.md
  sdk/postgresql/arm-postgresql/package.json
  sdk/postgresql/arm-postgresql/rollup.config.js
  sdk/postgresql/arm-postgresql/src/models/configurationsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/databasesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/firewallRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/index.ts
  sdk/postgresql/arm-postgresql/src/models/mappers.ts
  sdk/postgresql/arm-postgresql/src/models/parameters.ts
  sdk/postgresql/arm-postgresql/src/models/privateEndpointConnectionsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/privateLinkResourcesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/replicasMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverAdministratorsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverKeysMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverSecurityAlertPoliciesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serversMappers.ts
  sdk/postgresql/arm-postgresql/src/models/virtualNetworkRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/operations/checkNameAvailability.ts
  sdk/postgresql/arm-postgresql/src/operations/configurations.ts
  sdk/postgresql/arm-postgresql/src/operations/databases.ts
  sdk/postgresql/arm-postgresql/src/operations/firewallRules.ts
  sdk/postgresql/arm-postgresql/src/operations/index.ts
  sdk/postgresql/arm-postgresql/src/operations/locationBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/logFiles.ts
  sdk/postgresql/arm-postgresql/src/operations/operations.ts
  sdk/postgresql/arm-postgresql/src/operations/privateEndpointConnections.ts
  sdk/postgresql/arm-postgresql/src/operations/privateLinkResources.ts
  sdk/postgresql/arm-postgresql/src/operations/replicas.ts
  sdk/postgresql/arm-postgresql/src/operations/serverAdministrators.ts
  sdk/postgresql/arm-postgresql/src/operations/serverKeys.ts
  sdk/postgresql/arm-postgresql/src/operations/serverSecurityAlertPolicies.ts
  sdk/postgresql/arm-postgresql/src/operations/servers.ts
  sdk/postgresql/arm-postgresql/src/operations/virtualNetworkRules.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClient.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClientContext.ts
  sdk/postgresql/arm-postgresql/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Changelog and Docs updates, remove un-needed import from rhea-promise as suggested by Chris
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
Due: none

release-for-mgmt-trafficmanager-fix-issue8775 (#8793)
  sdk/trafficmanager/arm-trafficmanager/LICENSE.txt
  sdk/trafficmanager/arm-trafficmanager/README.md
  sdk/trafficmanager/arm-trafficmanager/package.json
  sdk/trafficmanager/arm-trafficmanager/rollup.config.js
  sdk/trafficmanager/arm-trafficmanager/src/models/endpointsMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/geographicHierarchiesMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/heatMapMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/index.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/mappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/profilesMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/models/trafficManagerUserMetricsKeysMappers.ts
  sdk/trafficmanager/arm-trafficmanager/src/trafficManagerManagementClientContext.ts
  sdk/trafficmanager/arm-trafficmanager/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

removed the unnecessarily added TestTracerLike
  sdk/core/core-tracing/src/tracers/test/testTracer.ts
Due: none

[core-http] remove deprecated configuration via mocha.opts
  sdk/core/core-http/.vscode/launch.json
  sdk/core/core-http/package.json
  sdk/core/core-http/test/mocha.opts
Due: none

removing the last dns.dnsResolve
  sdk/core/core-amqp/src/util/checkNetworkConnection.ts
Due: none

Feedback by Ramya
  sdk/core/core-amqp/test/errors.spec.ts
Due: none

core-lro test fix
  sdk/core/core-lro/test/abort.test.ts
Due: none

Update macOS.10.13 to macOS.10.15 (#7662)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/eventhub/event-processor-host/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Pinning to Typedoc 0.16.x until further investigation (#7850)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/generate-doc.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[FormRecognizer] Rename for cross-language API consistency
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

FormElement => FormContent
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

blobContainerUrl => trainingFilesUrl
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

pinning pnpm to 4.14.1 as the next version drops support on node 8
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

parameter name `documentUrl` => `formFileUrl` or `receiptFileUrl`
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

4.14.1 is breaking on linux with bizarre regular expression error
  rush.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

useLabels => useTrainingLabels, getModel => getCustomModel
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

listModels => listCustomModels
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/iteratorModels.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/iteratorModels.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

ModelInfo => CustomFormModelInfo
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Move the duplicated getRetryAttemptTimeoutInMs from event-hubs and service-bus to the core-amqp
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

limit => customModelLimit, count => customModelCount
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

changelog
  sdk/core/core-amqp/CHANGELOG.md
Due: none

fieldLabel => labelText
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update getRetryAttemptTimeoutInMs by allowing less than 60s too
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/test/retry.spec.ts
Due: none

Consistency
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Due: none

Addressing the namespaces issue
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/eventhubConnectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/iothubConnectionConfig.ts
  sdk/core/core-amqp/src/messageHeader.ts
  sdk/core/core-amqp/src/messageProperties.ts
Due: none

Consistency!
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

We don't need a +!
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
Due: none
