Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

removing hostResemblesIP
  sdk/storage/storage-queue/src/utils/utils.common.ts
Due: none

Generated from a85743a739704762cb05e23ee992848bd0e407c9
  sdk/redis/arm-rediscache/README.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/rollup.config.js
  sdk/redis/arm-rediscache/src/models/firewallRulesMappers.ts
  sdk/redis/arm-rediscache/src/models/index.ts
  sdk/redis/arm-rediscache/src/models/linkedServerMappers.ts
  sdk/redis/arm-rediscache/src/models/mappers.ts
  sdk/redis/arm-rediscache/src/models/patchSchedulesMappers.ts
  sdk/redis/arm-rediscache/src/models/redisMappers.ts
  sdk/redis/arm-rediscache/src/redisManagementClientContext.ts
  sdk/redis/arm-rediscache/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Generated from f58b54a2a2081f3fe29f1a621d774e07de8e7e4d
  sdk/notificationhubs/arm-notificationhubs/LICENSE.txt
  sdk/notificationhubs/arm-notificationhubs/README.md
  sdk/notificationhubs/arm-notificationhubs/package.json
  sdk/notificationhubs/arm-notificationhubs/rollup.config.js
  sdk/notificationhubs/arm-notificationhubs/src/models/index.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/mappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/namespacesMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/notificationHubsMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/models/operationsMappers.ts
  sdk/notificationhubs/arm-notificationhubs/src/notificationHubsManagementClientContext.ts
  sdk/notificationhubs/arm-notificationhubs/src/operations/namespaces.ts
  sdk/notificationhubs/arm-notificationhubs/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Generated from 414f5ef5d0bda206ed2f88088ee7a27fee9cf9fe
  sdk/mixedreality/arm-mixedreality/README.md
  sdk/mixedreality/arm-mixedreality/package.json
  sdk/mixedreality/arm-mixedreality/rollup.config.js
  sdk/mixedreality/arm-mixedreality/src/mixedRealityClient.ts
  sdk/mixedreality/arm-mixedreality/src/mixedRealityClientContext.ts
  sdk/mixedreality/arm-mixedreality/src/models/index.ts
  sdk/mixedreality/arm-mixedreality/src/models/mappers.ts
  sdk/mixedreality/arm-mixedreality/src/models/parameters.ts
  sdk/mixedreality/arm-mixedreality/src/models/remoteRenderingAccountsMappers.ts
  sdk/mixedreality/arm-mixedreality/src/models/spatialAnchorsAccountsMappers.ts
  sdk/mixedreality/arm-mixedreality/src/operations/index.ts
  sdk/mixedreality/arm-mixedreality/src/operations/operations.ts
  sdk/mixedreality/arm-mixedreality/src/operations/remoteRenderingAccounts.ts
  sdk/mixedreality/arm-mixedreality/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-keyvault-certificates
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/core/utils/constants.ts
Due: none

Update receiver only tests
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none

Use new entity name
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
Due: none

[Service Bus] Use a different entity name for partitioned topic-subscription
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
Due: none

Update gitattributes to mark generated files
  .gitattributes
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Update request header handling and usermetadata docs (#6382)
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
Due: none

add step in doc-index yaml
  eng/pipelines/doc-index.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update docs
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Due: none

Update docs with issue ref
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
Due: none

Address comment
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
Due: none

Optimize sender tests
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

Move check
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Due: none

[Service Bus] Update error handling for atom based management apis (#6586)
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
Due: none

Update sender client tests
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

record in preprod env
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_getpagerangesdiff_with_url.json
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_getpagerangesdiff_with_url.js
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
Due: none

version change
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServicesContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

add unit test of cliCredential
  sdk/identity/identity/src/client/cliCredentialClient.ts
  sdk/identity/identity/src/credentials/cliCredential.ts
  sdk/identity/identity/test/mockCliCredentialClient.ts
  sdk/identity/identity/test/node/cliCredential.spec.ts
Due: none

add unit test for cliCredential
  sdk/identity/identity/src/credentials/cliCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Due: none

just verify
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_abort_after_aborter_timeout.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_abort_after_father_aborter_calls_abort.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_abort_when_calling_abort_before_request_finishes.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_not_abort_after_calling_abort.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_not_abort_when_calling_abort_after_request_finishes.json
  sdk/storage/storage-blob/test/aborter.spec.ts
Due: none

hide recordings
  .gitattributes
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update gitattributes to mark generated files (#6701)
  .gitattributes
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update tests
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/atomXml.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Due: none

Simplify
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
Due: none

Address comment
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Due: none

code coverage for storage-blob
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/package.json
Due: none

code coverage for storage-file-datalake
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-datalake/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

code coverage for storage-file-share
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

IP style Endpoints -> IPv4/IPv6 address hosts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Due: none

minor: would better align the examples with existing ones
  sdk/storage/storage-queue/src/QueueClient.ts
Due: none

align the message with getQueueNameFromUrl
  sdk/storage/storage-queue/src/utils/utils.common.ts
Due: none

[Storage] Fixing code coverage for the browser tests (#6666)
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/karma.conf.js
  sdk/storage/storage-queue/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-pr.yml

IPv6 host address as Endpoint
  sdk/storage/storage-queue/test/queueclient.spec.ts
Due: none

no need of if(url.startsWith("http://127.0.0.1:10000"))
  sdk/storage/storage-queue/src/utils/utils.common.ts
Due: none

fix the failed test with proper url
  sdk/storage/storage-queue/test/node/queueserviceclient.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
