Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

[JS] [KeyVault] No query-string in keyvault-keys (#4016)
  sdk/keyvault/keyvault-keys/package.json
Due: none

updates docs from feedback
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/receiver.ts
  sdk/eventhub/event-hubs/src/sender.ts
Due: none

Generate @azure/arm-cognitiveservices package
  sdk/cognitiveservices/arm-cognitiveservices/README.md
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/accountsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Bump the version
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[core-http] Add dependency "process"
  sdk/core/core-http/package.json
Due: none

Generate @azure/arm-machinelearningservices package
  sdk/machinelearningservices/arm-machinelearningservices/LICENSE.txt
  sdk/machinelearningservices/arm-machinelearningservices/README.md
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/rollup.config.js
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/machineLearningComputeMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/mappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/parameters.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/usagesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/virtualMachineSizesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspacesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/machineLearningCompute.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/usages.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/virtualMachineSizes.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

add env variables for event-hubs livetests (#4040)
  sdk/eventhub/event-hubs/tests.yml
Due: none

Bump the version
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[core-http] Add "proxyPolicy" to "browser" config
  sdk/core/core-http/package.json
Due: none

update recorder.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
  sdk/storage/storage-file/test/utils/recorder.ts
  sdk/storage/storage-queue/test/utils/recorder.ts
Due: none

Generate @azure/arm-cognitiveservices package (#4042)
  sdk/cognitiveservices/arm-cognitiveservices/README.md
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/accountsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Generate @azure/arm-machinelearningservices package (#4044)
  sdk/machinelearningservices/arm-machinelearningservices/LICENSE.txt
  sdk/machinelearningservices/arm-machinelearningservices/README.md
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/rollup.config.js
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/machineLearningComputeMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/mappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/parameters.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/usagesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/virtualMachineSizesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspacesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/machineLearningCompute.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/usages.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/virtualMachineSizes.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

[core-http] Add dependency "process" (#4043)
  sdk/core/core-http/package.json
Due: none

[core-http] Add "proxyPolicy" to "browser" config (#4045)
  sdk/core/core-http/package.json
Due: none

[Storage] Update versions to preview.1.0
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file/package.json
  sdk/storage/storage-file/src/utils/constants.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
Due: none

added env var for eventhubs
  sdk/eventhub/event-hubs/tests.yml
Due: none

Remove 'private: true' from package.json
  sdk/core/core-http/package.json
Due: none

Set @azure/core-http version to 1.0.0-preview.1.0
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Due: none

Update README.md to conform to guidelines
  .docsettings.yml
  sdk/core/core-http/README.md
Due: .azure-pipelines/js-mgmt-ci.yml

Reset Changelog.md and add details for preview release
  sdk/core/core-http/Changelog.md
Due: none

Fix linting errors
  sdk/core/core-http/lib/httpPipelineLogger.ts
  sdk/core/core-http/lib/url.ts
Due: none

Fix versions in readme and samples
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-file/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file/src/utils/utils.common.ts
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/samples/javascript/azureAdAuth.js
  sdk/storage/storage-queue/samples/javascript/basic.js
  sdk/storage/storage-queue/samples/typescript/azureAdAuth.ts
  sdk/storage/storage-queue/samples/typescript/basic.ts
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
Due: none

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml

Update rollup-plugin-node-resolve to 5.0.2
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Due: none

Disable tree-shaking of test code
  sdk/core/abort-controller/rollup.base.config.js
  sdk/core/core-amqp/rollup.base.config.js
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-processor-host/rollup.base.config.js
  sdk/identity/identity/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/template/template/rollup.base.config.js
Due: none

Fix quotes in comments
  sdk/core/abort-controller/rollup.base.config.js
  sdk/core/core-amqp/rollup.base.config.js
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-processor-host/rollup.base.config.js
  sdk/identity/identity/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/template/template/rollup.base.config.js
Due: none

Update rollup-plugin-node-resolve to 5.0.2 (#3997)
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/package.json
  sdk/core/abort-controller/rollup.base.config.js
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/rollup.base.config.js
  sdk/core/core-http/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/event-processor-host/rollup.base.config.js
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-file/rollup.base.config.js
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/template/template/package.json
  sdk/template/template/rollup.base.config.js
Due: .azure-pipelines/js-mgmt-ci.yml

Unpin "resolve" - Repo has been updated to "rollup-plugin-node-resolve@5.0.2", which is compatible with "resolve@1.11.1"
  common/config/rush/common-versions.json
Due: .azure-pipelines/js-mgmt-ci.yml

Replace "events" with "events/" in "namedExports"
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file/rollup.base.config.js
Due: none

import { delay } from "@azure/core-http";
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
  sdk/storage/storage-file/test/fileserviceclient.spec.ts
  sdk/storage/storage-file/test/utils/recorder.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils/recorder.ts
Due: none

disable tests - playback
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
Due: none

[Storage] Fix build failures and disable playback in PR validations (#4056)
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
  sdk/storage/storage-file/package.json
  sdk/storage/storage-file/test/fileserviceclient.spec.ts
  sdk/storage/storage-file/test/utils/recorder.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils/recorder.ts
Due: none

update tests to enable record and playback
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-file/test/fileserviceclient.spec.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Due: none

update retrypolicy test
  sdk/storage/storage-blob/test/retrypolicy.spec.ts
Due: none

updates for tests to enable playback
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
Due: none

skip connectionstring constructor tests
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
Due: none

revert chnages from other packages
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/test/messagesclient.spec.ts
Due: none

import delay from recorder
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
