Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

Minor spell change
  sdk/search/search-documents/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Event Hubs] getParentSpan to take tracing options directly (#8601)
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/sender.ts
  sdk/eventhub/event-hubs/src/util/operationOptions.ts
Due: none

TEST_MODE is not needed for EH & SB tests
  sdk/eventhub/event-hubs/test/README.md
  sdk/servicebus/service-bus/test/README.md
Due: none

Generated from 4c5c73359f24eb1f7aaabf09219ef4b8c7e5e957
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClientContext.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/parameters.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/collection.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/collectionPartition.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/collectionPartitionRegion.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/collectionRegion.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/database.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/databaseAccountRegion.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/databaseAccounts.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/gremlinResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/mongoDBResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/notebookWorkspaces.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/partitionKeyRangeId.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/partitionKeyRangeIdRegion.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/percentile.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/percentileSourceTarget.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/percentileTarget.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/privateEndpointConnections.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/privateLinkResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/tableResources.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 263bb7025dd20778528dac4e44feb0ba38d8e507
  sdk/reservations/arm-reservations/LICENSE.txt
  sdk/reservations/arm-reservations/README.md
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
  sdk/reservations/arm-reservations/src/azureReservationAPIContext.ts
  sdk/reservations/arm-reservations/src/models/autoQuotaIncreaseMappers.ts
  sdk/reservations/arm-reservations/src/models/index.ts
  sdk/reservations/arm-reservations/src/models/mappers.ts
  sdk/reservations/arm-reservations/src/models/parameters.ts
  sdk/reservations/arm-reservations/src/models/quotaMappers.ts
  sdk/reservations/arm-reservations/src/models/quotaRequestStatusMappers.ts
  sdk/reservations/arm-reservations/src/models/reservationOrderMappers.ts
  sdk/reservations/arm-reservations/src/operations/autoQuotaIncrease.ts
  sdk/reservations/arm-reservations/src/operations/index.ts
  sdk/reservations/arm-reservations/src/operations/operation.ts
  sdk/reservations/arm-reservations/src/operations/quota.ts
  sdk/reservations/arm-reservations/src/operations/quotaRequestStatus.ts
  sdk/reservations/arm-reservations/src/operations/reservation.ts
  sdk/reservations/arm-reservations/src/operations/reservationOrder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 35df580831b00ad4906e0dee42a677e58487f7cc
  sdk/vmwarevirtustream/arm-vmwarevirtustream/LICENSE.txt
  sdk/vmwarevirtustream/arm-vmwarevirtustream/README.md
  sdk/vmwarevirtustream/arm-vmwarevirtustream/package.json
  sdk/vmwarevirtustream/arm-vmwarevirtustream/rollup.config.js
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/azureVMwareSolutionbyVirtustreamAPI.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/azureVMwareSolutionbyVirtustreamAPIContext.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/clustersMappers.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/index.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/mappers.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/operationsMappers.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/parameters.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/models/privateCloudsMappers.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/operations/clusters.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/operations/index.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/operations/operations.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/src/operations/privateClouds.ts
  sdk/vmwarevirtustream/arm-vmwarevirtustream/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

improve comments
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/models/public.ts
Due: none

[event-hubs] update sendBatch to accept lists of events (#8622)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Update sdk/search/search-documents/README.md
  sdk/search/search-documents/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

nit
  sdk/search/search-documents/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[FormRecognizer] Update README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Identity changelog updates for 1.1.0-preview.3 (#8613)
  sdk/identity/identity/CHANGELOG.md
Due: none

Update sdk/core/core-lro/README.md
  sdk/core/core-lro/README.md
Due: none

Open a sender when you create it from servicebusclient
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/deadLetter.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

disable samples testing for form recognizer until it's ready for nightly live runs
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[FormRecognizer] Update README.md (#8631)
  sdk/formrecognizer/ai-form-recognizer/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

use Node 10 for samples
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update test message
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
Due: none

[event-hubs] improve EventDataBatch.tryAdd performance
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
Due: none

[Event Hubs] Readme updates based on feedback (#8599)
  sdk/eventhub/event-hubs/README.md
Due: none

Updating test file to be a bit more accurate in our new world.
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
Due: none

ensure size doesn't grow if invalid event is added as 1st event
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
Due: none

Somehow missed this one.
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

Skip recovering the sender link in favour of higher level retries
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
Due: none

Readme content of Azure Search Documents is unclear (#8582)
  sdk/search/search-documents/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Modified changelog
  sdk/core/core-http/CHANGELOG.md
Due: none

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

resettin pnpm lock from master and rush update
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Code change to check if delimiter is tabs-spaces & value is null/undefined (#8604)
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Due: none

this line is not necessary
  sdk/core/core-lro/README.md
Due: none

moving the comments to the changelog
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
Due: none

Update sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
Due: none

Add internal/ignore tags
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

[Service Bus] Backup Message Settlement with managementLink - track 2 (#8340)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/deadLetter.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none
