Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Change log fix
  sdk/template/template/CHANGELOG.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Remove extra changes
  sdk/core/ci.yml
Due: none

extra line
  sdk/core/ci.yml
Due: none

change log fix
  sdk/template/template/CHANGELOG.md
Due: none

Browser bundling
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples/README.md
Due: none

Update sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed the yml then print repo id
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/build.yml
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485213901
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485976469 and merging some lines
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485968140
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485972878
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Key Vault Admin] Convenience layer - KeyVaultBackupClient (#11009)
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing two feedbacks
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment version for storage releases (#11137)
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-blob-changefeed (#11139)
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-core-http (#11121)
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

Increment package version after release of azure-identity (#11120)
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Due: none

[Service Bus] Browser bundling (#11160)
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples/README.md
Due: none

Revert all unnecessary chagnes
  eng/pipelines/templates/stages/archetype-js-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add identity devdep
  sdk/learn/design-tutorial/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressing https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485994803
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

wip
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

improve datalake and changefeed samples
  sdk/storage/storage-blob-changefeed/samples/javascript/package.json
  sdk/storage/storage-blob-changefeed/samples/javascript/sample.env
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/samples/README.md
  sdk/storage/storage-file-datalake/samples/javascript/README.md
  sdk/storage/storage-file-datalake/samples/javascript/basic.js
  sdk/storage/storage-file-datalake/samples/javascript/package.json
  sdk/storage/storage-file-datalake/samples/javascript/sample.env
  sdk/storage/storage-file-datalake/samples/package.json
  sdk/storage/storage-file-datalake/samples/tsconfig.json
  sdk/storage/storage-file-datalake/samples/typescript/README.md
  sdk/storage/storage-file-datalake/samples/typescript/package.json
  sdk/storage/storage-file-datalake/samples/typescript/sample.env
  sdk/storage/storage-file-datalake/samples/typescript/src/basic.ts
  sdk/storage/storage-file-datalake/samples/typescript/tsconfig.json
  sdk/storage/storage-file-share/samples/README.md
  sdk/storage/storage-queue/samples/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix README.md
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-datalake/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage] Fix file datalake build warning. (#11143)
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Revert "Commit service-bus.api.md"
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

fix samples to work with dev-tool
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/samples/javascript/basic.js
  sdk/storage/storage-file-datalake/samples/typescript/src/basic.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix README.md (#11165)
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-datalake/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Run rush update
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[storage] improve datalake and changefeed samples (#11164)
  sdk/storage/storage-blob-changefeed/samples/javascript/package.json
  sdk/storage/storage-blob-changefeed/samples/javascript/sample.env
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/samples/README.md
  sdk/storage/storage-file-datalake/samples/javascript/README.md
  sdk/storage/storage-file-datalake/samples/javascript/basic.js
  sdk/storage/storage-file-datalake/samples/javascript/package.json
  sdk/storage/storage-file-datalake/samples/javascript/sample.env
  sdk/storage/storage-file-datalake/samples/package.json
  sdk/storage/storage-file-datalake/samples/tsconfig.json
  sdk/storage/storage-file-datalake/samples/typescript/README.md
  sdk/storage/storage-file-datalake/samples/typescript/package.json
  sdk/storage/storage-file-datalake/samples/typescript/sample.env
  sdk/storage/storage-file-datalake/samples/typescript/src/basic.ts
  sdk/storage/storage-file-datalake/samples/typescript/tsconfig.json
  sdk/storage/storage-file-share/samples/README.md
  sdk/storage/storage-queue/samples/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 284f4341279535e1af43f19440b90a0d0e82e10d
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/configServersMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/monitoringSettingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/runtimeVersionsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/runtimeVersions.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

enable no-duplicate-imports eslint rule. Fixed no-duplicate issues in service-bus project
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

version bump
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from f69510cef189b74f05f0a26e815a096faccbc386
  sdk/eventhub/arm-eventhub/LICENSE.txt
  sdk/eventhub/arm-eventhub/README.md
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/rollup.config.js
  sdk/eventhub/arm-eventhub/src/eventHubManagementClient.ts
  sdk/eventhub/arm-eventhub/src/eventHubManagementClientContext.ts
  sdk/eventhub/arm-eventhub/src/models/clustersMappers.ts
  sdk/eventhub/arm-eventhub/src/models/configurationMappers.ts
  sdk/eventhub/arm-eventhub/src/models/disasterRecoveryConfigsMappers.ts
  sdk/eventhub/arm-eventhub/src/models/eventHubsMappers.ts
  sdk/eventhub/arm-eventhub/src/models/index.ts
  sdk/eventhub/arm-eventhub/src/models/mappers.ts
  sdk/eventhub/arm-eventhub/src/models/namespacesMappers.ts
  sdk/eventhub/arm-eventhub/src/models/parameters.ts
  sdk/eventhub/arm-eventhub/src/models/privateEndpointConnectionsMappers.ts
  sdk/eventhub/arm-eventhub/src/models/privateLinkResourcesMappers.ts
  sdk/eventhub/arm-eventhub/src/models/regionsMappers.ts
  sdk/eventhub/arm-eventhub/src/operations/clusters.ts
  sdk/eventhub/arm-eventhub/src/operations/configuration.ts
  sdk/eventhub/arm-eventhub/src/operations/consumerGroups.ts
  sdk/eventhub/arm-eventhub/src/operations/disasterRecoveryConfigs.ts
  sdk/eventhub/arm-eventhub/src/operations/eventHubs.ts
  sdk/eventhub/arm-eventhub/src/operations/index.ts
  sdk/eventhub/arm-eventhub/src/operations/namespaces.ts
  sdk/eventhub/arm-eventhub/src/operations/operations.ts
  sdk/eventhub/arm-eventhub/src/operations/privateEndpointConnections.ts
  sdk/eventhub/arm-eventhub/src/operations/privateLinkResources.ts
  sdk/eventhub/arm-eventhub/src/operations/regions.ts
  sdk/eventhub/arm-eventhub/tsconfig.json
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
