Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Increment package version after release of azure-storage-file-datalake
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-storage-blob-changefeed
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ff1e11c67c28cf17008e44908fd0dcfb10f45c55
  sdk/postgresql/arm-postgresql/LICENSE.txt
  sdk/postgresql/arm-postgresql/README.md
  sdk/postgresql/arm-postgresql/package.json
  sdk/postgresql/arm-postgresql/rollup.config.js
  sdk/postgresql/arm-postgresql/src/models/configurationsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/databasesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/firewallRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/index.ts
  sdk/postgresql/arm-postgresql/src/models/mappers.ts
  sdk/postgresql/arm-postgresql/src/models/parameters.ts
  sdk/postgresql/arm-postgresql/src/models/privateEndpointConnectionsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/privateLinkResourcesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/replicasMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverAdministratorsMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverKeysMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serverSecurityAlertPoliciesMappers.ts
  sdk/postgresql/arm-postgresql/src/models/serversMappers.ts
  sdk/postgresql/arm-postgresql/src/models/virtualNetworkRulesMappers.ts
  sdk/postgresql/arm-postgresql/src/operations/checkNameAvailability.ts
  sdk/postgresql/arm-postgresql/src/operations/configurations.ts
  sdk/postgresql/arm-postgresql/src/operations/databases.ts
  sdk/postgresql/arm-postgresql/src/operations/firewallRules.ts
  sdk/postgresql/arm-postgresql/src/operations/index.ts
  sdk/postgresql/arm-postgresql/src/operations/locationBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/logFiles.ts
  sdk/postgresql/arm-postgresql/src/operations/operations.ts
  sdk/postgresql/arm-postgresql/src/operations/privateEndpointConnections.ts
  sdk/postgresql/arm-postgresql/src/operations/privateLinkResources.ts
  sdk/postgresql/arm-postgresql/src/operations/replicas.ts
  sdk/postgresql/arm-postgresql/src/operations/serverAdministrators.ts
  sdk/postgresql/arm-postgresql/src/operations/serverKeys.ts
  sdk/postgresql/arm-postgresql/src/operations/serverSecurityAlertPolicies.ts
  sdk/postgresql/arm-postgresql/src/operations/servers.ts
  sdk/postgresql/arm-postgresql/src/operations/virtualNetworkRules.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClient.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClientContext.ts
  sdk/postgresql/arm-postgresql/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Storage] Fix file datalake build warning.
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix test failure
  sdk/servicebus/service-bus/src/constructorHelpers.ts
Due: none

fixed iteration marker in sample
  sdk/storage/storage-blob/samples/javascript/iterators-containers.js
Due: none

Generated from 6934fa73a2cd4ee2f2fdd1994bf913fe56bc53cb
  sdk/automanage/arm-automanage/LICENSE.txt
  sdk/automanage/arm-automanage/README.md
  sdk/automanage/arm-automanage/package.json
  sdk/automanage/arm-automanage/rollup.config.js
  sdk/automanage/arm-automanage/src/automanageClient.ts
  sdk/automanage/arm-automanage/src/automanageClientContext.ts
  sdk/automanage/arm-automanage/src/models/accountsMappers.ts
  sdk/automanage/arm-automanage/src/models/configurationProfileAssignmentsMappers.ts
  sdk/automanage/arm-automanage/src/models/configurationProfilePreferencesMappers.ts
  sdk/automanage/arm-automanage/src/models/index.ts
  sdk/automanage/arm-automanage/src/models/mappers.ts
  sdk/automanage/arm-automanage/src/models/operationsMappers.ts
  sdk/automanage/arm-automanage/src/models/parameters.ts
  sdk/automanage/arm-automanage/src/operations/accounts.ts
  sdk/automanage/arm-automanage/src/operations/configurationProfileAssignments.ts
  sdk/automanage/arm-automanage/src/operations/configurationProfilePreferences.ts
  sdk/automanage/arm-automanage/src/operations/index.ts
  sdk/automanage/arm-automanage/src/operations/operations.ts
  sdk/automanage/arm-automanage/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Text Analytics] Prettying (#11079)
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Search] Prettying (#11096)
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setup.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Schema Registery] prettying (#11094)
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Identity] Prettying (#11082)
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/test/public/clientCertificateCredential.spec.ts
Due: none

[Service Bus] Added EnableExpress property (#10984)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

[Event Grid] Prettying (#11090)
  sdk/eventgrid/eventgrid/karma.conf.js
  sdk/eventgrid/eventgrid/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixed https://github.com/Azure/azure-sdk-for-js/pull/11075#discussion_r485179185
  sdk/keyvault/keyvault-admin/CHANGELOG.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

some fixes
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Update sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

more changes
  sdk/keyvault/keyvault-admin/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Validate connection config to ensure entityPath is not stringified undefined (#11144)
  sdk/servicebus/service-bus/src/constructorHelpers.ts
Due: none

Sync eng/common directory with azure-sdk-tools repository for Tools PR 979
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-data-tables (#11130)
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[service-bus] Logging updates (#11058)
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Due: none

Add parameters to function (#11131)
  eng/scripts/Language-Settings.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix readme, version and useragent
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

AvailabilityStatus property added to Queue, Topic and Subscription properties
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Commit service-bus.api.md
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

fix assert in browser
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
Due: none

Increment package version after release of azure-eventgrid
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fix readme, version and useragent (#11151)
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-eventgrid (#11156)
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

moving the internal properties to an options bag
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

no need for requestParameters
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Increment package version after release of azure-schema-registry
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

no need for requestParameters, and some cleanup on the pollers
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] fix assert in browser (#11153)
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
Due: none

Increment package version after release of azure-schema-registry-avro
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Addressed https://github.com/Azure/azure-sdk-for-js/pull/11009#discussion_r485232118
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Enable the master link replacement feature in js
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/build.yml
  sdk/core/ci.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
