Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

Allow test PRs in SubmitPullRequest.ps1 script, updates to Invoke-GitHubAPI
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

async isAvailable and cached MSI
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
Due: none

formatting
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
Due: none

Adding in an errorContext parameter to processError to allow users to distinguish the source of an error, etc...
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
Due: none

No only's!
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

Sync eng/common directory with azure-sdk-tools for PR 968 (#11925)
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixing incorrect help link
  sdk/servicebus/service-bus/README.md
Due: none

Fill in all the placeholders with tests
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

Increment package version after release of azure-template
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Due: none

Fixing samples to show the context parameter and use it in a basic way
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
Due: none

minor edits to defaults and a new test
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

one more test where map has more items
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

* userCallback -=> processMessageCallback * remove 'session' related error sources, just use 'receive'
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Due: none

[Service Bus] Fix MaxListenersExceeded for management client (#11738)
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
Due: none

changelog - move to core-amqp and a minor update with added warning
  sdk/core/core-amqp/CHANGELOG.md
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Removing the initialize error source in favor of just using receive.
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
Due: none

Rerun prettier
  sdk/servicebus/service-bus/src/index.ts
Due: none

retarget master as the base branch for docs metadata release
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

initial commit
  sdk/api-learn/design-tutorial/src/generated/generatedClient.ts
  sdk/api-learn/design-tutorial/src/generated/models/index.ts
  sdk/api-learn/design-tutorial/src/generated/models/mappers.ts
  sdk/api-learn/design-tutorial/src/generated/models/parameters.ts
  sdk/api-learn/design-tutorial/src/index.ts
  sdk/api-learn/design-tutorial/swagger/README.md
  sdk/api-learn/design-tutorial/test/example.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

some comments
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

remove .only
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

Fix some issues with streams.
  sdk/core/core-https/src/nodeHttpsClient.ts
Due: none

chore(azure-digital-twins-core): fix readme
  sdk/digitaltwins/digital-twins-core/README.md
  sdk/digitaltwins/digital-twins-core/samples/Readme.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Adding in tests for the primary error sources (ourselves or their callback).
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Due: none

MSIs now have isAvailable and getToken, and a sketch of arcMsi
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
Due: none

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/policy/arm-policy/src/models/index.ts
  sdk/policy/arm-policy/src/models/mappers.ts
  sdk/policy/arm-policy/src/models/parameters.ts
  sdk/policy/arm-policy/src/models/policyAssignmentsMappers.ts
  sdk/policy/arm-policy/src/models/policyExemptionsMappers.ts
  sdk/policy/arm-policy/src/models/policySetDefinitionsMappers.ts
  sdk/policy/arm-policy/src/operations/index.ts
  sdk/policy/arm-policy/src/operations/policyAssignments.ts
  sdk/policy/arm-policy/src/operations/policyDefinitions.ts
  sdk/policy/arm-policy/src/operations/policyExemptions.ts
  sdk/policy/arm-policy/src/operations/policySetDefinitions.ts
  sdk/policy/arm-policy/src/policyClient.ts
  sdk/policy/arm-policy/src/policyClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from ced22fbdf526a9d90c3cbfeb180ce515432a6af4
  sdk/resources/arm-resources/src/operations/providers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

add ut
  sdk/api-learn/design-tutorial/src/configurationClient.ts
  sdk/api-learn/design-tutorial/test/example.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/policy/arm-policy/src/models/index.ts
  sdk/policy/arm-policy/src/models/mappers.ts
  sdk/policy/arm-policy/src/models/parameters.ts
  sdk/policy/arm-policy/src/models/policyAssignmentsMappers.ts
  sdk/policy/arm-policy/src/models/policyExemptionsMappers.ts
  sdk/policy/arm-policy/src/models/policySetDefinitionsMappers.ts
  sdk/policy/arm-policy/src/operations/index.ts
  sdk/policy/arm-policy/src/operations/policyAssignments.ts
  sdk/policy/arm-policy/src/operations/policyDefinitions.ts
  sdk/policy/arm-policy/src/operations/policyExemptions.ts
  sdk/policy/arm-policy/src/operations/policySetDefinitions.ts
  sdk/policy/arm-policy/src/policyClient.ts
  sdk/policy/arm-policy/src/policyClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 8fef5aa9535a6968cfcb07241ff99b6222c8320a
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/operations/providers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
