Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/aggregate-reports.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/aggregate-reports.yml:
  jobs:
  - job: ValidateDependencies
    pool:
      vmImage: windows-2019
    steps:
    - task: NodeTool@0
      displayName: Use Node 10.x
      inputs:
        versionSpec: 10.x
    - template: ../common/pipelines/templates/steps/verify-links.yml
      parameters:
        Directory: ''
    - script: npm ci
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Update ReqResLink.sendRequest to use a single listener as opposed to adding a new listener for each send request
  sdk/core/core-amqp/src/requestResponseLink.ts
Due: none

renames and some docs
  sdk/core/core-amqp/src/requestResponseLink.ts
Due: none

Revert "fix MaxListenersExceeded for management client"
  sdk/servicebus/service-bus/src/core/managementClient.ts
Due: none

Fix typeerror in the tests by passing connection object in the OnMessageReceived Handler
  sdk/core/core-amqp/src/requestResponseLink.ts
Due: none

fix mocked test.. on is not found on receiver
  sdk/core/core-amqp/test/requestResponse.spec.ts
Due: none

Finish up
  sdk/api-learn/implementation-tutorial/review/implementation-tutorial.api.md
  sdk/api-learn/implementation-tutorial/src/configurationClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Fixup missing file and configure rollup
  sdk/api-learn/design-activity/rollup.base.config.js
  sdk/api-learn/design-tutorial/rollup.base.config.js
  sdk/api-learn/implementation-tutorial/rollup.base.config.js
  sdk/api-learn/implementation-tutorial/src/tracing.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Supends -> Suspends
  sdk/analysisservices/arm-analysisservices/src/operations/servers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

use beta
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix listContainers when include = []
  sdk/storage/storage-blob/src/BlobServiceClient.ts
Due: none

fix CI
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_agentobjectid_preauthorizedagentobjectid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_correlationid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_could_calculate_directory_depth.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_file_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_filesystem_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_setproperties.json
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_setproperties.js
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[storage][stg74] fix ci (#11752)
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_agentobjectid_preauthorizedagentobjectid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_correlationid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_could_calculate_directory_depth.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_file_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_filesystem_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_setproperties.json
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_setproperties.js
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

ServiceBus remove InternalReceiveMode usage
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Due: none

Generated from 5365978500caa6801163df3c13f93f5e25eb6878
  sdk/datadog/arm-datadog/LICENSE.txt
  sdk/datadog/arm-datadog/README.md
  sdk/datadog/arm-datadog/package.json
  sdk/datadog/arm-datadog/rollup.config.js
  sdk/datadog/arm-datadog/src/microsoftDatadogClient.ts
  sdk/datadog/arm-datadog/src/microsoftDatadogClientContext.ts
  sdk/datadog/arm-datadog/src/models/apiKeysMappers.ts
  sdk/datadog/arm-datadog/src/models/hostsMappers.ts
  sdk/datadog/arm-datadog/src/models/index.ts
  sdk/datadog/arm-datadog/src/models/linkedResourcesMappers.ts
  sdk/datadog/arm-datadog/src/models/mappers.ts
  sdk/datadog/arm-datadog/src/models/monitoredResourcesMappers.ts
  sdk/datadog/arm-datadog/src/models/monitorsMappers.ts
  sdk/datadog/arm-datadog/src/models/operationsMappers.ts
  sdk/datadog/arm-datadog/src/models/parameters.ts
  sdk/datadog/arm-datadog/src/models/refreshSetPasswordMappers.ts
  sdk/datadog/arm-datadog/src/models/singleSignOnConfigurationsMappers.ts
  sdk/datadog/arm-datadog/src/models/tagRulesMappers.ts
  sdk/datadog/arm-datadog/src/operations/apiKeys.ts
  sdk/datadog/arm-datadog/src/operations/hosts.ts
  sdk/datadog/arm-datadog/src/operations/index.ts
  sdk/datadog/arm-datadog/src/operations/linkedResources.ts
  sdk/datadog/arm-datadog/src/operations/monitoredResources.ts
  sdk/datadog/arm-datadog/src/operations/monitors.ts
  sdk/datadog/arm-datadog/src/operations/operations.ts
  sdk/datadog/arm-datadog/src/operations/refreshSetPassword.ts
  sdk/datadog/arm-datadog/src/operations/singleSignOnConfigurations.ts
  sdk/datadog/arm-datadog/src/operations/tagRules.ts
  sdk/datadog/arm-datadog/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

unskip quick query record & support include-leased for x-ms-delete-snapshots
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_conditional_tags.js
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

unskip quick query record & support include-leased for x-ms-delete-snapshots (#11754)
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_conditional_tags.js
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

Resolve CRI failure
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Resolve CRI failure (#11756)
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix lease test case
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

use preview for blob and use defaultCredential in datalake
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

use preview subscription for datalake
  sdk/storage/storage-file-datalake/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

fix An exception thrown on Safari 5.0
  sdk/core/core-http/src/serializer.ts
Due: none

Generated from 107bc96b5f9b28633b5f99549f983421e66d8ddc
  sdk/kusto/arm-kusto/src/kustoManagementClientContext.ts
  sdk/kusto/arm-kusto/src/models/index.ts
  sdk/kusto/arm-kusto/src/models/mappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

turn on log
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

throw when accountName is invalid
  sdk/storage/storage-file-datalake/test/utils/index.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

CONTAINER_SOFT_DELETE_
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

set cors in service properties
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

PREMIUM_FILE_
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

blob remove .only
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Due: none

SOFT_DELETE_ for both blob and share
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/sample.env
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

unskip a tag case
  sdk/storage/storage-blob/test/blobclient.spec.ts
Due: none

Generated from c219978ee618f03534e9e7db8ce326f6f74f3b4d
  sdk/healthcareapis/arm-healthcareapis/LICENSE.txt
  sdk/healthcareapis/arm-healthcareapis/README.md
  sdk/healthcareapis/arm-healthcareapis/package.json
  sdk/healthcareapis/arm-healthcareapis/rollup.config.js
  sdk/healthcareapis/arm-healthcareapis/src/healthcareApisManagementClient.ts
  sdk/healthcareapis/arm-healthcareapis/src/healthcareApisManagementClientContext.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/index.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/mappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/operationResultsMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/operationsMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/parameters.ts
  sdk/healthcareapis/arm-healthcareapis/src/models/servicesMappers.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/index.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/operationResults.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/operations.ts
  sdk/healthcareapis/arm-healthcareapis/src/operations/services.ts
  sdk/healthcareapis/arm-healthcareapis/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

unskip all f,t cases in browser
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/blobversioning.spec.ts
Due: none

file use production subscription
  sdk/storage/storage-file-share/tests.yml
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml

add role for datalakeAccount
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

me
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Due: none

undo datalake roleAssignment
  sdk/storage/test-resources.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

unskip blob delegation SAS cases via using DefaultCredential
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob_version_delete.js
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
Due: none

Record RecAcl
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_removeaccesscontrolrecursive_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_aborter__resume_.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_options__batchsize.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_options__maxbatches.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_progress_failures.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_updateaccesscontrolrecursive_should_work.js
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/aggregate-reports.yml: any of: eng/pipelines/aggregate-reports.yml
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
