Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

.azure-pipelines/js-mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
    - task: Npm@1
  ...

.azure-pipelines/js-mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-ci.yml:
  jobs:
  - job: Build
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
        verbose: false
  ...

eng/pipelines/mgmt-pr.yml:
  jobs:
  - job: Build
    displayName: Build auto-generated projects
    pool:
      vmImage: Ubuntu 16.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
      displayName: Install Node.js $(NodeVersion)
    - task: Npm@1
      displayName: npm install
      inputs:
  ...

Update workspace
  dataplane.code-workspace
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Changed langauge in aad sample docstring
  sdk/textanalytics/ai-text-analytics/samples/javascript/authenticateWithAad.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/authenticateWithAad.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Rename package
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/api-extractor.json
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/javascript/package.json
  sdk/search/search-documents/samples/javascript/readonlyQuery.js
  sdk/search/search-documents/samples/typescript/package.json
  sdk/search/search-documents/samples/typescript/src/readonlyQuery.ts
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchIndexClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchServiceClient.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Retries for streaming receiver and OnDetached (#8155)
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
Due: none

[Service Bus] Pass abortsignal to retry()
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/subscriptionRuleManager.ts
  sdk/servicebus/service-bus/src/sender.ts
Due: none

[service-bus] remove ms-rest-nodeauth dependency (#8197)
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/node/aad.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

repro - retry discrepancy
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Due: none

[Service Bus] Pass abortsignal to retry() (#8202)
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/subscriptionRuleManager.ts
  sdk/servicebus/service-bus/src/sender.ts
Due: none

reorder imports
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
Due: none

Formatting, some doc changes for JS samples
  sdk/textanalytics/ai-text-analytics/samples/javascript/alternativeDocumentInput.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeLinkedEntities.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Expanded authentication sample
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/authenticateWithAad.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/authenticationMethods.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/authenticateWithAad.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/authenticationMethods.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Address feedback
  sdk/core/core-http/README.md
Due: none

started changing the template project
  documentation/writing_tests.md
  sdk/template/template/package.json
  sdk/template/template/review/template.api.md
  sdk/template/template/rollup.base.config.js
  sdk/template/template/src/clientMethodDependency.ts
  sdk/template/template/src/index.ts
  sdk/template/template/src/internalClass.ts
  sdk/template/template/src/universalEventEmitter.ts
  sdk/template/template/test/internal/internalClass.spec.ts
  sdk/template/template/test/public/clientMethodDependency.ts
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Creating SenderBusyError
  sdk/eventhub/event-hubs/samples/typescript/package.json
  sdk/eventhub/event-hubs/samples/typescript/src/sendEvents.ts
Due: none

revert SBC
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Due: none

Cache readable stream to buffer up to 50 MB.
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/rollup.base.config.js
  sdk/formrecognizer/ai-form-recognizer/src/common.ts
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/layoutRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/receiptRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/utils/utils.browser.ts
  sdk/formrecognizer/ai-form-recognizer/src/utils/utils.node.ts
  sdk/formrecognizer/ai-form-recognizer/test/common.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Update param names to match those in Event Hubs
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Update docs as per Event Hubs as well
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

hostName -> fullyQualifiedNamespace
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

tokenCredential -> credential
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Remove .only
  sdk/formrecognizer/ai-form-recognizer/test/node/utils.spec.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Update param names to match those in Event Hubs (#8205)
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Due: none

Long.Long -> Long
  sdk/servicebus/service-bus/src/sender.ts
Due: none

[Service Bus] peek -> browse
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/track2.samples.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

Fix the Long_2 in api review
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
Due: none

[ai-text-analytics] Refactor samples (#8199)
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/alternativeDocumentInput.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/authenticationMethods.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/tokenAuth.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/authenticationMethods.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/tokenAuth.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[Service Bus] Use create instead of get when creating senders and receivers
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deadLetter.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/track2.samples.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Due: none

rename to autoRenewLockDurationInMs
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionManualLockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionState.ts
Due: none

[ai-text-analytics] added note to readme about roles (#7054)
  sdk/textanalytics/ai-text-analytics/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

generate API report
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

Updated references in md files
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Due: none

Update js sample
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
Due: none

Update js samples
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
Due: none

Update sdk/servicebus/service-bus/test/stress/stress_sessionState.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionState.ts
Due: none

update test file
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
Due: none

maxAutoRenewDurationInMs rename
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
Due: none

rename to maxMessageAutoRenewLockDurationInMs
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/stress/stress_messageAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageLockRenewalBatchingThenStreaming.ts
  sdk/servicebus/service-bus/test/stress/stress_messageManualLockRenewal.ts
Due: none

api report
  sdk/servicebus/service-bus/review/service-bus.api.md
Due: none

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
