Repository Azure/azure-sdk-for-js: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Path conditions:
  .azure-pipelines/js-mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-certificates, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  .azure-pipelines/js-mgmt-pr.yml: any of: sdk, but not: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-ci.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template
  eng/pipelines/mgmt-pr.yml: any file but: sdk/core, sdk/cosmosdb/cosmos, sdk/eventhub, sdk/identity, sdk/keyvault/keyvault-certificates, sdk/keyvault/keyvault-keys, sdk/keyvault/keyvault-secrets, sdk/keyvault/keyvault, sdk/servicebus/service-bus, sdk/storage/storage-blob, sdk/storage/storage-datalake, sdk/storage/storage-file-share, sdk/storage/storage-queue, sdk/template/template

Remove azure-core-https from the artifact list. (#9277)
  sdk/core/ci.yml
Due: none

[Event Hubs] Refactor client tests to use producer & consumer clients (#9200)
  sdk/eventhub/event-hubs/test/client.spec.ts
Due: none

Generated from 83ca52f6ea230282251d0b179a10e29b5f7984bd
  sdk/operationalinsights/arm-operationalinsights/src/models/index.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/mappers.ts
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

remove unused helper
  sdk/servicebus/service-bus/src/util/utils.ts
Due: none

Generated from de12023ec12abd2c6593440a5fc3b27e0bfc615a
  sdk/appplatform/arm-appplatform/LICENSE.txt
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/rollup.config.js
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/operationsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/skuOperationsMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/certificates.ts
  sdk/appplatform/arm-appplatform/src/operations/customDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/src/operations/skuOperations.ts
  sdk/appplatform/arm-appplatform/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

test for Get namespace properties
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Generated from 66dca9ac432b03acb98333d4c5ce364bb4c741f0
  sdk/appplatform/arm-appplatform/LICENSE.txt
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/rollup.config.js
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/models/appsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/bindingsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/certificatesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/customDomainsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/deploymentsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/operationsMappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/models/servicesMappers.ts
  sdk/appplatform/arm-appplatform/src/models/skuOperationsMappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/certificates.ts
  sdk/appplatform/arm-appplatform/src/operations/customDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/src/operations/skuOperations.ts
  sdk/appplatform/arm-appplatform/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

tests for entityExists
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

tests for getEntitiesRuntimeInfo
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Add changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Due: none

Generated from 2ec08dbf0024615aef0c2b18ef70e9a1c7520e2f
  sdk/resourcegraph/arm-resourcegraph/LICENSE.txt
  sdk/resourcegraph/arm-resourcegraph/README.md
  sdk/resourcegraph/arm-resourcegraph/package.json
  sdk/resourcegraph/arm-resourcegraph/rollup.config.js
  sdk/resourcegraph/arm-resourcegraph/src/models/getMappers.ts
  sdk/resourcegraph/arm-resourcegraph/src/models/index.ts
  sdk/resourcegraph/arm-resourcegraph/src/models/listMappers.ts
  sdk/resourcegraph/arm-resourcegraph/src/models/mappers.ts
  sdk/resourcegraph/arm-resourcegraph/src/operations/get.ts
  sdk/resourcegraph/arm-resourcegraph/src/operations/index.ts
  sdk/resourcegraph/arm-resourcegraph/src/operations/list.ts
  sdk/resourcegraph/arm-resourcegraph/src/operations/operations.ts
  sdk/resourcegraph/arm-resourcegraph/src/resourceGraphClient.ts
  sdk/resourcegraph/arm-resourcegraph/src/resourceGraphClientContext.ts
  sdk/resourcegraph/arm-resourcegraph/tsconfig.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

correct version
  sdk/hdinsight/arm-hdinsight/package.json
  sdk/hdinsight/arm-hdinsight/src/hDInsightManagementClientContext.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Generated from 09397b6fbf432ab3b010c8a50f01a8ca550c8f18
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupEnginesMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupJobsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupPoliciesMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupProtectableItemsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupProtectedItemsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupProtectionContainersMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupProtectionIntentMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupResourceStorageConfigsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupResourceVaultConfigsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupWorkloadItemsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/backupsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/index.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/itemLevelRecoveryConnectionsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/jobDetailsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/mappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/privateEndpointConnectionOperationsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectableContainersMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectedItemOperationResultsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectedItemsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectionContainerOperationResultsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectionContainersMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectionIntentOperationsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectionPoliciesMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/protectionPolicyOperationResultsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/recoveryPointsMappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/restoresMappers.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

address feedback
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
Due: none

update service-bus core-amqp dep
  sdk/servicebus/service-bus/package.json
Due: none

fix test after merge
  sdk/eventhub/event-hubs/test/node/disconnects.spec.ts
Due: none

fix flaky receiver test
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Due: none

fix subscription description tests
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

subscription description - fix second test
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

fix queue options tests
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

queueOptions - updateQueue test fix
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

subscriptionOptions - updateSubscription test fix
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Due: none

Fix copy/pasted comment
  sdk/identity/identity/src/credentials/vscodeCredential.ts
Due: none

Increment package version after release of azure-core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Due: none

Update sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/connectionContext.ts
Due: none

Updating changelog and migration guide.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/migrationguide.md
Due: none

DO NOT MERGE: review PR
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.review.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed an errant code fence in the TA readme
  sdk/textanalytics/ai-text-analytics/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Delete - Seach API Changes
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/indexDocumentsBatch.ts
  sdk/search/search-documents/src/searchClient.ts
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

Removed an errant code fence in the TA readme (#9307)
  sdk/textanalytics/ai-text-analytics/README.md
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

tokenProvider attempt to fix
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Due: none

remove token credential overload
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Due: none

[identity] Update runtime dependency "jws"
  sdk/identity/identity/package.json
Due: none

rush update
  common/config/rush/pnpm-lock.yaml
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[identity] Update runtime dependency "jws" (#9165)
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml

[test-utils-recorder] Update runtime dependency "nise"
  sdk/test-utils/recorder/package.json
Due: .azure-pipelines/js-mgmt-ci.yml, .azure-pipelines/js-mgmt-pr.yml, eng/pipelines/mgmt-ci.yml, eng/pipelines/mgmt-pr.yml
